<%= form_for(question) do |f| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div>
 <span style="color: red; font-size: 12px;"><%= flash[:question] %></span>
</div>
  </br>
  <div class="field">
    <%= f.label :q_title, "제목 *"%>
    <%= f.text_field :q_title, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :comment, "내용 *" %>
    <%= f.text_area :comment %>
  </div>
  
	<br>
  <div class="field">
     <%= f.check_box(:secret) %>
		 <%= f.label(:secret, "비밀로하기") %>
  </div>

  </br>
	<div class="actions" style="text-align: center;">
	  <%= f.submit "문의하기", class:"login-button" %>
	</div>

<% end %>
