<div class="login_container">
   <div class="login_box">
      <div class="out_box">
         <h4>상품문의수정</h4>
         <div class="inner_box">
            <%= render 'form', question: @question %>
         </div>
      </div>
   </div>
</div>


