<div class="login_container">
   <div class="login_box">
      <div class="out_box">
         <h4>상품문의하기</h4>
         <div class="inner_box">
               <% if @product.id %>
            	   <h5><%= @product.p_title %> : <%= @product.p_comment %></h5>
               <% end %>
            <%= render 'form', question: @question %>
         </div>
      </div>
   </div>
</div>