<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @question.user %>
</p>

<p>
  <strong>Product:</strong>
  <%= @question.product %>
</p>

<p>
  <strong>Q title:</strong>
  <%= @question.q_title %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @question.comment %>
</p>

<div class="card-image">
  <div>
	<img src="<%= @question.image.url %>"/>
  </div>
</div>


<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
