<div class="login_container">
  <div class="login_box">
    <div class="out_box">
      <h4>이메일 재인증</h4>
      <div class="inner_box">
        <h5>EMAIL RECONFIRM</h5>
        </br>
        
          <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
            <%= devise_error_messages! %>
          
            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
            </div>
            </br>
            <div class="actions" style="text-align: center;">
              <%= f.submit "재인증 메일 보내기", class:"login-button" %>
            </div>
          <% end %>
          </br>
      </div>
    </div>
  </div>
</div>

