<!DOCTYPE html>
<html>
    <body>
        <div class="category_box">
      		<div class="bgimg"><a href='/category/denims'><%= image_tag('denim.png', style: "height: 130px; width: 130px; border: 1px solid #e0e0e0;") %></br><span class="bgimg-center">청바지</span></a></div>
      		<div class="bgimg"><a href='/category/shorts'><%= image_tag('short.png', style: "height: 130px; width: 130px; border: 1px solid #e0e0e0") %></br><span class="bgimg-center">반바지</span></a></div>
      		<div class="bgimg"><a href='/category/slacks'><%= image_tag('slacks.png', style: "height: 130px; width: 130px; border: 1px solid #e0e0e0;") %></br><span class="bgimg-center">슬랙스</span></a></div>
      		<div class="bgimg"><a href='/category/pants'><%= image_tag('pants.png', style: "height: 130px; width: 130px; border: 1px solid #e0e0e0;") %></br><span class="bgimg-center">면바지</span></a></div>
   		</div>
    </body>
</html>