<!-- 상품 정렬 -->

 <% if @category == 'denims' %>
<div class="row">
			<div class="col l5 s4 listline">
        </div>
        <div class="col l2 s4" style="text-align: center;">
         <a href='/category/denims' class="listfont">
          &nbsp;청바지
         </a></br>
         <a href='/category/denims' class="listfont2">
          DENIM
         </a>
        </div>
        <div class="col l5 s4 listline">
        </div>
       </div>
       </br>
<% elsif @category == 'pants' %>
	<div class="row">
        <div class="col l5 s4 listline">
        </div>
        <div class="col l2 s4" style="text-align: center;">
         <a href='/category/denims' class="listfont">
          &nbsp;면바지
         </a></br>
         <a href='/category/denims' class="listfont2">
          PANTS
         </a>
        </div>
        <div class="col l5 s4 listline">
        </div>
       </div>
       </br>
<% elsif @category == 'shorts' %>
	<div class="row">
        <div class="col l5 s4 listline">
        </div>
        <div class="col l2 s4" style="text-align: center;">
         <a href='/category/denims' class="listfont">
          &nbsp;반바지
         </a></br>
         <a href='/category/denims' class="listfont2">
          SHORTS
         </a>
        </div>
        <div class="col l5 s4 listline">
        </div>
       </div>
       </br>
<% elsif @category == 'slacks'%>
	<div class="row">
        <div class="col l5 s4 listline">
        </div>
        <div class="col l2 s4" style="text-align: center;">
         <a href='/category/denims' class="listfont">
          &nbsp;슬랙스
         </a></br>
         <a href='/category/denims' class="listfont2">
          SLACKS
         </a>
        </div>
        <div class="col l5 s4 listline">
        </div>
       </div>
       </br>
<%end %>
   
		 <% if @product.count == 0 %>
		 <div class="card_box">
		 <div style="text-align: center;">
       </br>
      <p style="font-size: 16px;">상품을 준비중에 있습니다.</p>
      <p>COMING SOON</p>
      </div>
			</div>
			<% else %>
  <div class="uimax-block-section-26 pdt-80 pdb-80">
      <div class="card_box">
        <div class="product-list">
     <% @product.each do |product| %>
		  <div class="item">
            <div class="product-item">
              <div class="pic-wrapper">
                <a href="/products/<%= product.p_category %>/<%= product.id %>" class="inner">
                  <img src="<%= product.m_image.url %>" alt="" class="pic" />   <!-- 상품 대표사진 --!>
                </a>
                <div class="pic-color">
                  <%if product.color1 != "" %>
                  <a href="javascript:void(0)" class="pick" style="background-color:<%=product.color1 %>;"></a>
                   <% end %>
                   <%if product.color2 != "" %>
                  <a href="javascript:void(0)" class="pick" style="background-color:<%=product.color2 %>;"></a>
                  <% end %>
                   <%if product.color3 != "" %>
                  <a href="javascript:void(0)" class="pick" style="background-color:<%=product.color3 %>;"></a>
                  <% end %>
                   <%if product.color4 != "" %>
                    <a href="javascript:void(0)" class="pick" style="background-color:<%=product.color4 %>;"></a>
                   <% end %>
                    <%if product.color5 != "" %>
                     <a href="javascript:void(0)" class="pick" style="background-color:<%=product.color5 %>;"></a>
                    <% end %>
                </div>
              </div>
              <div class="product-desc">
                <h2 class="name"><a href="javascript:void(0)"><%= product.p_title %></a></h2>  <!-- 상품명 --!>
                <% if product.status == true %>
                <div class="price"><%= number_to_currency(product.p_price, precision: 0, unit: "원", format: "%n%u")%></div>
                  <% old_price  = product.p_price * 0.1 %>
                <div class="old-price"><%= number_to_currency(product.p_price + old_price, precision: 0, unit: "원", format: "%n%u")%></div>
                <% else %>
                 <div class="price">품 절</div>
                <% end %>
                <div class="compare-wrap">
              <!-- <a href="javascript:void(0)" class="btn comparebtn">비교하기</a> --!>
                </div>
              </div>
               <% if product.created_at + 21.days > Time.now %>
              <span class="sale">NEW</span>
               <% end %>
            </div>
          </div>
<% end %>
        </div>
       </div>
      </div>
     <% end %>
