<%= form_for(faq) do |f| %>
  <% if faq.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(faq.errors.count, "error") %> prohibited this faq from being saved:</h2>

      <ul>
      <% faq.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="small_box"> <!--카테고리-->
			 <%= f.label :category, "카테고리" %>
       <%= f.select :category, ['상품','주문','배송','교환','기타'], {}, class: 'browser-default' %> 
  </div>

  <div class="field">
    <%= f.label :title, "제목" %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :content, "내용" %>
    <%= f.text_area :content %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
