<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @faq.category %>
</p>

<p>
  <strong>Title:</strong>
  <%= @faq.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @faq.content %>
</p>

<%= link_to 'Edit', edit_faq_path(@faq) %> |
<%= link_to 'Back', faqs_path %>
