<div class="login_container">
  <div class="login_box">
    <div class="out_box">
      <h4>회원정보수정</h4>
      <div class="inner_box">
        <h5>EDIT INFORMATION</h5>
        </br>
        <div class="row">
          <div class="col l6 s12">
        
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <span style="color: red; font-size: 12px;">&nbsp;&nbsp;&nbsp;&nbsp;<%= flash[:review] %></span> 
            <div class="field">
              <%= f.label :name, "이름" %><br />
              <%= f.text_field :name %>
            </div>
          
            <div class="field">
              <%= f.label :email, "이메일" %><br />
              <%= f.email_field :email %>
            </div>
          
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>
						<% f.hidden_field :reset_password_token %>          
            <div class="field">
              <%= f.label :password, "새 비밀번호" %> <i style="font-size: 12px;">(변경을 원치 않을시 빈칸)</i><br />
              <%= f.password_field :password, autocomplete: "off", autofocus: true %>
            </div>
          
            <div class="field">
              <%= f.label :password_confirmation, "새 비밀번호확인" %>
              <% if @minimum_password_length %>
               <span style="font-size: 12px;"> <em>(최소 <%= @minimum_password_length %>자리 이상)</em> </span>
              <% end %><br />
              <%= f.password_field :password_confirmation, autocomplete: "off" %>
            </div>
          
          </div>
          
          <div class="col l6 s12">  
            <div class="field">
             <%= f.label :phone_number, "핸드폰 번호" %>
              <em>(ex)010-1234-5678)</em>
             <%= f.text_field :phone_number %>
            </div>
            
            <div class="filed">
              <%= f.label :birth, "생년월일" %>
              <p style="font-size: 5px;"></p>
                <div class="row">
                  <div class="col l4 s4" style="margin-left: -12px;">    
                    <%= f.select :birth_year, ['년도','1904','1905','1906','1907','1908','1909','1910','1911','1912','1913','1914','1915','1916','1917','1918','1919','1920','1921','1922','1923','1924','1925','1926','1927','1928','1929','1930','1931','1932','1933','1934','1935','1936','1937','1938','1939','1940','1941','1942','1943','1944','1945','1946','1947','1948','1949','1950','1951','1952','1953','1954','1955','1956','1957','1958','1959','1960','1961','1962','1963','1964','1965','1966','1967','1968','1969','1970','1971','1972','1973','1974','1975','1976','1977','1978','1979','1980','1981','1982','1983','1984','1985','1986','1987','1988','1989','1990','1991','1992','1993','1994','1995','1996','1997','1998','1999','2000','2001','2002','2003','2004'], {}, class: 'browser-default' %>
                  </div>
                  <div class="col l4 s4">
                    <%= f.select :birth_month, ['월', '1', '2', '3', '4', '5', '6', '7', '8' ,'9' ,'10', '11', '12'], {}, class: 'browser-default' %>
                  </div>
                  <div class="col l4 s4">
                    <%= f.select :birth_day, ['일', '1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31'], {}, class: 'browser-default' %>
                  </div>
                </div>
            </div>
          
            <div class="field">
              <%= f.label :sex, "성별" %></br></br>
              <%= f.radio_button(:sex, "man") %>
              <%= f.label(:sex_man, "남자") %>
              <%= f.radio_button(:sex, "woman") %>
              <%= f.label(:sex_woman, "여자") %></br>
            </div>
          </div>  
          
          <div class="row">
                    <div class="col l12 s12">
                    <p style="font-size: 12px; color: #9e9e9e;">기본 배송지</p>
                    </div>
                    <div class="col l6 s12" style="margin-left: 0px; margin-right: 0px;">
                    <%= f.text_field :postcode, :placeholder => "우편번호", :id => 'postcode'%>
                    </div>
                    <div class="col l6 s12" style="margin-top: 8px; text-align: center;">
                     <input type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기" class="juso">
                    </div>
                    <div class="col l12 s12">
                    <%= f.text_field :address, :placeholder => "상세주소", :id => 'address' %>
                    <%= f.text_field :address2, :placeholder => "나머지주소", :id => 'address2' %>

                    <script src="https://ssl.daumcdn.net/dmaps/map_js_init/postcode.v2.js"></script>
                    <script>
                        function sample6_execDaumPostcode() {
                        new daum.Postcode({
                            oncomplete: function(data) {
                                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                                var fullAddr = ''; // 최종 주소 변수
                                var extraAddr = ''; // 조합형 주소 변수

                                // 사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                                    fullAddr = data.roadAddress;

                                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                                    fullAddr = data.jibunAddress;
                                }

                                // 사용자가 선택한 주소가 도로명 타입일때 조합한다.
                                if(data.userSelectedType === 'R'){
                                    //법정동명이 있을 경우 추가한다.
                                    if(data.bname !== ''){
                                        extraAddr += data.bname;
                                    }
                                    // 건물명이 있을 경우 추가한다.
                                    if(data.buildingName !== ''){
                                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                                    }
                                    // 조합형주소의 유무에 따라 양쪽에 괄호를 추가하여 최종 주소를 만든다.
                                    fullAddr += (extraAddr !== '' ? ' ('+ extraAddr +')' : '');
                                }

                                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                                document.getElementById('postcode').value = data.zonecode; //5자리 새우편번호 사용
                                document.getElementById('address').value = fullAddr;

                                // 커서를 상세주소 필드로 이동한다.
                                document.getElementById('address2').focus();
                            }
                        }).open();
                    }
                    </script>
                  </div>
                  </div>
                  </br>

									  <div class="row">
                    <div class="col l12 s12">
                    <p style="font-size: 12px; color: #9e9e9e;">추가 배송지</p>
                    </div>
                    <div class="col l6 s12" style="margin-left: 0px; margin-right: 0px;">
                    <%= f.text_field :postcode2, :placeholder => "우편번호", :id => 'postcode2'%>
                    </div>
                    <div class="col l6 s12" style="margin-top: 8px; text-align: center;">
                     <input type="button" onclick="sample6_execDaumPostcode2()" value="우편번호 찾기" class="juso">
                    </div>
                    <div class="col l12 s12">
                    <%= f.text_field :address3, :placeholder => "상세주소", :id => 'address3' %>
                    <%= f.text_field :address4, :placeholder => "나머지주소", :id => 'address4' %>

                    <script src="https://ssl.daumcdn.net/dmaps/map_js_init/postcode.v2.js"></script>
                    <script>
                        function sample6_execDaumPostcode2() {
                        new daum.Postcode({
                            oncomplete: function(data) {
                                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                                var fullAddr = ''; // 최종 주소 변수
                                var extraAddr = ''; // 조합형 주소 변수

                                // 사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                                    fullAddr = data.roadAddress;

                                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                                    fullAddr = data.jibunAddress;
                                }

                                // 사용자가 선택한 주소가 도로명 타입일때 조합한다.
                                if(data.userSelectedType === 'R'){
                                    //법정동명이 있을 경우 추가한다.
                                    if(data.bname !== ''){
                                        extraAddr += data.bname;
                                    }
                                    // 건물명이 있을 경우 추가한다.
                                    if(data.buildingName !== ''){
                                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                                    }
                                    // 조합형주소의 유무에 따라 양쪽에 괄호를 추가하여 최종 주소를 만든다.
                                    fullAddr += (extraAddr !== '' ? ' ('+ extraAddr +')' : '');
                                }

                                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                                document.getElementById('postcode2').value = data.zonecode; //5자리 새우편번호 사용
                                document.getElementById('address3').value = fullAddr;

                                // 커서를 상세주소 필드로 이동한다.
                                document.getElementById('address4').focus();
                            }
                        }).open();
                    }
                    </script>
                  </div>
                  </div>

            <div class="actions" style="text-align: center;">
              <%= link_to "취소", :back, class: "linkbutton" %>
              <%= f.submit "수정", class: "button", style: "border-radius: 0px;" %>
            </div>
          <% end %>
          
          <div class="row" style="text-align: right; margin: 10px 5px 0px 0px;">
          <%= button_to "회원탈퇴", registration_path(resource_name), data: { confirm: "
1. 회원 탈퇴 시 회원님의 정보는 상품 반품 및 A/S를 위해 전자상거래 등에서의 소비자 보호에 관한 법률에 의거한 고객정보 보호정책에따라 관리 됩니다. 
          
2. 탈퇴 시 회원님께서 보유하셨던 포인트는 삭제 됩니다.

3. 상품문의 및 후기, 댓글 삭제를 원하시는 경우에는 먼저 해당 게시물을 삭제하신 후 탈퇴를 신청하시기 바랍니다. 

4. 이미 결제가 완료된 건은 탈퇴로 취소되지 않습니다.


정말 탈퇴하시겠습니까??
" 
          }, method: :delete, class: "button4" %>
          </div>
      </div>
    </div>
  </div>
</div>
