<%= form_for(review_comment) do |f| %>
  <% if review_comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review_comment.errors.count, "error") %> prohibited this review_comment from being saved:</h2>

      <ul>
      <% review_comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :review_id %>
    <%= f.text_field :review_id %>
  </div>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :rc_title %>
    <%= f.text_field :rc_title %>
  </div>

  <div class="field">
    <%= f.label :rc_comment %>
    <%= f.text_area :rc_comment %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
