<p id="notice"><%= notice %></p>

<h1>Review Comments</h1>

<table>
  <thead>
    <tr>
      <th>Review</th>
      <th>User</th>
      <th>Rc title</th>
      <th>Rc comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @review_comments.each do |review_comment| %>
      <tr>
        <td><%= review_comment.review %></td>
        <td><%= review_comment.user %></td>
        <td><%= review_comment.rc_title %></td>
        <td><%= review_comment.rc_comment %></td>
        <td><%= link_to 'Show', review_comment %></td>
        <td><%= link_to 'Edit', edit_review_comment_path(review_comment) %></td>
        <td><%= link_to 'Destroy', review_comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Review Comment', new_review_comment_path %>
