<p id="notice"><%= notice %></p>

<p>
  <strong>Review:</strong>
  <%= @review_comment.review %>
</p>

<p>
  <strong>User:</strong>
  <%= @review_comment.user %>
</p>

<p>
  <strong>Rc title:</strong>
  <%= @review_comment.rc_title %>
</p>

<p>
  <strong>Rc comment:</strong>
  <%= @review_comment.rc_comment %>
</p>

<%= link_to 'Edit', edit_review_comment_path(@review_comment) %> |
<%= link_to 'Back', review_comments_path %>
