<%= form_for(inquiry_comment) do |f| %>
  <% if inquiry_comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(inquiry_comment.errors.count, "error") %> prohibited this inquiry_comment from being saved:</h2>

      <ul>
      <% inquiry_comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	 <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_field :content %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
