<p id="notice"><%= notice %></p>

<h1>Inquiry Comments</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inquiry_comments.each do |inquiry_comment| %>
      <tr>
        <td><%= link_to 'Show', inquiry_comment %></td>
        <td><%= link_to 'Edit', edit_inquiry_comment_path(inquiry_comment) %></td>
        <td><%= link_to 'Destroy', inquiry_comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Inquiry Comment', new_inquiry_comment_path %>
