 <body>
		   <div class="grid" style="margin: 5px; border: 1px solid #bdbdbd;">
               <table class="table">
                 <tr>
                  <th style="width: 30%;">
                      결제(총 건수/미결제/결제완료/취소및환불)
                  </th>
                  <th style="width: 70%;">
                      (<%= @payments.count %>/<%= @payments.where(status:'ready').count %>/<%= @payments.where(status:'paid').count %>/<%= @payments.where(status:'cancelled').count %>)
                  </th>
                 </tr>
                <tr>
                  <th style="width: 30%;">
                      배송(총 건수/배송준비/배송중/배송완료)
                  </th>
                  <th style="width: 70%;">
									    (<%= @trans.count %>/<%= @trans.where(status:'배송출발').count +  @trans.where(status:'집화출발').count +  @trans.where(status:'집화처리' ).count %>/<%= @trans.count -  @trans.where(status:'배송출발').count -  @trans.where(status:'집화출발').count- @trans.where(status:'집화처리' ).count -  @trans.where(status:'배달완료').count %>/<%= @trans.where(status:'배달완료').count %>)
                </th>
                 </tr>
                 <tr>
                  <th style="width: 30%;">
									    교환(총 건수/교환신청/교환완료)
                  </th>
                  <th style="width: 70%;">
									 (<%= @refunds.count %>/<%= @refunds.where(status:'start').count %>/<%= @refunds.where(status:'complete').count %>)
                  </th>
                 </tr>
								 <tr>
                  <th style="width: 30%;">
                      반품(총 건수/반품신청/반품완료)
                  </th>
                  <th style="width: 70%;">
									  (<%= @exchanges.count %>/<%= @exchanges.where(status:'start').count %>/<%= @exchanges.where(status:'complete').count %>)
                  </th>
                 </tr>
               </table>
    </div>
    </br></br>
  </body>
