<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">순서</Data></Cell>
        <Cell><Data ss:Type="String">이름</Data></Cell>
        <Cell><Data ss:Type="String">이메일</Data></Cell>
				 <Cell><Data ss:Type="String">전화번호</Data></Cell>
        <Cell><Data ss:Type="String">성별</Data></Cell>
		<Cell><Data ss:Type="String">생년월일</Data></Cell>
		<Cell><Data ss:Type="String">우편번호</Data></Cell>
		<Cell><Data ss:Type="String">주소</Data></Cell>
		<Cell><Data ss:Type="String">포인트</Data></Cell>
	  <Cell><Data ss:Type="String">SMS,Email동의</Data></Cell>
		<Cell><Data ss:Type="String">생성일</Data></Cell>
      </Row>
    <% @user.each do |user| %>
      <Row>
    <Cell><Data ss:Type="Number"><%= user.id %></Data></Cell>
    <Cell><Data ss:Type="String"><%= user.name %></Data></Cell>
    <Cell><Data ss:Type="String"><%= user.email %></Data></Cell>
		<Cell><Data ss:Type="String"><%= user.phone_number %></Data></Cell>
    <Cell><Data ss:Type="String"><%= user.sex %></Data></Cell>
		<Cell><Data ss:Type="String"><%= user.birth_year %>-<%= user.birth_month %>-<%= user.birth_day %></Data></Cell>
		<Cell><Data ss:Type="String"><%= user.postcode %></Data></Cell>
		<Cell><Data ss:Type="String"><%= user.address %>/<%= user.address2 %></Data></Cell>
		<Cell><Data ss:Type="Number"><%= user.point %></Data></Cell>
		<Cell><Data ss:Type="String"><%= user.sms %></Data></Cell>
		<Cell><Data ss:Type="String"><%= user.created_at %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>
