<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div class="container">
    <%= render "sidemenu" %>
    
            <h5>고객 DB</h5>
	<span>다운로드: <%= link_to "CSV", admin_customer_db_path(format: "csv") %> | <%= link_to "Excel", admin_customer_db_path(format: "xls") %></span>
	
	<%= form_tag(admin_customer_db_path, method: :get) do %>
  <%= text_field_tag :name, params[:name], placeholder:"이름 또는 이메일  또는 전화번호로 검색 가능" %>
  <%= submit_tag '검색', name: nil %>
<% end %>
<div class="big_box">
	 <div class="small_box">
                <table>
                  <thead>
                    <tr>
											<th>순번</th>
                      <th>가입일</th>
											<th>이름</th>
                      <th>이메일</th>
                      <th>전화번호</th>
                      <th>성별</th>
                      <th>회원등급</th>
                      <th>최근구매일</th>
                      <th colspan="5"></th>
                    </tr>
                  </thead>

                  <tbody>
                    <% @user.each do |user| %>
                      <tr>
                        <td><%= user.id %></td>
                        <td><%= user.created_at.strftime("%Y.%m.%d") %></td>
                  		  <td><a href="/admin/customer_db/<%= user.id %>"> <%= user.name %></a></td>
                        <td><a href="/admin/customer_db/<%= user.id %>"><%= user.email %></a></td>
                        <td><%= user.phone_number %></td>
                        <td><%= user.sex %></td>
                        <td>회원등급</td>
                       <% if user.payments.last %><td><%= user.payments.last.created_at.strftime("%Y.%m.%d") %></td><% else %><td>없음</td><% end %>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
						</div>
        </div>
</div>
  </body>
</html>

