<!DOCTYPE html>
  <html>
  <body>

<div class="login_box">
    <div class="row">
        <div class="col s3">
            <%= render "sidemenu" %>
        </div>
        <div class="col s9">
					<h3> <%= @user.name %>님</h3>
					 <div class="big_box">
				 	  <div class="row">

				  <h4> 기본 정보 </h4>
					<div class="small_box">
					</br>
					이메일:<%= @user.email %></br></br>
					이름:<%= @user.name %></br></br>
					전화번호:<%= @user.phone_number %></br></br>
					우편번호:<%= @user.postcode %></br></br>
					주소:<%= @user.address %>/<%= @user.address2 %></br></br>
					포인트:<%= @user.point %></br>
					<% if @user.payments && @user.payments.last %>
					</br>
					최근 구매일: <%= @user.payments.last.created_at.strftime("%Y.%m.%d") %></br></br>
					최근 배송지(우편번호): <%= @user.postcode3 %></br><br>
					최근 배송지(주소): <%= @user.address5 %> / <%= @user.address6 %></br>
					<% end %>
					</div>

					<h4>구매내역</h4>
           <div class="grid" style="margin: 0px 5px 10px 5px;">
					 <div class="row">
					  <div class="col s2" style="text-align: center; margin: auto;">순번</div>
						<div class="col s10">
					  <div class="col s2">상품명</div>
					  <div class="col s2">사이즈</div>
					  <div class="col s2">상품가격</div>
					  <div class="col s2">개수</div>
					  <div class="col s2">총가격</div>
					  <div class="col s2">구매일</div>
						</div>
					</div>

					 <% count = 1 %>
					 <% @user.payments.each do |payment| %>
          	<div class="row">
             <div class="col s2" style="text-align: center; margin: auto;"><%= count %></div>
						 <% count += 1 %>
						 <div class="col s10">
						 <% payment.selects.each do |select| %>
             <div class="col s2"><%= select.product.p_title %></div>
						 <div class="col s2"><%= select.selected_size %></div>
						 <div class="col s2"><%= select.product.p_price %></div>
						 <div class="col s2"><%= select.product_quantity %></div>
						 <div class="col s2"><%= select.s_price %></div>
						 <div class="col s2"><%= payment.created_at.strftime("%Y-%m-%d") %></div></br>
						 <% end %>
						 </div>
					 </div>
					<% end %>
          </div>



					<h4> 포인트 내역 </h4>
					<div class="small_box">
					  <div class="cart" style="border: 1px solid #bdbdbd; margin-bottom: 30px; padding: 0px;">

          <table>
                    <thead style="border-bottom: 1px solid #bdbdbd;">
                      <tr>
                        <th class="point">날짜</th>
                        <th class="point">내용</th>
                        <th class="point">내역</th>
                      </tr>
                    </thead>

                    <tbody>

                    <% @points.each do |point| %>
                    <% if point.payment_id %>
                    <% payment = point.payment  %>

                    <tr>
                      <td class="point"><%= point.created_at.strftime("%Y.%m.%d") %></td>
                      <% if payment.merchant_uid %>
                      <td class="point"><%= point.name %></br> <a href="/mypage/purchase_statement/<%= payment.id%>"><%= payment.merchant_uid.last(13) %></a><% else %><span></span><% end%></td>
                        <% if point.method == 'add' %>
                        <span><td class="point">+<%= number_to_currency(point.amount.to_i, precision: 0, unit: "원", format: "%n %u")  %></td></span>
                        <% else %>
                      <td class="point"><span style="color: red;">-<%= number_to_currency(point.amount.to_i, precision: 0, unit: "원", format: "%n %u")  %></span></td>
                        <% end %>
                    </tr>

                    <% else %>

                      <tr>
                          <td class="point"><%= point.created_at.strftime("%Y.%m.%d") %></td>
                          <td class="point"><%= point.name %></td>
                          <% if point.method == 'add' %>
                          <span><td class="point">+<%= number_to_currency(point.amount.to_i, precision: 0, unit: "원", format: "%n %u")  %></td></span>
                          <% else %>
                          <td class="point"><span style="color: red;">-<%= number_to_currency(point.amount.to_i, precision: 0, unit: "원", format: "%n %u")  %></span></td>
                          <% end %>
                        </tr>
                      <% end %>
                    <% end %>
                      <tr style="border-top: 1px solid #bdbdbd;">
                        <td></td><td></td>
                        <td class="point" style="font-weight: 600;">잔여 포인트 : <%= current_user.point %> 원&nbsp;&nbsp;&nbsp;&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>
        </div>

					</div>

					 </div>
					  </div>
				</div>
		</div>
</div>

	</body>
	</html>
