<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div class="container">
    <%= render "sidemenu" %>

              <h5>교환문의</h5>
              <div class="big_box">
                <div class="small_box">
    <ul class="collapsible" data-collapsible="accordion">
               <% @exchanges.each do |exchange| %>
               <% user = exchange.user %>
							 <% selects = exchange.selects %>
                            <li>
                                <div class="collapsible-header" style="font-size: 14px;">
                                 &emsp;<%= exchange.id %>&emsp;&emsp;&emsp;<%= exchange.created_at.strftime("%Y.%m.%d") %>&emsp;&emsp;&emsp;<%= exchange.merchant_uid%>&emsp;&emsp;&emsp;&nbsp;<%= exchange.reason %>&emsp;
                                </div>
                                <div class="collapsible-body" style="font-size: 14px;">
                                    <span>
                                     <div>
																		 &emsp; 고객 번호: <%= exchange.phone_number %></br></br>
																		 <% selects.each do |select| %>
																		 <div class="small_box">
																		  <% product = select.product %>
                                          상품별 고유번호: <%= select.id %>
																					상품명:	<%= product.p_title %>
																				  구매 수량:	<%= select.product_quantity %>개
																					구매 사이즈: 	<%= select.selected_size.upcase %>

																					교환상태: <% if select.exchange_status == "exchange_request" %>교환중<% elsif select.exchange_status == "exchange_complete"%>교환완료<%end%>
																					<form method='post' action='/admin/exchange_question'>
																					<input type='hidden' name='id' value=<%= select.id %> /> 
																					  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
																				<% if select.exchange_status == "exchange_complete" %><a class="btn disabled">교환완료</a><% else %><input type='submit' value='교환완료' class= "borderboxbox" style= "text-decoration: none; border: 1px solid #42a5f5; padding: 4px 25px 4px 25px;"/><% end %></br></br>
																				</form>
																					</div>
																				<% end %>
                                        </div>
                                        </span>
                                    </div>
                                </li>
               <% end %>
     </ul>

              </div>
              </div>
            </div>
  </div>
</body>
<script type="text/javascript" src="js/materialize.min.js"></script>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>

  <script>
            $(document).ready(function () {
                $('.slider').slider({
        full_width: true,
        indicators: false
    });
            });
  </script>

  <script>
      $(document).ready(function(){
           $('.slider').slider('pause');
            });
  </script>

  <script>
      $(document).ready(function(){
          $('.next').click(function() {
             $('.slider').slider('next');
          });
          $('.prev').click(function() {
             $('.slider').slider('prev');
          });
        });
  </script>

       <script>
  (function($)
        $(document).ready(function(){
            $('.collapsible').collapsible();
        });
  }) (jQuery);
       </script>
</html>
