<div class="login_box">
    <div class="newyork">
        <h4><strong>속도가 아니라 방향이다</strong></h4>
        <h5>미국으로 가는 문을 열자</h5></br>
        <a class="adminimg" href="/admin/product_upload"><%= image_tag 'newyork.jpg' %></a>
    </div>
</div>