<div class="login_box">
    <div class="row">
        <div class="col s3">
            <%= render "sidemenu" %>
        </div>
 <div class="col s9">
            <h5>메뉴얼</h5>
             <div class="big_box">
                <div class="small_box">
                	순서대로 체크하면 됩니다.</br>
 
<div>
1.업무시간 AM 11:00 ~ PM 06:00</br></br>
일주일에 2번 상품 업로드 </br>
배송출발시간 PM 06:00 </br>
하루 3회 관리자 페이지 확인(결제, 주문)</br>
AM 11:00 , PM 14:00 , PM 17:00</br></br>
</div> 
<div>
2.결제</br>
 </br>
- 결제가 완료된 주문 확인 (관리자 페이지-배송)</br>
- 결제 품목들 확인(관리자 페이지-결제-주문 상품(사이즈,개수))</br>
- 물품을 포장 후 (관리자 페이지- 배송 – 엑셀 다운로드)</br>
- CNPlus 프로그램 – 예약 – 기업고객 파일접수</br>
- 고객 layout에서 ‘월리’ 선택</br>
- 엑셀 업로드</br>
- 접수신청</br>
- 운송장 번호 입력</br>
- 배송 물품 전달 – 배송중 - 배송완료</br></br></br>
</div>
<div>
3.주문취소 및 교환/환불신청</br></br>
-주문취소(관리자 페이지- 결제)</br>
취소신청이 들어오면 – (결제 수단이 가상계좌이면 직접 환불계좌로 쏴준다. - )</br>
                      (결제 수단이 나머지이면 관리자 페이지 – 결제 – 환불)</br>
</br>
-교환/환불 (관리자 페이지 – 교환문의 (or 반품/환불) </br>
 
교환/환불신청이 들어오면 </br>
 
교환신청 -> 상품 수령 후 확인 (전화/문자) -> 배송 해주고 ->교환완료누르기</br>
 
반품신청 -> 상품 수령 후 확인 (전화/문자) -> 환불 또는 부분환불(아임포트이용) -></br>
 
부분환불 이용시 -> 관리자모드-포인트에서 그 금액에 해당하는 만큼 환수 조치 -> 반품완료누르기</br></br></br>
</div>
<div>
4. 1:1문의 및 리뷰 및 문의 답글 달기</br>
 </br>
1:1 문의 -> (관리자 페이지 – 일대일문의)</br>
리뷰 -> (관리자 페이지 – 리뷰)</br>
문의 -> (관리자 페이지 –문의)</br>
</div>
								</div>
            </div>
  </div>
    </div>
</div>
