<div class="login_box">
   <div class="container">
    <%= render "sidemenu" %>
    
            <h5>리뷰</h5>
            <div class="big_box">
              <div class="small_box">
                <table>
                  <thead>
                    <tr>
                      <th>리뷰 번호</th>
                      <th>상품 번호</th>
                      <th>상품명</th>
                      <th>한줄평</th>
                      <th>고객 성명</th>
											<th>답변 상태</th>
                      <th colspan="5"></th>
                    </tr>
                  </thead>
 
                  <tbody>
									 <% @review.each do |review| %>
									 		<% product = review.product %>
											<% user = review.user %>
											<% review_comment = review.review_comment %>
                      <tr>
                        <td><%= review.id %></td>
                        <td><%= review.product_id %></td>
                      	<td><%= product.p_title %></td>
                        <td><%= review.comment %></td>
												<td><%= user.name %></td>
												<% if review_comment %>
												<td>답변완료</td>
												<% else %>
												<td>답변중</td>
												<% end %>
												<td><a href=/products/<%=product.id%>#tab-flexbox>보기</a></td>
												<td><%= link_to '수정', edit_review_path(review) %></td>
												<td><%= link_to '삭제', review, method: :delete, data: { confirm: '삭제하시겠습니까?' } %></td>
												<% if ! review_comment %>
												<td><a href="/review_comments/new/<%= review.id %>">답글</a></td>
												<% end %>
									    </tr>
											
											<% if review_comment %>
											<% admin = review_comment.user %>
											<tr>
														<td><%= review.id %></td>
														<td><%= review.product_id %></td>
														<td><%= product.p_title %></td>
														<td><%= review_comment.rc_title %></td>
														<td><%= admin.name %></td>
														<td></td>
													  <td><a href=/products/<%=product.id%>#tab-flexbox>보기</a></td>
												    <td><%= link_to '수정', edit_review_comment_path(review_comment) %></td>
												    <td><%= link_to '삭제', review_comment, method: :delete, data: { confirm: '삭제하시겠습니까?' } %></td>
												  </tr>
											  <% end %>
										<% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

</div>

