<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div class="container">
    <%= render "sidemenu" %>
    
              <h5>FAQ <%= link_to'작성', new_faq_path %></h5>
 <table>
  <thead>
    <tr>
			<th>id</th>
      <th>Category</th>
      <th>Title</th>
      <th>Content</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @faq.each do |faq| %>
      <tr>
				<td><%= faq.id %></td>
        <td><%= faq.category %></td>
        <td><%= faq.title %></td>
        <td><%= faq.content %></td>
        <td><a href='/mypage/FAQ'>보기</a></td>
        <td><%= link_to 'Edit', edit_faq_path(faq) %></td>
        <td><%= link_to 'Destroy', faq, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

		 			</div>
      </div>

