<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div class="container">
    <%= render "sidemenu" %>
    
              <h5>문의</h5>
              <div class="big_box">
                <div class="small_box">
                  <table>
                    <thead>
                      <tr>
                        <th>문의 번호</th>
                        <th>상품 번호</th>
                        <th>상품명</th>
                        <th>제목</th>
                        <th>고객 성명</th>
												<th>답변 상태</th>
                        <th colspan="5"></th>
                      </tr>
                    </thead>
 
                    <tbody>
                     <% @question.each do |question| %>
                        <% product = question.product %>
                        <% user = question.user %>
												<% question_comment = question.question_comment %>
                        <tr>
                          <td><%= question.id %></td>
                          <td><%= question.product_id %></td>
                          <td><%= product.p_title %></td>
                          <td><%= question.q_title %></td>
                          <td><%= user.name %></td>
													<% if question_comment %>
													<td>답변완료</td>
													<% else %>
													<td>답변중</td>
													<% end %>
                          <td><a href=/products/<%= product.id %>#tab-react>보기</a></td> <!-- show 페이지 없어서 그에 해당하는 상품 페이지로 -->
                          <td><%= link_to '수정', edit_question_path(question) %></td>
                          <td><%= link_to '삭제', question, method: :delete, data: { confirm: '삭제하시겠습니까?' } %></td>
													<% if ! question_comment %>
													<td><a href="/question_comments/new/<%= question.id %>">답글</a></td>
													<% end %>
                        </tr>
												<% if question_comment %>
												<% admin = question_comment.user %>
												<tr>
													<td><%= question.id %></td>
													<td><%= question.product_id %></td>
													<td><%= product.p_title %></td>
													<td><%= question_comment.qc_title %></td>
													<td><%= admin.name %></td>
													<td></td>
												  <td><a href=/products/<%= product.id %>#tab-react>보기</a></td> <!-- show 페이지 없어서 그에 해당하는 상품 페이지로 -->
												  <td><%= link_to '수정', edit_question_comment_path(question_comment) %></td>
												  <td><%= link_to '삭제', question_comment, method: :delete, data: { confirm: '삭제하시겠습니까?' } %></td>
												</tr>
											  <% end %>
                    <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
 
      </div>

