<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div class="container">
    <%= render "sidemenu" %>
    
              <h5>일대일문의</h5>
              <div class="big_box">
                <div class="small_box">
    <ul class="collapsible" data-collapsible="accordion">
               <% @inquiry.each do |inquiry| %>
               <% user = inquiry.user %>
							 <% inquiry_comment = inquiry.inquiry_comment%>
                            <li>
                                <div class="collapsible-header" style="font-size: 14px;">
                                 &emsp;<%= inquiry.id %>&emsp;&emsp;&emsp;<%= inquiry.created_at.strftime("%Y.%m.%d") %>&emsp;&emsp;&emsp;<% if inquiry_comment %>답변완료<% else %>답변중<% end %>&emsp;&emsp;&emsp;&nbsp;<%= inquiry.title %>&emsp;
                                </div>
                                <div class="collapsible-body" style="font-size: 14px;">
                                    <span>
                                     <div>
                                            <%= inquiry.content %>
                                        </div>
                                               			 <div>

																										<% if ! inquiry_comment %> <div style="text-align: right;"><a href="/inquiry_comments/new/<%= inquiry.id %>">답글</a> </div> 
																										<% else %>
                                                    </br>
                                                    &emsp;<span style="border: 1px solid black; border-radius: 2px; padding: 0px 15px 0px 15px;">답변</span></br>
																										&emsp;<%= inquiry_comment.title %></br></br>
																									  &emsp;&emsp;<%= inquiry_comment.content %>
                                                         <div style="text-align: right;">
                                                             </br>
                                                   <%= link_to '수정', edit_inquiry_comment_path(inquiry_comment), class:"borderbox" %>&emsp;<%= link_to '삭제', inquiry_comment, method: :delete, data: { confirm: '답글을 삭제하시겠습니까?'  }    , class: "borderbox" %>
                                                         </div>
                                                 <% end %>
                                                </div>
                                        </span>
                                    </div>
                                </li>
               <% end %>
     </ul>
					
		
							</div>
              </div>
            </div>

  </div>
</body>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="js/materialize.min.js"></script>
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>

	<script>
            $(document).ready(function () {
                $('.slider').slider({
		    full_width: true,
		    indicators: false
		});
            });
	</script>

	<script>
	    $(document).ready(function(){
         	 $('.slider').slider('pause');
            });
	</script>

	<script>
	    $(document).ready(function(){
          $('.next').click(function() {
             $('.slider').slider('next');
          });
          $('.prev').click(function() {
             $('.slider').slider('prev');
          });
        });
	</script>

       <script>
	(function($)
        $(document).ready(function(){
            $('.collapsible').collapsible();
        });
	}) (jQuery);
       </script>
</html>
