<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div class="container">
    <%= render "sidemenu" %>
    
              <h5>배송</h5>
              <div class="big_box">
							<span>다운로드: <%= link_to "CSV", admin_order_delivery_path(format: "csv") %> | <%= link_to "Excel", admin_order_delivery_path(format: "xls") %></span>
                <div class="small_box">
                <table>
                  <thead>
                    <tr>
                      <th>구매일</th>
                      <th>결제번호</th>
                      <th>상품명</th>
                      <th>결제상태</th>
                      <th>배송상태</th>
                      <th>운송장번호</th>
											<th></th>
                      <th>배송상태 변경</th>
                      <th colspan="5"></th>
                    </tr>
                  </thead>

                  <tbody>
                    <% @payment.each do |payment| %>
								
										<% tran = payment.tran %>
                      <tr>
                        <td><%= payment.created_at.strftime("%Y.%m.%d") %></td>
                        <td><%= payment.merchant_uid %></td>
                        <td><%= payment.name %></td>
												<td><% if payment.status == "paid" %>결제완료<% elsif payment.status == "ready" %>미결제<% elsif payment.status == "cancelled" %>결제취소<% end %></td>
											
											
											<td>
											  <% if tran %>
           <% if tran.status == '배송출발' || tran.status == '집화출발' || tran.status == '집화처리' || !tran.status %>
             <span onClick="window.open('http://nplus.doortodoor.co.kr/web/detail.jsp?slipno=<%= tran.transnum %>','1','status=yes,scrollbars=yes,width=650,height=850')">배송출발</span>
            <% elsif tran.status == '배달완료' %>
             <span onClick="window.open('http://nplus.doortodoor.co.kr/web/detail.jsp?slipno=<%= tran.transnum %>','1','status=yes,scrollbars=yes,width=650,height=850')">배송완료</span>
            <% else %>
             <span onClick="window.open('http://nplus.doortodoor.co.kr/web/detail.jsp?slipno=<%= tran.transnum %>','1','status=yes,scrollbars=yes,width=650,height=850')">배송중</span>
           <% end %>
          <% else %>

          <% if payment.cancelrq == "request" %>
            취소신청
          <% else %>
           상품준비
            <% end %>
          <% end %>
											</td>
                        <td> <% unless tran %> 
																		<form action="/admin/order_delivery/<%=payment.imp_uid%>">
                                          <input type="text" name="transnum"></td><td><input type="submit" value="등록">
                                        </form>
														 <% else %>
													 <%= tran.transnum %></td><td>
														 <% end %>
												</td>
                        <td>
												<a href="/admin/order_delivery/<%= payment.merchant_uid %>?delivery=배송출발">배송출발</a>&nbsp&nbsp
												<a href="/admin/order_delivery/<%= payment.merchant_uid %>?delivery=배송중">배송중</a>&nbsp&nbsp
												<a href="/admin/order_delivery/<%= payment.merchant_uid %>?delivery=배달완료">배송완료</a>
												</td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
              </div>
            </div>

  </div>
</body>
<script type="text/javascript" src="js/materialize.min.js"></script>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
  <script>
            $(document).ready(function () {
                $('.slider').slider({
        full_width: true,
        indicators: false
    });
            });
  </script>

  <script>
      $(document).ready(function(){
           $('.slider').slider('pause');
            });
  </script>

  <script>
      $(document).ready(function(){
          $('.next').click(function() {
             $('.slider').slider('next');
          });
          $('.prev').click(function() {
             $('.slider').slider('prev');
          });
        });
  </script>
</html>

