<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  
	<Worksheet ss:Name="Sheet1">
    
		<Table>
      <Row>
		<Cell><Data ss:Type="String">받는분성명</Data></Cell>
    <Cell><Data ss:Type="String">받는분전화번호</Data></Cell>
		<Cell><Data ss:Type="String">받는분기타연락처</Data></Cell>
    <Cell><Data ss:Type="String">받는분우편번호</Data></Cell>
    <Cell><Data ss:Type="String">받는분주소(전체, 분할)</Data></Cell>
    <Cell><Data ss:Type="String">품목명</Data></Cell>
		<Cell><Data ss:Type="String">내품수량</Data></Cell>
    <Cell><Data ss:Type="String">배송메세지1</Data></Cell>
		<Cell><Data ss:Type="String">구매일</Data></Cell>

      </Row>

    <% @payments.each do |payment| %>
		<% user = payment.user %>
		<% selects = payment.selects %>
		<% num = 0 %>
    <% selects.each do |select| %>
    <% num += select.product_quantity %>
    <% end %>
			<Row>
		<Cell><Data ss:Type="String"><%= user.name  %></Data></Cell>
    <Cell><Data ss:Type="String"><%= user.phone_number %></Data></Cell>
		 <Cell><Data ss:Type="String"><%= user.phone_number %></Data></Cell>
    <Cell><Data ss:Type="String"><%= user.postcode3 %></Data></Cell>
    <Cell><Data ss:Type="String"><%= user.address5 %>//<%= user.address6 %></Data></Cell>
    <Cell><Data ss:Type="String"><%= payment.name %></Data></Cell>
		<Cell><Data ss:Type="Number"><%= num %></Data></Cell>
    <Cell><Data ss:Type="String"><%= payment.request %></Data></Cell>
		<Cell><Data ss:Type="String"><%= payment.created_at.strftime("%Y년 %m월 %d일 %H시")%></Data></Cell>
      </Row>
    <% end %>
    </Table>

  </Worksheet>
</Workbook>

