<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div class="container">
    <%= render(:partial => "sidemenu" ,:controller=>"sidemenu") %>

		 					 
              <h5>결제</h5>
		 <%= form_tag(admin_payments_path, method: :get) do %>
 			 <%= text_field_tag :merchant_uid, params[:merchant_uid], placeholder: "주문번호 또는 상태로 검색가능" %>
  			<%= submit_tag '검색', name: nil %>
		 <% end %>
              <div class="big_box">
                <div class="small_box">
    <ul class="collapsible" data-collapsible="accordion">
               <% @payments.each do |payment| %>
               <% user = payment.user %>
                            <li>
                                <div class="collapsible-header" style="font-size: 14px;">
                                 &emsp;<%= payment.id %>&emsp;&emsp;&emsp;<%= payment.created_at.strftime("%Y.%m.%d") %>&emsp;&emsp;&emsp;<%= payment.merchant_uid%>&emsp;&emsp;&emsp;&nbsp;<%= payment.name %>&emsp;
																 <% if payment.status == "paid" %>결제완료<% elsif payment.status == "ready" %>미결제<% elsif payment.status == "cancelled" %>결제취소<% end %>&emsp;&emsp;&emsp;&nbsp;
																 <% if payment.cancelrq == "request" %>취소요청<% elsif payment.cancelrq == "complete" %>취소완료<% end %>
                                </div>
                                <div class="collapsible-body" style="font-size: 14px;">
                                    <span>
                                     <div>
                                     <div class="small_box">
																		 <h6 style="font-size: 22px; font-weight: 500; margin-bottom: 20px;">&nbsp;&nbsp;배송정보</h6>
           <div class="grid" style="margin: 0px 5px 0px 5px;">
            <table class="table">
            <tr>
             <th style="width: 30%;">수령인</th>
             <td style="width: 70%;"><%= payment.buyer_name %></td>
           </tr>
           <tr>
             <th style="width: 30%;">연락처</th>
             <td style="width: 70%;"><%= payment.buyer_tel %></td>
           </tr>
              <tr>
             <th style="width: 30%;">배송주소</th>
             <td style="width: 70%;">
              (<%= payment.buyer_postcode %>)<%= payment.buyer_addr %>
           </tr>
           <tr>
             <th style="width: 30%;">요청사항</th>
             <td style="width: 70%;"><%= payment.request %></td>
           </tr>
           </table>
           </div>
            </br>


<h6 style="font-size: 22px; font-weight: 500; margin-bottom: 20px;">&nbsp;&nbsp;결제정보</h6>
           <div class="grid" style="margin: 0px 5px 10px 5px;">
            <table class="table">
            <tr>
             <th style="width: 30%;">결제수단</th>

             <td style="width: 70%;"><% if payment.pay_method == 'card' %>신용카드<% elsif payment.pay_method == 'trans'%>실시간계좌이체<% elsif payment.pay_method == 'vbank'%>가상계좌<%  elsif payment.pay_method == 'phone'%>휴대폰소
액결제 <% end %>
</td>
           </tr>
           <tr>
             <th style="width: 30%;">결제금액</th>
             <td style="width: 70%;"><%= number_to_currency(payment.amount, precision: 0, unit: "원", format: "%n %u") %></td>
           </tr>
              <tr>
             <th style="width: 30%;">영수증</th>
             <td style="width: 70%;">
      <a title="" href="#:" onClick="window.open('<%= payment.receipt_url %>','1','status=yes,scrollbars=yes,width=500,height=850')" style="cursor:pointer; font-size: 14px;">
                    <button style="background: white; color: #42a5f5; border: 1px solid #42a5f5; border-radius: 2px; padding: 1px 20px 1px 20px; margin-bottom: 5px; ">영수증보기</button>
                </a>
           </tr>
          </table>
          </div>
          </br>
		<h6 style="font-size: 22px; font-weight: 500; margin-bottom: 20px;">&nbsp;&nbsp;주문 상품</h6>
				<div class="grid" style="margin: 0px 5px 10px 5px;">
					<% payment.selects.each do |select| %>		
						 <table class="table">
            <tr>
             <th style="width: 30%;">상품명</th>
				<td style="width: 70%;"><%= select.product.p_title %></td>
			</tr>
			<tr>
			 <th style="width: 30%;">주문수량</th>
				<td style="width: 70%;">	<%= select.product_quantity %></td>
			</tr>
			<tr>
			 <th style="width: 30%;">주문사이즈</th>
				<td style="width: 70%;"><%= select.selected_size %></td>
			</tr>
			<tr>
			 <th style="width: 30%;">주문색상</th>
			 <td style="width: 70%;"><%= select.selected_colorname %></td>
			</tr>
						</table>
					<% end %>					
				 </div></br>

<% if payment.pay_method == "vbank" && payment.refund_num && payment.refund_bank %>
   <h6 style="font-size: 22px; font-weight: 500; margin-bottom: 20px;">&nbsp;&nbsp;환불 계좌</h6>
        <div class="grid" style="margin: 0px 5px 10px 5px;">
             <table class="table">
            <tr>
             <th style="width: 30%;">계좌 번호</th>
        <td style="width: 70%;"><%= payment.refund_num %></td>
      </tr>
      <tr>
       <th style="width: 30%;">은행명</th>
        <td style="width: 70%;"><%= payment.refund_bank %></td>
      </tr>
      <tr>
       <th style="width: 30%;">예금주</th>
        <td style="width: 70%;"><% if payment.refund_name %><%= payment.refund_name %><% else %><%= payment.user.name %><% end %></td>
      </tr>
            </table>
         </div></br>
<% end %>


						<% if payment.pay_method == "vbank" %>
						 가상계좌는 직접 환불해야 됩니다.
						<% else %>
					 <% if payment.status == "paid" %><a href="/payments/refund/<%= payment.imp_uid %>">환불</a><% else %><button disabled>환불완료</button><% end %>
					 <% end %>
                                          </div>
                                        </div>
                                        </span>
                                    </div>
                                </li>
				<% end %>
     </ul>

              </div>
              </div>
            </div>
</div>
</body>
<script type="text/javascript" src="js/materialize.min.js"></script>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>

  <script>
            $(document).ready(function () {
                $('.slider').slider({
        full_width: true,
        indicators: false
    });
            });
  </script>

  <script>
      $(document).ready(function(){
           $('.slider').slider('pause');
            });
  </script>

  <script>
      $(document).ready(function(){
          $('.next').click(function() {
             $('.slider').slider('next');
          });
          $('.prev').click(function() {
             $('.slider').slider('prev');
          });
        });
  </script>

       <script>
  (function($)
        $(document).ready(function(){
            $('.collapsible').collapsible();
        });
  }) (jQuery);
       </script>
</html>



