<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div class="container">
    <%= render "sidemenu" %>

<h4><strong>&nbsp;포인트 사용내역</strong></h4></br>
 <%= form_tag(admin_point_info_path, method: :get) do %>
  <%= text_field_tag :name, params[:name], placeholder: "이메일로 검색 가능" %>
  <%= submit_tag '검색', name: nil %>
<% end %>

        <div class="cart" style="border: 1px solid #bdbdbd; margin-bottom: 30px; padding: 0px;">

          <table>
                    <thead style="border-bottom: 1px solid #bdbdbd;">
                      <tr>
                        <th class="point">날짜</th>
												<th class="point">아이디</th>
                        <th class="point">내용</th>
                        <th class="point">내역</th>
                      </tr>
                    </thead>

                    <tbody>

                    <% @point.each do |point| %>
										<% user = point.user %>
                    <% if point.payment_id %>
                    <% payment = point.payment  %>

                    <tr>
                      <td class="point"><%= point.created_at.strftime("%Y.%m.%d") %></td>
											<td class="point"><%= user.email %></td> 
                      <% if payment.merchant_uid %>
                      <td class="point"><%= point.name %></br> <a href="/mypage/purchase_statement/<%= payment.id%>"><%= payment.merchant_uid.last(13) %></a><% else %><span></span><% end%></td>
                        <% if point.method == 'add' %>
                        <span><td class="point">+<%= number_to_currency(point.amount.to_i, precision: 0, unit: "원", format: "%n %u")  %></td></span>
                        <% else %>
                      <td class="point"><span style="color: red;">-<%= number_to_currency(point.amount.to_i, precision: 0, unit: "원", format: "%n %u")  %></span></td>
                        <% end %>
                    </tr>

                    <% else %>

                      <tr>
                          <td class="point"><%= point.created_at.strftime("%Y.%m.%d") %></td>
													<td class="point"><%= user.email %></td>
                          <td class="point"><%= point.name %></td>
                          <% if point.method == 'add' %>
                          <span><td class="point">+<%= number_to_currency(point.amount.to_i, precision: 0, unit: "원", format: "%n %u")  %></td></span>
                          <% else %>
                          <td class="point"><span style="color: red;">-<%= number_to_currency(point.amount.to_i, precision: 0, unit: "원", format: "%n %u")  %></span></td>
                          <% end %>
                        </tr>
                      <% end %>
                    <% end %>

                    </tbody>
                  </table>
        </div>
		</div>
	</div>
</body>
</html>
