<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div class="container">
    <%= render "sidemenu" %>
    
            <h5>포인트관리</h5>
						 <div class="big_box">
                <div class="small_box">
<form action="/admin/point" method="post">

    </br>
    <div class="field">
		내용
		<input type="text" name="name"  placeholder="ex)반품/취소에 의한 포인트 반환/회수">
    </div>

    <div class="field">
		적립금
		 <input type="text" name="amount"  placeholder="ex)600">
		</div>

		<div class="field">
		사용/적립(add/use)
		 <input type="text" name="method"  placeholder="ex)use or add">
		 </div>

		 <div class="field">
		  주문번호
      <input type="text" name="payment_merchant_uid" placeholder="ex)merchant_1231231231231">
      </div>

			고객 이메일
  	  <div class="field">
			 <input type="text" name="user_email" placeholder="ex)je941004@naver.com">
		 </div>

		<div class="actions">
	   	<input type="submit" value="확인">
  	</div>
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
		</form>
								</div>
						</div>
	</div>
</div>


