<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div class="container">
    <%= render "sidemenu" %>
    
            <h5>팝업</h5>
						 <div class="big_box">
                <div class="small_box">
					<% unless @popup %>
						<a href="/popups/new">팝업 만들기</a>
						<% else %>
							 <table>
                  <thead>
                    <tr>                      
                      <th>넓이</th>
                      <th>높이</th>
					  <th>이미지</th>
                      <th colspan="5"></th>
                    </tr>
                  </thead>
                  <tbody>
                      <tr>
                        <td><%= @popup.width %></td>
                        <td><%= @popup.height %></td>
                        <td><img src="<%= @popup.image.url %>" style="width: 80px; height:auto;"></td>
                        <td><%= link_to '수정', edit_popup_path(@popup) %></td>
						<% unless @popup.status %><td><a href="/admin/popup/true">팝업창 띄우기 실행</a></td>
							<% else %><td><a href="/admin/popup/false">팝업창 띄우기 종료</a></td><% end %>
                      </tr>
                  </tbody>
                </table>
						<% end %>
								</div>
						</div>
	</div>
</div>
