<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">번호</Data></Cell>
        <Cell><Data ss:Type="String">카테고리</Data></Cell>
        <Cell><Data ss:Type="String">상품명</Data></Cell>
         <Cell><Data ss:Type="String">가격</Data></Cell>
        <Cell><Data ss:Type="String">SS</Data></Cell>
    <Cell><Data ss:Type="String">S</Data></Cell>
    <Cell><Data ss:Type="String">M</Data></Cell>
    <Cell><Data ss:Type="String">L</Data></Cell>
    <Cell><Data ss:Type="String">XL</Data></Cell>
    <Cell><Data ss:Type="String">XXL</Data></Cell>
    <Cell><Data ss:Type="String">등록일</Data></Cell>
      </Row>
    <% @product.each do |product| %>
      <Row>
    <Cell><Data ss:Type="Number"><%= product.id %></Data></Cell>
    <Cell><Data ss:Type="String"><%= product.p_category %></Data></Cell>
    <Cell><Data ss:Type="String"><%= product.p_title %></Data></Cell>
    <Cell><Data ss:Type="Number"><%= product.p_price %>원</Data></Cell>
    <Cell><Data ss:Type="String"><%= product.size_SS %></Data></Cell>
    <Cell><Data ss:Type="String"><%= product.size_S %></Data></Cell>
    <Cell><Data ss:Type="String"><%= product.size_M %></Data></Cell>
    <Cell><Data ss:Type="String"><%= product.size_L %></Data></Cell>
    <Cell><Data ss:Type="String"><%= product.size_XL %></Data></Cell>
    <Cell><Data ss:Type="String"><%= product.size_XXL %></Data></Cell>
    <Cell><Data ss:Type="String"><%= product.created_at %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>

