<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div class="container">
    <%= render "sidemenu" %>
    
<%= form_tag admin_product_upload_create_path, multipart: true do %>



    <h5>UPLOAD</h5>
	 <div class="product_upload_big_box"> <!-- 업로드 전체-->

			<div class="small_box"> <!-- 카테고리 -->
			<%= radio_button_tag(:p_category, "pants") %>
			<%= label_tag(:p_category_pants, "바지") %>
			</div>

		  <div class="small_box"> <!-- 이름 이랑 가격-->
		  <%= text_field_tag(:p_name, "이름") %>
		  <%= text_field_tag(:p_price, "가격 ex),넣지 않기 , 200000 , 19999,") %>
			</div>

			<div class="small_box"> <!--한줄 설명-->
			<%= text_field_tag(:p_comment, "설명") %>
			</div>

			<div class="small_box"> <!--옷 사이즈-->
			치수
 			<%= radio_button_tag(:size_SS, "1") %>
			<%= label_tag(:size_SS_1, "SS") %>

      <%= radio_button_tag(:size_S, "1") %>
			<%= label_tag(:size_S_1, "S") %>

			<%= radio_button_tag(:size_M, "1") %>
			<%= label_tag(:size_M_1, "M") %>

			<%= radio_button_tag(:size_L, "1") %>
			<%= label_tag(:size_L_1, "L") %>

			<%= radio_button_tag(:size_XL, "1") %>
			<%= label_tag(:size_XL_1, "XL") %>

			<%= radio_button_tag(:size_XXL, "1") %>
			<%= label_tag(:size_XXL_1, "XXL") %>
      </div>

		<div class="input-field"> <!--옷 사진-->
			<%= file_field_tag :m_image %>
		</div>

		<div class="input-field">
			<input type="file " multiple="multiple" name ="img[]" id ="d_image" />
		</div>

	    <div class="button">
	   <input type="submit" value="Up_load">
	  </div>
	 </div>
	<% end %>
 </div>
 </div>


  </body>
</html>