<div class="container">
<%= render "sidemenu" %>

            <h5>상품관리</h5>
						 <span>다운로드: <%= link_to "CSV", admin_product_management_path(format: "csv") %> | <%= link_to "Excel", admin_product_management_path(format: "xls") %></span>

  <%= form_tag(admin_product_management_path, method: :get) do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag '검색', search: nil %>
<% end %>

            <div class="big_box">
              <div class="small_box">
                <table>
                  <thead>
                    <tr>
                      <th>번호</th>
                      <th>카테고리</th>
                      <th>상품명</th>
                      <th>가격</th>
                      <th>대표사진</th>
                      <th>SS</th>
                      <th>S</th>
                      <th>M</th>
                      <th>L</th>
                      <th>XL</th>
                      <th>XXL</th>
                      <th colspan="5"></th>
                    </tr>
                  </thead>
 
                  <tbody>
                    <% @product.each do |product| %>
                      <tr>
                        <td><%= product.id %></td>
                        <td><%= product.p_category %></td>
                        <td><%= product.p_title %></td>
                        <td><%= product.p_price %></td>
                        <td><img src="<%= product.m_image.url %>" style="width: 80px; height:auto;"></td>
                        <td><%= product.size_SS %></td>
                        <td><%= product.size_S %></td>
                        <td><%= product.size_M %></td>
                        <td><%= product.size_L %></td>
                        <td><%= product.size_XL %></td>
                        <td><%= product.size_XXL %></td>
                        <td><%= link_to '보기', product %></td>
                        <td><%= link_to '수정', edit_product_path(product) %></td>
                        <td><%= link_to '삭제', product, method: :delete, data: { confirm: '삭제하시겠습니까?' } %></td>
												<% if product.status == true %>
												<td> <%= link_to '품절', controller: 'admin', action: 'soldout', id: product, data: { confirm: "이 상품을 품절시키겠습니까?" } %></td>
												<% end %>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
</div>


