<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div class="container">
    <%= render(:partial => 'sidemenu', :controller =>'admin', :action =>'sidemenu') %>
    
              <h5>반품/환불문의</h5>
              <div class="big_box">
                <div class="small_box">
    <ul class="collapsible" data-collapsible="accordion">
               <% @refunds.each do |refund| %>
               <% user = refund.user %>
               <% selects = refund.selects %>
							 <% payment = refund.payment %>
                            <li>
                                <div class="collapsible-header" style="font-size: 14px;">
                                 &emsp;<%= refund.id %>&emsp;&emsp;&emsp;<%= refund.created_at.strftime("%Y.%m.%d") %>&emsp;&emsp;&emsp;<%= refund.merchant_uid%>&emsp;&emsp;&emsp;&nbsp;<%= refund.reason %>&emsp;
                                </div>
                                <div class="collapsible-body" style="font-size: 14px;">
                                    <span>
                                     <div>
                                     &emsp; 고객 번호: <%= refund.phone_number %></br></br>
                                     <% selects.each do |select| %>
                                     <div class="small_box">
                                      <% product = select.product %>
                                          상품별 고유번호: <%= select.id %>
                                          상품명: <%= product.p_title %>
                                          구매 수량:  <%= select.product_quantity %>개
                                          구매 사이즈:  <%= select.selected_size.upcase %>

                                          반품/환불상태: <% if select.refund_status == "refund_request" %>반품/환불중<% elsif select.refund_status == "refund_complete"%>반품/환불완료<%end%>
                                          <form method='post' action='/admin/refund_question'>
                                          <input type='hidden' name='id' value=<%= select.id %> />
                                          <input type="hidden" name='imp_uid' value=<%= payment.imp_uid %> /> 
                                      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                                        <% if select.refund_status == "refund_complete" %><a class="btn disabled">반품/환불완료</a><% else %><input type='submit' value='반품/환불완료' class= "borderboxbox" style= "text-decoration: none; border: 1px solid #42a5f5; padding: 4px 25px 4px 25px;"/><% end %></br></br>
                                        </form>
                                          </div>
                                        <% end %>
                                        </div>
                                        </span>
                                    </div>
                                </li>
               <% end %>
     </ul>

              </div>
              </div>
            </div>

  </div>
</body>
<script type="text/javascript" src="js/materialize.min.js"></script>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>

  <script>
            $(document).ready(function () {
                $('.slider').slider({
        full_width: true,
        indicators: false
    });
            });
  </script>

  <script>
      $(document).ready(function(){
           $('.slider').slider('pause');
            });
  </script>

  <script>
      $(document).ready(function(){
          $('.next').click(function() {
             $('.slider').slider('next');
          });
          $('.prev').click(function() {
             $('.slider').slider('prev');
          });
        });
  </script>

       <script>
  (function($)
        $(document).ready(function(){
            $('.collapsible').collapsible();
        });
  }) (jQuery);
       </script>
</html>
