<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div class="container">
    <%= render "sidemenu" %>

            <h5>매출</h5>
  <div class="grid" style="margin: 5px; border: 1px solid #bdbdbd;">
               <table class="table">
                 <tr>
                  <th style="width: 30%;">
                      미결제
                  </th>
                  <th style="width: 70%;">
                      <%= number_to_currency(@ready, precision: 0, unit: "원", format: "%n %u") %>
                  </th>
                 </tr>
									 <tr>
                  <th style="width: 30%;">
                      결제완료
                  </th>
                  <th style="width: 70%;">
                      <%= number_to_currency(@paid, precision: 0, unit: "원", format: "%n %u") %>
                  </th>
                 </tr>
									 <tr>
                  <th style="width: 30%;">
                      취소및환불
                  </th>
                  <th style="width: 70%;">
                      <%= number_to_currency(@cancelled, precision: 0, unit: "원", format: "%n %u") %>
                  </th>
                 </tr>
               </table>
    </div>
    </br></br>
  <div class="big_box">
              <div class="small_box">
                <table>
                  <thead>
                    <tr>
                      <th>번호</th>
                      <th>카테고리</th>
                      <th>상품명</th>
                      <th>가격</th>
                      <th>대표사진</th>
                      <th>SS</th>
                      <th>S</th>
                      <th>M</th>
                      <th>L</th>
                      <th>XL</th>
                      <th>XXL</th>
											<th>팔린 갯수</th>
                      <th colspan="5"></th>
                    </tr>
                  </thead>

                  <tbody>
                    <% @products.each do |product| %>
                      <tr>
                        <td><%= product.id %></td>
                        <td><%= product.p_category %></td>
                        <td><%= product.p_title %></td>
                        <td><%= product.p_price %></td>
                        <td><img src="<%= product.m_image.url %>" style="width: 80px; height:auto;"></td>
                        <td><%= product.selects.where(["status = ? and selected_size = ?", "paid", "ss"]).count %></td>
                        <td><%= product.selects.where(["status = ? and selected_size = ?", "paid", "s"]).count %></td>
												<td><%= product.selects.where(["status = ? and selected_size = ?", "paid", "m"]).count %></td>
												<td><%= product.selects.where(["status = ? and selected_size = ?", "paid", "l"]).count %></td>
												<td><%= product.selects.where(["status = ? and selected_size = ?", "paid", "xl"]).count %></td>
												<td><%= product.selects.where(["status = ? and selected_size = ?", "paid", "xxl"]).count %></td>
												<td><%= product.selects.where(status:"paid").count%></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
        </div>
</div>
  </body>
</html>

