<div class="login_container">
  <div class="login_box">
    <div class="out_box">
      <h4>비밀번호변경</h4>
      <div class="inner_box">
        <h5>EDIT PASSWORD</h5>
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
            <%= f.hidden_field :reset_password_token %>
          
            <div class="field">
              <%= f.label :password, "새로운 비밀번호" %>
              <% if @minimum_password_length %>
                <em>(최소 <%= @minimum_password_length %> 자리 이상)</em><br />
              <% end %>
              <%= f.password_field :password, autofocus: true, autocomplete: "off", autofocus: true %>
            </div>
          
            <div class="field">
              <%= f.label :password_confirmation, "새로운 비밀번호 확인" %><br />
              <%= f.password_field :password_confirmation, autocomplete: "off" %>
            </div>
          
            <div class="actions" style="text-align: center;">
              <%= f.submit "비밀번호 변경", class:"login-button" %>
            </div>
          <% end %>
          <div class="row" style="text-align: center;">
            <button class="button" onclick="location.href='/users/sign_up'";>회원가입</button>
            <button class="button" onclick="location.href='/users/password/new'";>로그인</button>
          </div>
      </div>
    </div>
  </div>
</div>
