<div class="login_container">
  <div class="login_box">
    <div class="out_box">
      <h4>비밀번호찾기</h4>
      <p style="font-size: 13px; font-weight: 600;">이메일로 해당 링크를 보내드립니다.</p>
      <div class="inner_box">
        <h5>FIND PASSWORD</h5>
        </br>
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <%= devise_error_messages! %>
          
            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true %>
            </div>
          
            <div class="actions">
              <%= f.submit "비밀번호찾기", class:"login-button" %>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>
