<%= form_for(question_comment) do |f| %>
  <% if question_comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question_comment.errors.count, "error") %> prohibited this question_comment from being saved:</h2>

      <ul>
      <% question_comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :question_id %>
    <%= f.text_field :question_id %>
  </div>

  <div class="field">
    <%= f.label :qc_title %>
    <%= f.text_field :qc_title %>
  </div>

  <div class="field">
    <%= f.label :qc_comment %>
    <%= f.text_area :qc_comment %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
