<p id="notice"><%= notice %></p>

<h1>Question Comments</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Question</th>
      <th>Qc title</th>
      <th>Qc comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @question_comments.each do |question_comment| %>
      <tr>
        <td><%= question_comment.user %></td>
        <td><%= question_comment.question %></td>
        <td><%= question_comment.qc_title %></td>
        <td><%= question_comment.qc_comment %></td>
        <td><%= link_to 'Show', question_comment %></td>
        <td><%= link_to 'Edit', edit_question_comment_path(question_comment) %></td>
        <td><%= link_to 'Destroy', question_comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question Comment', new_question_comment_path %>
