<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @question_comment.user %>
</p>

<p>
  <strong>Question:</strong>
  <%= @question_comment.question %>
</p>

<p>
  <strong>Qc title:</strong>
  <%= @question_comment.qc_title %>
</p>

<p>
  <strong>Qc comment:</strong>
  <%= @question_comment.qc_comment %>
</p>

<%= link_to 'Edit', edit_question_comment_path(@question_comment) %> |
<%= link_to 'Back', question_comments_path %>
