<div class="category_box">
          <div class="bgimg2">
                    <a href='/happy/FAQ'>
                    <%= image_tag('question.png',class: "bgimg3") %></br>
                    <span class="bgimg-center2">자주묻는 질문</span>
                    </a>
          </div>
          <div class="bgimg2">
                    <a href='/happy/shopping'>
                    <%= image_tag('check.png', class: "bgimg3") %></br>
                    <span class="bgimg-center2">이용안내</span>
                    </a>
          </div>
          <div class="bgimg2">
                    <a href='/happy/refund'>
                    <%= image_tag('cart.png', class: "bgimg3") %></br>
                    <span class="bgimg-center2">반품/교환안내</span>
                    </a>
          </div>
          <div class="bgimg2">
                    <a onClick="window.open('https://www.doortodoor.co.kr/parcel/pa_004.jsp','1','status=yes,scrollbars=yes,width=1200,height=610')">
                    <%= image_tag('search.png', class: "bgimg3") %></br>
                    <span class="bgimg-center2">배송조회</span>
                    </a>
          </div>
      </div>

