<!DOCTYPE html>
<html>
  <head>
		<script language="JavaScript">
  <!--
  function setCookie( name, value, expiredays ) {
   var todayDate = new Date();
    todayDate.setDate( todayDate.getDate() + expiredays );
    document.cookie = name + "=" + escape( value ) + "; path=/; expires=" + todayDate.toGMTString() + ";"
   }
  function closePop() {
   if ( document.pop_form.chkbox.checked ){
    setCookie( "maindiv", "done" , 1 );
   }
   document.all['pop'].style.visibility = "hidden";
  }
  //-->
</script>
</head>
  <body>
   <!-- 팝업 -->
   <form name="pop_form">
      <% if @popup && @popup.status %>
		     <div id="pop" class="popup1" style="width:<%= @popup.width %>; height: <%= @popup.height %>; z-index: 2;">
   				 <div>
         <img src="<%= @popup.image %>">
        </div>

 					  <div class="close" style="color: #000; height: 47px; width:100%; font-size: 15px; text-align: center; background: rgba(255,255,255,1);">
        	<div id="check"> <input type="checkbox" class="filled-in" id="test5" name="chkbox" value="checkbox" />
            <label for="test5" style="color: #000; font-size:12px;">오늘 하루동안 보지 않기</label></div>
        	<div id="close"><a href="javascript:closePop();" style="font-size:13px; font-weight:bold; color: #424242;">닫 기</a></div>
        </div>
       </div>
		    <% end %>
     </form>
     
   <!-- 메인화면 이미지 -->
    <div class="slider" style="z-index: 1;">
     <ul class="slides">
       <li>
         <img src="<%= image_path('main1.jpg') %>"> <!-- random image -->
       </li>
       <li>
         <img src="<%= image_path('main2.jpg') %>"> <!-- random image -->
       </li>
       <li>
         <img src="<%= image_path('main3.jpg') %>"> <!-- random image -->
       </li>
     </ul>
    </div>
    
    <!-- 상품 정렬 -->
    <div class="list_boxboxbox">
 	  	  <div class="category_box">
      		<a href='/' class="bgimg">
      		 <img id="image_id" src="<%= image_path('benefit.png') %>">
      		</a>
      		<a href='/nonmember' class="bgimg">
      		 <img id="image_id" src="<%= image_path('member.png') %>">
      		</a>
      		<a href='/service/about' class="bgimg">
      		 <img id="image_id" src="<%= image_path('story.png') %>">
      		</a>
      		<a href='https://www.instagram.com/wallystudio/' class="bgimg">
      		 <img id="image_id" src="<%= image_path('insta.png') %>">
      		</a>
  	 		</div>
		  </div>

 <div class="list_boxbox">
     <div class="card_box">
        <div class="row">
         <div class="col l5 s4 listline">
         </div>
         <div class="col l2 s4" style="text-align: center;">
          <a href='/category/denims' class="listfont">
           &nbsp;청바지
          </a></br>
          <a href='/category/denims' class="listfont2">
           DENIMS
          </a>
         </div>
         <div class="col l5 s4 listline">
         </div>
        </div>

        <div class="uimax-block-section-26 pdt-80 pdb-80">
      <div class="card_box">
        <div class="product-list">
     <% @product_denims.each do |product| %>
				<div class="item">
            <div class="product-item">
              <div class="pic-wrapper">
                <a href="/products/<%= product.p_category %>/<%= product.id %>" class="inner">
                  <img src="<%= product.m_image.url %>" alt="" class="pic" />   <!-- 상품 대표사진 --!>
                <div class="pic-color">
                  <%if product.color1 != "" %>
									<a href="javascript:void(0)" class="pick" style="background-color:<%=product.color1 %>;"></a>
									 <% end %>
									 <%if product.color2 != "" %>
                  <a href="javascript:void(0)" class="pick" style="background-color:<%=product.color2 %>;"></a>
									<% end %>
									 <%if product.color3 != "" %>
                  <a href="javascript:void(0)" class="pick" style="background-color:<%=product.color3 %>;"></a>
									<% end %>
									 <%if product.color4 != "" %>
									  <a href="javascript:void(0)" class="pick" style="background-color:<%=product.color4 %>;"></a>
									 <% end %>
									  <%if product.color5 != "" %>
										 <a href="javascript:void(0)" class="pick" style="background-color:<%=product.color5 %>;"></a>
										<% end %>
                </div>
              </div>
              <div class="product-desc">
                <h2 class="name"><a href="/products/<%= product.p_category %>/<%= product.id %>"><%= product.p_title %></h2>  <!-- 상품명 --!>
                <% if product.status == true %>
                <div class="price"><%= number_to_currency(product.p_price, precision: 0, unit: "원", format: "%n%u")%></div>
                  <% old_price  = product.p_price * 0.1 %>
                <div class="old-price"><%= number_to_currency(product.p_price + old_price, precision: 0, unit: "원", format: "%n%u")%></div>
								<% else %>
                 <div class="price">품 절</div>
                <% end %>
								</a>
                <div class="compare-wrap">
              <!-- <a href="javascript:void(0)" class="btn comparebtn">비교하기</a> --!>
                </div>
              </div>
               <% if product.created_at + 21.days > Time.now %>
              <span class="sale">NEW</span>
               <% end %>
            </div>
           </div>
      <% end %>
			  </div>
			 </div>
      </div>
     </div>
    </div>	
			    <!-- 상품 정렬 (반바지) -->
			  
				<div class="list_boxbox">
     <div class="card_box">
        <div class="row">
         <div class="col l5 s4 listline">
         </div>
         <div class="col l2 s4" style="text-align: center;">
          <a href='/category/shorts' class="listfont">
           &nbsp;반바지
          </a></br>
          <a href='/category/shorts' class="listfont2">
           SHORTS
          </a>
         </div>
         <div class="col l5 s4 listline">
         </div>
        </div>

        <div class="uimax-block-section-26 pdt-80 pdb-80">
      <div class="card_box">
        <div class="product-list">
     <% @product_shorts.each do |product| %>

      <div class="item">
            <div class="product-item">
              <div class="pic-wrapper">
                <a href="/products/<%= product.p_category %>/<%= product.id %>" class="inner">
                  <img src="<%= product.m_image.url %>" alt="" class="pic" />   <!-- 상품 대표사진 --!>
                <div class="pic-color">
                  <%if product.color1 != "" %>
                  <a href="javascript:void(0)" class="pick" style="background-color:<%=product.color1 %>;"></a>
                   <% end %>
                   <%if product.color2 != "" %>
                  <a href="javascript:void(0)" class="pick" style="background-color:<%=product.color2 %>;"></a>
                  <% end %>
                   <%if product.color3 != "" %>
                  <a href="javascript:void(0)" class="pick" style="background-color:<%=product.color3 %>;"></a>
                  <% end %>
                   <%if product.color4 != "" %>
                    <a href="javascript:void(0)" class="pick" style="background-color:<%=product.color4 %>;"></a>
                   <% end %>
                    <%if product.color5 != "" %>
                     <a href="javascript:void(0)" class="pick" style="background-color:<%=product.color5 %>;"></a>
                    <% end %>
								</div>
              </div>
              <div class="product-desc">
                <h2 class="name"><a href="/products/<%= product.p_category %>/<%= product.id %>"><%= product.p_title %></h2>  <!-- 상품명 --!>
                <% if product.status == true %>
                <div class="price"><%= number_to_currency(product.p_price, precision: 0, unit: "원", format: "%n%u")%></div>
                  <% old_price  = product.p_price * 0.1 %>
                <div class="old-price"><%= number_to_currency(product.p_price + old_price, precision: 0, unit: "원", format: "%n%u")%></div>
								<% else %>
                 <div class="price">품 절</div>
                <% end %>
								</a>
                <div class="compare-wrap">
              <!--  <a href="javascript:void(0)" class="btn comparebtn">비교하기</a> --!>
                </div>
              </div>
               <% if product.created_at + 21.days > Time.now %>
              <span class="sale">NEW</span>
               <% end %>
            </div>
          </div>
      <% end %>
			</div>
			</div>
      </div>
     </div>
    </div>


			    <!-- 상품 정렬 (슬렉스)-->

		 <div class="list_boxbox">
     <div class="card_box">
        <div class="row">
         <div class="col l5 s4 listline">
         </div>
         <div class="col l2 s4" style="text-align: center;">
          <a href='/category/slacks' class="listfont">
           &nbsp;슬랙스
          </a></br>
          <a href='/category/slacks' class="listfont2">
           SLACKS
          </a>
         </div>
         <div class="col l5 s4 listline">
         </div>
        </div>

        <div class="uimax-block-section-26 pdt-80 pdb-80">
      <div class="card_box">
        <div class="product-list">
     <% @product_slacks.each do |product| %>

      <div class="item">
            <div class="product-item">
              <div class="pic-wrapper">
                <a href="/products/<%= product.p_category %>/<%= product.id %>" class="inner">
                  <img src="<%= product.m_image.url %>" alt="" class="pic" />   <!-- 상품 대표사진 --!>
                <div class="pic-color">
                  <%if product.color1 != "" %>
                  <a href="javascript:void(0)" class="pick" style="background-color:<%=product.color1 %>;"></a>
                   <% end %>
                   <%if product.color2 != "" %>
                  <a href="javascript:void(0)" class="pick" style="background-color:<%=product.color2 %>;"></a>
                  <% end %>
                   <%if product.color3 != "" %>
                  <a href="javascript:void(0)" class="pick" style="background-color:<%=product.color3 %>;"></a>
                  <% end %>
                   <%if product.color4 != "" %>
                    <a href="javascript:void(0)" class="pick" style="background-color:<%=product.color4 %>;"></a>
                   <% end %>
                    <%if product.color5  != "" %>
                     <a href="javascript:void(0)" class="pick" style="background-color:<%=product.color5 %>;"></a>
                    <% end %>
								</div>
              </div>
              <div class="product-desc">
                <h2 class="name"><a href="/products/<%= product.p_category %>/<%= product.id %>"><%= product.p_title %></h2>  <!-- 상품명 --!>
                <% if product.status == true %>
                <div class="price"><%= number_to_currency(product.p_price, precision: 0, unit: "원", format: "%n%u")%></div>
                  <% old_price  = product.p_price * 0.1 %>
                <div class="old-price"><%= number_to_currency(product.p_price + old_price, precision: 0, unit: "원", format: "%n%u")%></div>
								<% else %>
                 <div class="price">품 절</div>
                <% end %>
								</a>
                <div class="compare-wrap">
                 <!-- <a href="javascript:void(0)" class="btn comparebtn">비교하기</a> --!>
                </div>
              </div>
               <% if product.created_at + 21.days > Time.now %>
              <span class="sale">NEW</span>
               <% end %>
            </div>
           </div>
      <% end %>
			</div>
      	</div>
			</div>
     </div>
    </div>			
			   
			    <!-- 상품 정렬 (면바지)-->

 <div class="list_boxbox">
     <div class="card_box">
        <div class="row">
         <div class="col l5 s4 listline">
         </div>
         <div class="col l2 s4" style="text-align: center;">
          <a href='/category/pants' class="listfont">
           &nbsp;면바지
          </a></br>
          <a href='/category/pants' class="listfont2">
           PANTS
          </a>
         </div>
         <div class="col l5 s4 listline">
         </div>
        </div>

			  <div class="uimax-block-section-26 pdt-80 pdb-80">
      <div class="card_box">
        <div class="product-list">
     <% @product_pants.each do |product| %>
			
      <div class="item">
            <div class="product-item">
              <div class="pic-wrapper">
                <a href="/products/<%= product.p_category %>/<%= product.id %>" class="inner">
                  <img src="<%= product.m_image.url %>" alt="" class="pic" />   <!-- 상품 대표사진 --!>
                </a>
								<div class="pic-color">
                  <%if product.color1  != "" %>
                  <a href="javascript:void(0)" class="pick" style="background-color:<%=product.color1 %>;"></a>
                   <% end %>
                   <%if product.color2  != "" %>
                  <a href="javascript:void(0)" class="pick" style="background-color:<%=product.color2 %>;"></a>
                  <% end %>
                   <%if product.color3  != ""  %>
                  <a href="javascript:void(0)" class="pick" style="background-color:<%=product.color3 %>;"></a>
                  <% end %>
                   <%if product.color4  != "" %>
                    <a href="javascript:void(0)" class="pick" style="background-color:<%=product.color4 %>;"></a>
                   <% end %>
                    <%if product.color5 != "" %>
                     <a href="javascript:void(0)" class="pick" style="background-color:<%=product.color5 %>;"></a>
                    <% end %>
								</div>
              </div>
              <div class="product-desc">
                <h2 class="name"><a href="/products/<%= product.p_category %>/<%= product.id %>"><%= product.p_title %></h2>  <!-- 상품명 --!>
								<% if product.status == true %>
                <div class="price"><%= number_to_currency(product.p_price, precision: 0, unit: "원", format: "%n%u")%></div>
							  <% old_price  = product.p_price * 0.1 %>
                <div class="old-price"><%= number_to_currency(product.p_price + old_price, precision: 0, unit: "원", format: "%n%u")%></div>	
								<% else %>
								 <div class="price">품 절</div>
								<% end %>
								</a>
                <div class="compare-wrap">
                <!--  <a href="javascript:void(0)" class="btn comparebtn">비교하기</a> --!>
                </div>
              </div>
							 <% if product.created_at + 21.days > Time.now %>
              <span class="sale">NEW</span>
							 <% end %>
            </div>
          </div>
			<% end %>
			  </div>
			 </div>
      </div>
     </div>
		</div>
    </br></br></br></br>
     
    

		<script language="Javascript">
  cookiedata = document.cookie;
  if ( cookiedata.indexOf("maindiv=done") < 0 ){
   document.all['pop'].style.visibility = "visible";
   }
   else {
    document.all['pop'].style.visibility = "hidden";
  }
</script>
   <!--Import jQuery before materialize.js-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>

        <!--Materializecss Slider-->
        <script>
            $(document).ready(function () {
                $('.slider').slider({
                 full_width: true,
                 height: 450
                });
            });
        </script> 
  </body>
</html>
