<!DOCTYPE html>
<html>
	<head>
	</head>
    <body>
		 <div class="cart-box" >
		   <%= render "upmenu" %>
			</br></br>
			<div class="login_box">
			<div class="cart" style="padding-top: 10px;">
          <div class="row" style="margin: 0px -11px 0px -11px;">
		        <h4><strong>&nbsp;자주묻는 질문</strong></h4>
					    <div class="col s12">
					      <ul class="tabs">
					        <li class="tab col s2"><a class="active black-text" href="#test1" style="text-decoration: none">전체</a></li>				        
							<li class="tab col s2"><a class="black-text"href="#test2" style="text-decoration: none">상품</a></li>
						    <li class="tab col s2"><a class="black-text"href="#test3" style="text-decoration: none">주문</a></li>
					        <li class="tab col s2"><a class="black-text"href="#test4" style="text-decoration: none">배송</a></li>
					        <li class="tab col s2"><a class="black-text"href="#test5" style="text-decoration: none">교환</a></li>
					        <li class="tab col s2"><a class="black-text"href="#test6" style="text-decoration: none">기타</a></li>
					        <div class="indicator blue" style="z-index:1"></div>
					      </ul>
						</div>
					    <div id="test1" class="col s12">
					    	</br></br>
								<ul class="collapsible" data-collapsible="accordion">
								<% faq_counter = @faq.count + 1 %>
								<% @faq.each do |faq| %>
								<% faq_counter -= 1 %>
							    <li>
							      <div class="collapsible-header">
							      	&emsp;<%= faq_counter %>&emsp;&emsp;&emsp;&emsp;<%= faq.category %>&emsp;&emsp;&emsp;&emsp;<%= faq.title %>
							      </div>
							      <div class="collapsible-body">
							      	<span><%= simple_format(faq.content) %></span>
							      </div>
							    </li>
							<%end%>
							</ul>
					    </div>
					    <div id="test2" class="col s12">
					    	</br></br>
								<ul class="collapsible" data-collapsible="accordion">
								<% faq2 = 1 %>
								<% @faq.each do |faq| %>
								<% if faq.category =='상품' %>
								<% faq2 += 1 %>
								<% end %>
								<% end %>
								<% @faq.each do |faq| %>
								<% if faq.category == '상품' %>
								<% faq2 -= 1 %>
							    <li>
							      <div class="collapsible-header">
							      	&emsp;<%= faq2 %>&emsp;&emsp;&emsp;&emsp;<%= faq.category %>&emsp;&emsp;&emsp;&emsp;<%= faq.title %>
							      </div>
							      <div class="collapsible-body">
							      	<span><%= simple_format(faq.content) %></span>
							      </div>
							    </li>
							<% end %>
						<% end%>
						</ul>
						</div>
					    <div id="test3" class="col s12">
					    	</br></br>
							  <ul class="collapsible" data-collapsible="accordion">
							  <% faq3 = 1 %>
								<% @faq.each do |faq| %>
								<% if faq.category == '주문' %>
								<% faq3 += 1 %>
								<% end %>
								<% end %>
		            <% @faq.each do |faq| %>
		            <% if faq.category == '주문' %>
		            <% faq3 -= 1 %>	
							    <li>
							      <div class="collapsible-header">
							      	&emsp;<%= faq3 %>&emsp;&emsp;&emsp;&emsp;<%= faq.category %>&emsp;&emsp;&emsp;&emsp;<%= faq.title%>
							      </div>
							      <div class="collapsible-body">
							      	<span><%=  simple_format(faq.content) %></span>
							      </div>
							    </li>
							<% end %>
						<% end %>
							</ul>
					    </div>
					    <div id="test4" class="col s12">
					    	</br></br>
							  <ul class="collapsible" data-collapsible="accordion">
								<% faq4 = 1 %>
								<% @faq.each do |faq| %>
								<% if faq.category == '배송' %>
								<% faq4 += 1 %>
								<% end %>
								<% end %>
		            <% @faq.each do |faq| %>
		            <% if faq.category == '배송' %>
		            <% faq4 -= 1 %>
							    <li>
							      <div class="collapsible-header">
							      	&emsp;<%= faq4 %>&emsp;&emsp;&emsp;&emsp;<%= faq.category %>&emsp;&emsp;&emsp;&emsp;<%= faq.title %>
							      </div>
							      <div class="collapsible-body">
							      	<span><%= simple_format(faq.content) %></span>
							      </div>
						    	</li>
							<% end %>
						<% end %>
						</ul>
						</div>
					    <div id="test5" class="col s12">
					    	</br></br>
								<ul class="collapsible" data-collapsible="accordion">
								<% faq5 = 1 %>
		            <% @faq.each do |faq| %>
		            <% if faq.category == '교환' %>
		            <% faq5 += 1 %>
								<% end %>
								<% end %>
								<% @faq.each do |faq| %>
								<% if faq.category == '교환' %>
								<% faq5 -= 1 %>
							    <li>
							      <div class="collapsible-header">
							      	&emsp;<%= faq5 %>&emsp;&emsp;&emsp;&emsp;<%= faq.category %>&emsp;&emsp;&emsp;&emsp;<%= faq.title %>
							      </div>
							      <div class="collapsible-body">
							      	<span><%=  simple_format(faq.content)%></span>
							      </div>
							    </li>
							<% end %>
		        <% end %>
						 </ul>
					    </div>
					    <div id="test6" class="col s12">
					    	</br></br>
								<ul class="collapsible" data-collapsible="accordion">
							  <% faq6 = 1 %>
		            <% @faq.each do |faq| %>
		            <% if faq.category == '기타' %>
		            <% faq6 += 1 %>
								<% end %>
								<% end %>
								<% @faq.each do |faq| %>
								<% if faq.category == '기타' %>
								<% faq6 -= 1 %>
							    <li>
							      <div class="collapsible-header">
							      	&emsp;<%= faq6 %>&emsp;&emsp;&emsp;&emsp;<%= faq.category %>&emsp;&emsp;&emsp;&emsp;<%= faq.title %>
							      </div>
							      <div class="collapsible-body">
							      	<span><%= simple_format(faq.content) %></span>
							      </div>
							    </li>
							<% end %>
		        <% end %>
								</ul>
					    </div>
					</div>
				</div>
			</div>
		</div>
		
		
	

			<!--Import jQuery before materialize.js-->
       		 <!-- Compiled and minified JavaScript -->
       		 <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
			<script type="text/javascript" src="js/materialize.min.js"></script>
        	<!-- Compiled and minified JavaScript -->
        	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>

       		<script>
        	(function($) 
			$(document).ready(function(){
            			$('.collapsible').collapsible();
       		 	});
			}) (jQuery);
       		</script>	
       		
       		<script>
       			$(document).ready(function(){
				    $('ul.tabs').tabs();
				});
       		</script>
	</body>
</html>
