
 <!DOCTYPE html>
<html>
  <head>
  </head>
    <body>
     <div class="cart-box" >
			 <%= render "upmenu" %>
			</br></br>
			  <div class="cart-boxbox">
				 <div class="login_box">
					 <div class="servicebox">
            <h4><strong>&nbsp;반품/교환안내</strong></h4></br>
            1. 상품 수령일로부터 7일 이내에는 반품 및 환불이 가능합니다. (단, 주말 및 공휴일을 제외하고 수령일로부터 7일 이내에 페버릭 상품이 회수되어야 가능)</br></br>
            2. 아래의 사유는 환불이 불가능합니다.</br>
              - 처음 출고된 상태와 달라진 경우 (세탁, 착용, 수선 등)</br>
              - 일부 구성품이 훼손 또는 제거 된 경우 (택, 단추, 패키지 등)</br>
              - 일부 품목 (속옷류 및 일부 악세서리 제품 등)</br></br>
            3. 상품이 불량일 경우는 동일 상품으로 교환(배송비 페버릭 부담) 또는 배송비를 포함한 전액 환불이 가능합니다. 단, 단숨 변심 및 제품의 실밥, 주름 등 허용 범위 내의 제품 특성으로 인한 교환 및 환불의 경우 왕복 배송비를 차감한 금액이 환불됩니다.</br>
              - 반품하실 때, 이용하시는 택배사의 택배비를 직접 지불하시면 2,500원만 차감한 금액이 환불됩니다.</br></br>
            4. 동일 상품 사이즈 교환의 경우 사유가 고객 변심의 범주인 관계로, 편도 배송비(2,500원)를 부담해주셔야 합니다.</br>
              - 이용하시는 택배사의 택배비를 직접 지불하실 경우 편도 배송비(2,500원), 그게 아닐 경우 왕복 배송비(2,500원)을 부담해주셔야 합니다.</br></br>
            5. 이미 상품이 출도된 이후에는 상품을 다시 회수받은 뒤에 환불 처리가 가능합니다.</br>
            </br>
            고객센터에 글을 남겨주시거나 전화주시면 친절히 설명드리겠습니다.</br>
            <span style="color: red;">(사전 교환통지 없이 회수된 제품들은 처리가 곤란하오니 꼭 미리 연락주세요!)</span></br>
            </br>
            </br>
						<div style="text-align: center;"><a href="/mypage/purchase_statement"><button class="productbutton2">회원 반품/교환신청</button></a>
						<a href="/nonmember"><button class="productbutton2">비회원 반품/교환신청</button></a></br></br>
						<div style="text-align: center;"><a href="https://www.doortodoor.co.kr/parcel/pa_0000.jsp"><button class="productbutton">반품접수</button></a></div></br>
				</div>
			</div>
		</div>
 </div>
 </body>
</html>
