
 <!DOCTYPE html>
<html>
  <head>
  </head>
    <body>
     <div class="cart-box" >
	 <%= render "upmenu" %>
  </br></br>
  <div class="cart-boxbox">
		<div class="login_box">
	 			<div class="servicebox">
            <h4><strong>&nbsp;이용안내</strong></h4>
						</br>
            <p>
            [회원가입]</br></br>
            1.페버릭은 기본적으로 회원제로 운영하고 있습니다.</br>
            2.필수사항(이름, 이메일, 비밀번호)을 입력하시면 30초만에 회원가입이 가능합니다.</br>
            3.회원가입시 기본적으로 2,000원의 포인트가 지급됩니다.</br>
            </br>
            </br>
            [문의전화]</br></br>
            전화 : 070 - 7622 - 0401</br>
						카카오톡 : allthatstreet</br>
            평일은 오전 11시부터 오후 6시까지</br>
            </br>
            <span style="color: red;">토요일, 일요일, 공휴일은 쉬어요.</span></br>
            </br>
            </br>
            [배송 및 포인트]</br></br>
            1.기본배송료는 2,500원입니다. 주문 시 장바구니 상품 합계 금액이 30,000원 이상은 무료배송입니다.</br>
            2.페버릭에서 구매하신 상품은 CJ대한통운을 통해 안전하게 고객님께 배송됩니다.</br>
            3.택배는 주중 오후 6시에 출고되며, 주말 및 공휴일은 출고되지 않습니다.</br>
            4.배송 준비기간은 결제 확인 시점으로부터 평균 3일 이내입니다. 단, 재고 소진으로 인해 재입고가 될 경우 며칠 더 소요될 수 있습니다.</br>
            5.거래처 사정에 의해 5일 이상 걸리는 제품은 해당 고객님께 따로 연락드립니다.</br>
            6.구매 시 모든 상품의 적립 포인트는 2%으로 동일합니다.</br>
            7.신규회원가입시 2,000 포인트가 지급됩니다.</br>
            </br>
            </br>
            [상품문의]</br></br>
            1.구매한 상품의 취소 / 반품은 마이페이지 구매내역에서 가능합니다.</br>
            2.상품문의 및 상품후기를 통해 취소, 반품, 환불 등은 처리되지 않습니다.</br>
            3.가격, 취소, 교환, 반품, 환불 및 배송 등 해당 상품 자체와 관련 없는 문의는 마이페이지 문의를 이용해주세요.</br>
            4.게시물을 공개한 상태로 이메일, 전화번호 등 고객님의 개인정보는 절대 남기지 말아주세요.</br>
            </br>
            </p>
						</div>
					</div>
	</div>
 </div>
 </body>
</html>
