<html>
<head>
 <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
     input::placeholder {
       color: black;
     }
     
     input:-ms-input-placeholder {
       color: black;
     }
     
     input::-ms-input-placeholder {
       color: black;
     }
    </style>
</head>

<body>
<div class="cart-box">
     <div class="cart-boxbox">
       <h4><strong>&nbsp;주문</strong></h4>
       <div class="cart">
					 <% if @select.count > 0 %>
        <% count = @select.count %>
        <% @select.each do |item| %>
        <div class="row" style="height: auto; border: 1px solid #bdbdbd; padding: 0px 8px 0px 8px;">
            <div class="col l1 s1" style="text-align: center; padding: 30px 0px 30px 0px;">
              </br></br></br></br>
              <span style="border: 1px solid #bdbdbd; padding: 2px 5px 2px 5px;">
                <%= count %>
              </span>
            </div>
            <% count -= 1 %>
            <div class="col l8 s7" style="vertical-align: middle; padding: 30px 0px 30px 0px;">
              <div class="row">
                <div class="col l4 s12" style="text-align: center;">
                   </br>
                   <a href="/products/<%= item.product.p_category %>/<%= item.product.id %>">
              <img src="<%= item.product.m_image.url %>" style="width: 140px; height: 140px;" />
              </a>
            </div>

            <div class="col l8 s12" style="padding-left: 30px;">
                 </br>
                   <a href="/products/<%= item.product.p_category %>/<%= item.product.id %>" style="color: black; font-weight: 600;">
               <%= item.product.p_title %>
               </a></br>
	   					 <span style="font-weight: 700; margin-bottom: 15px;">색&nbsp;&nbsp;상 : </span><%= item.selected_colorname %></br>
               <span style="font-weight: 700; margin-bottom: 15px;">치&nbsp;&nbsp;수 : </span><%= item.selected_size.upcase %></br>
               <span style="font-weight: 700; margin-bottom: 15px;">금&nbsp;&nbsp;액 : </span>
               <% item.s_price = item.product.p_price.to_i * item.product_quantity %>
               <%= number_to_currency(item.s_price, precision: 0, unit: "원", format: "%n %u") %>
               </br>
               <span style="font-weight: 700; margin-bottom: 15px;">설&nbsp;&nbsp;명 : </span>
               <a href="/products/<%= item.product.p_category %>/<%= item.product.id %>" style="color: black;">
               <%= item.product.p_comment %>
               </a>
            </div>
          </div>
          </div>

          <div class="col l3 s4" style="padding: 30px 0px 30px 0px; text-align: center; vertical-align: middle;">
              </br>
            <%= form_for (item) do |f| %>
              <%  f.hidden_field :s_price %>
                    <%= f.text_field :product_quantity, style: 'width: 40px; text-align: center;' %></br>
                    <%= f.submit "수정", style: "text-decoration: none; border: 1px solid #42a5f5; background: white; color: #42a5f5; border-radius: 1.5px; padding: 4px 30px 4px 30px; font-size: 13px;" %></br></br>
                    <%= link_to '삭제', item, method: :delete, style: "text-decoration: none; border: 1px solid #42a5f5; background: white; color: #42a5f5; border-radius: 1.5px; padding: 4px 30px 4px 30px; font-size: 13px;", data: { confirm: '해당 상품을 삭제 하시겠습니까?' } %>
                  <% end %>
            </div>
          </div>

        <% end %>
    <% else %>
        <div class="row" style="border: 1px solid #bdbdbd; margin: 0px 10px 10px 10px;">
              <p style="text-align: center; padding: 35px; font-weight: 400;">담겨진 상품이 없습니다.</p>
            </div>
    <% end %>
 
          <%= link_to '뒤로가기', cart_path(@cart), class: "borderboxbox", style: "text-decoration: none;", data: { confirm: '뒤로 돌아가시겠습니까?' } %>
          <%= link_to '쇼핑하기', root_path, class: "borderboxbox", style: "text-decoration: none;" %>
 
  <form action="/payments/new" method="post">
				 <% two = 0 %>
				 <% product_price = 0 %>
         <% @select.each do |item| %>
         <% product_price += item.product.p_price.to_i * item.product_quantity %>
				  <input type="hidden" name="product_name[]" value="<%= item.id %>">
           <% end %>
         </br></br></br>
         
				
			   <h6 style="font-size: 24px; font-weight: 500; margin-bottom: 20px;">배송정보<span style="color: red; font-size: 15px;">&nbsp;&nbsp;&nbsp;<%= flash[:number] %><%= flash[:address] %></span></h6>
       <div class="grid">
        <table class="table">
         <tr>
          <th style="width: 25%;">배송주소</th>
          <td style="width: 75%;">
               <input id="delivery4" class="radio-button" type="hidden" name="delivery" value="4"/> 
           
           <div id="tab4" class="tabcontent  current">
                  <div class="row">
                   <div class="col l12 s12">
                   </div>
                   <div class="col l6 s12" style="margin-left: 0px; margin-right: 0px;">
									  <input type='text' name="postcode4" id="postcode4" placeholder="우편번호">
                   </div>
                   <div class="col l6 s12" style="margin-top: 8px; text-align: center;">
                     <input type="button" onclick="sample6_execDaumPostcodec()" value="우편번호 찾기" class="postbutton">
                   </div>
                   <div class="col l12 s12">
									 	 <input type='text' name="address7" id="address7" placeholder="상세주소">
										 <input type='text' name="address8" id="address8" placeholder="나머지주소">

                     <script src="https://ssl.daumcdn.net/dmaps/map_js_init/postcode.v2.js"></script>
                     <script>
                        function sample6_execDaumPostcodec() {
                            new daum.Postcode({
                               oncomplete: function(data) {
                                   // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                                   // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                                   // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                                   var fullAddr = ''; // 최종 주소 변수
                                   var extraAddr = ''; // 조합형 주소 변수

                                   // 사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                                   if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                                       fullAddr = data.roadAddress;

                                   } else { // 사용자가 지번 주소를 선택했을 경우(J)
                                       fullAddr = data.jibunAddress;
                                   }

                                   // 사용자가 선택한 주소가 도로명 타입일때 조합한다.
                                   if(data.userSelectedType === 'R'){
                                       //법정동명이 있을 경우 추가한다.
                                       if(data.bname !== ''){
                                           extraAddr += data.bname;
                                       }
                                       // 건물명이 있을 경우 추가한다.
                                       if(data.buildingName !== ''){
                                           extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                                       }
                                       // 조합형주소의 유무에 따라 양쪽에 괄호를 추가하여 최종 주소를 만든다.
                                       fullAddr += (extraAddr !== '' ? ' ('+ extraAddr +')' : '');
                                   }

                                   // 우편번호와 주소 정보를 해당 필드에 넣는다.
                                   document.getElementById('postcode4').value = data.zonecode; //5자리 새우편번호 사용
                                   document.getElementById('address7').value = fullAddr;

                                   // 커서를 상세주소 필드로 이동한다.
                                   document.getElementById('address8').focus();
                               }
                           }).open();
                       }
                     </script>
                   </div>
                 </div>
           </div>
          </td>
        </tr>
         <tr>
    	     <th style="width: 25%;">
    	      이름
    	     </th>
    			   <td style="width: 75%;">
    			    <input type="text" name="buyer_name">
							<br>
    				  </td>
    				 </tr>
         <tr>
          <th style="width: 25%;">
           연락처
          </th>
          <td style="width: 75%;">
           <input type="text" name="number" placeholder="ex)010-1234-5678" >
          </td>
         </tr>
         <tr>
          <th style="width: 25%;">
           요청사항
          </th>
          <td style="width: 75%;">
           <input type="text" name="request" placeholder="ex) 배송 전에 연락바랍니다.">
          </td>
         </tr>
        </table>
       </div>
       </br>
		     <h6 style="font-size: 24px; font-weight: 500; margin-bottom: 20px;">결제정보</h6>
       <div class="grid">
        <table class="table">
         <tr>
          <th style="width: 25%;">
           상품가격
          </th>
          <td style="width: 75%;">
           <div class="row">
            <div class="col l2 s12" style="text-align: right;">
             <%= number_to_currency(product_price.to_i, precision: 0, unit: "원", format: "%n %u")  %>
            </div>
           </div>
          </td>
         </tr>
         <tr>
          <th style="width: 25%;">
           배송비
          </th>
          <td style="width: 75%;">
           <div class="row">
            <div class="col l2 s12" style="text-align: right;">
                  <% if product_price.to_i < 30000 && product_price.to_i > 0 %> 2,500 원<% else %> 무료<%end%>
                 </div>
                </div>
                </td>
         </tr>

				 <% if product_price < 30000 && product_price > 0 %><% product_add_price = product_price + 2500 %><% else %><% product_add_price = product_price %><% end %>
        
        </table>
       </div>
       
       <div class="pricebox">
          <div class="row" style="padding-top: 7px;">
           <div class="col l3 s12">
            <p style="text-align: center;">
            총 <%= @select.count %>개의 상품금액&emsp;<%= number_to_currency(product_price.to_i, precision: 0, unit: "원", format: "%n %u") %>
            </p>
           </div>
           <div class="col l4 s12">
            <p style="text-align: center;">
            <%= image_tag 'add.png' %>&emsp;&emsp;
            배송비&emsp;<% if product_price.to_i < 30000 && product_price.to_i > 0  %>2,500<% else %>0<%end%> 원&emsp;
            </p>
           </div>
					 <div class="col l5 s12">
        		  <p style="text-align: center;">
            <%= image_tag 'equa.png' %>&emsp;&emsp;
             총 결제금액&emsp;<span id="bbb" style="font-size: 25px; font-weight: 600;"><%= number_to_currency(product_add_price, precision: 0,unit: "", format: "%n %u") %></span> 원
            </p>	 
           </div>
          </div>
         </div>
         </br></br>
				  <h6 style="font-size: 24px; font-weight: 500; margin-bottom: 20px;">결제방법 선택/결제</h6>
       <div class="grid">
        <table class="table">
         <tr>
          <th style="width: 30%;">
           결제방법
          </th>
          <td style="width: 70%;">
           <div class="charge-type">
             <input class="with-gap" name="type" type="radio" id="card" value="card" />
             <label for="card">신용카드</label>
             <input class="with-gap" name="type" type="radio" id="trans" value="trans" />
             <label for="trans">계좌이체</label>
             <input class="with-gap" name="type" type="radio" id="vbank" value="vbank" />
             <label for="vbank">가상계좌</label>
          <input class="with-gap" name="type" type="radio" id="phone" value="phone" />
             <label for="phone">휴대폰</label>
           </div>
          </td>
         </tr>
        </table>
       </div>
       </br>
         <div class="row">
         <p style="text-align: center; padding: 0px 20px 0px 20px;">
          <input type="checkbox" class="filled-in" id="filled-in-box" name="ordercheck" value="1" onchange="enableForms(this.checked)" required />
          <label for="filled-in-box" style="font-size: 13px; font-weight: 600;">(필수)</label>
          <span style="font-size: 15px;">구매하실 상품의 상품정보를 확인하였으며, 구매진행에 동의합니다.</span>
         </p>
       </div>
        <input type="hidden" id="amount" name="amount" value="<%= product_add_price%>">
        <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
		 			<% if @select.count >= 2 %>
           <input type="hidden" id="name" name="name" value="<%= @select.first.product.p_title %> 외 <%= @select.count - 1 %>종">
          <% else %>
            <input type="hidden" id="name" name="name" value="<%= @select.first.product.p_title %>">
          <% end %>
			 <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
     		 <button id="button1" name="data" class="submit-button" style="height: 55px;" value="3">결제하기</button>
		 </div>
   </div>
 </div>
</form>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
 <script>
		$(function() {
			$('ul.tab li').click(function() {
				var activeTab = $(this).attr('data-tab');
				$('ul.tab li').removeClass('current');
				$('.tabcontent').removeClass('current');
				$(this).addClass('current');
				$('#' + activeTab).addClass('current');
			})
		});
	</script>

<script>
    function enableForms (checkStatus){
          document.getElementById("button1").disabled = !checkStatus;
     };
</script>
</body>
</html>
