<div class="cart-box">
  <div class="cart-boxbox">
    <h4><strong>&nbsp;장바구니</strong></h4>
    <div class="cart" style="border: 1px solid #bdbdbd; margin-bottom: 30px; padding: 0px;">
    </br>
    <% if @select.count > 0 %>
        <% count = @select.count %>
        <% @select.each do |item| %>
        <div class="row" style="height: auto; margin: 2px 10px 18px 10px; border: 1px solid #bdbdbd; padding: 0px 8px 0px 8px;">
            <div class="col l1 s1" style="text-align: center; padding: 30px 0px 30px 0px;">
              </br></br></br></br>
              <span style="border: 1px solid #bdbdbd; padding: 2px 5px 2px 5px;">
                <%= count %>
              </span>
            </div>
            <% count -= 1 %>
            <div class="col l8 s7" style="vertical-align: middle; padding: 30px 0px 30px 0px;">
              <div class="row">
                <div class="col l4 s12" style="text-align: center;">
                   </br>
                   <a href="/products/<%= item.product.p_category %>/<%= item.product.id %>">
              <img src="<%= item.product.m_image.url %>" style="width: 130px; height: 160px;" />
              </a>
            </div>

            <div class="col l8 s12" style="padding-left: 30px;">
                 </br>
                   <a href="/products/<%= item.product.p_category %>/<%= item.product.id %>" style="color: black; font-weight: 600;">

               <%= item.product.p_title %>
               </a></br>
							 <span style="font-weight: 700; margin-bottom: 15px;">색&nbsp;&nbsp;상 : </span><%= item.selected_colorname %></br>
               <span style="font-weight: 700; margin-bottom: 15px;">치&nbsp;&nbsp;수 : </span><%= item.selected_size.upcase %></br>
               <span style="font-weight: 700; margin-bottom: 15px;">금&nbsp;&nbsp;액 : </span>
               <% item.s_price = item.product.p_price.to_i * item.product_quantity %>
               <%= number_to_currency(item.s_price, precision: 0, unit: "원", format: "%n %u") %>
               </br>
               <span style="font-weight: 700; margin-bottom: 15px;">설&nbsp;&nbsp;명 : </span>
               <a href="/products/<%= item.product.p_category %>/<%= item.product.id %>" style="color: black;">
               <%= item.product.p_comment %>
               </a>
            </div>
          </div>
          </div>

          <div class="col l3 s4" style="padding: 30px 0px 30px 0px; text-align: center; vertical-align: middle;">
              </br>
            <%= form_for (item) do |f| %>
              <%  f.hidden_field :s_price %>
                    <%= f.text_field :product_quantity, style: 'width: 40px; text-align: center;' %></br>
                    <%= button_to '수정', item, method: :get, style: "text-decoration: none; border: 1px solid #42a5f5; background: white; color: #42a5f5; border-radius: 1.5px; padding: 4px 30px 4px 30px; font-size: 13px;" %></br>
                    <%= button_to '삭제', item, method: :delete, style: "text-decoration: none; border: 1px solid #42a5f5; background: white; color: #42a5f5; border-radius: 1.5px; padding: 4px 30px 4px 30px; font-size: 13px;", data: { confirm: '해당 상품을 삭제 하시겠습니까?' } %>
                  <% end %>
            </div>
          </div>

        <% end %>
    <% else %>
        <div class="row" style="border: 1px solid #bdbdbd; margin: 0px 10px 10px 10px;">
              <p style="text-align: center; padding: 35px; font-weight: 400;">담겨진 상품이 없습니다.</p>
            </div>
    <% end %>
        <div style="display: flex;">
        <%= button_to '카트 비우기', cart_path, method: :delete, class: "borderboxbox", style: "text-decoration: none; margin-left: 10px;", data: { confirm: '카트를 비우시겠습니까?' } %>
        <%= link_to '쇼핑하기', root_path, class: "borderboxbox", style: "text-decoration: none; margin-left: 7px; padding-top: 3px;" %>
        </div>
      <div class="cart" style="border: 0px;">
        <% first = 0 %>
        <% @select.each do |item| %>
        <% product_price = item.product.p_price.to_i * item.product_quantity %>
        <% cart_total_price = product_price + first %>
        <% first = cart_total_price %>
          <% end %>

        <div class="pricebox">
         <div class="row" style="padding-top: 10px;">
          <div class="col l4 s12">
            <p>
            총 <%= @select.count %>개의 상품금액
            <%= number_to_currency(first, precision: 0, unit: "원", format: "%n %u") %>
            </p>
           </div>
           <div class="col l3 s12">
            <p>
            <%= image_tag 'add.png' %>&emsp;
            배송비<% if first < 30000 && first > 0  %> 2,500<% else %> 0<%end%> 원
            </p>
           </div>
           <div class="col l5 s12">
            <p>
            <%= image_tag 'equa.png' %>&emsp;
            <% if first < 30000 && first > 0 %><% first = first + 2500 %><% end %>
            총 주문금액
            <span style="font-weight: 600;"><%= number_to_currency(first, precision: 0, unit: "원", format: "%n %u") %></span>
            </p>
          </div>
         </div>
        </div>
        </br>
        </br>
				<% if user_signed_in? %>
        <%= button_to '주문하기', orders_new_path, method: :post , class: 'submit-button' %>
				<% else %>
				<%= button_to '비회원 주문하기',  nonmember_orders_path, method: :post , class: 'submit-button' %>
				<% end %>
      </div>
    </div>
  </div>
</div>
