<div class="login_container">
  <div class="login_box">
    <div class="out_box">
      <h4>로그인</h4>
      <div class="inner_box">
        <h5>MEMBER LOGIN <span style="font-size: 12px; color:red;">&nbsp&nbsp&nbsp&nbsp<%= flash[:notice1] %></span><span style="font-size: 12px;">&nbsp&nbsp&nbsp&nbsp<%= flash[:notice] %></span></h5> 
        </br>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :email, "이메일" %><br />
            <%= f.email_field :email, autofocus: true %>
          </div>

          <div class="field">
            <%= f.label :password, "비밀번호" %><br />
            <%= f.password_field :password, autocomplete: "off" %>
          </div>

				<div class="row">
          <% if devise_mapping.rememberable? -%>
          <div class="col l6 s6" style="margin-left: -11px;">
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me, "로그인 유지" %>
            </div>
          <% end %>
          </div>
					<!--
          <div class="col l6 s6" style="text-align: right;">
  					<div class="field">
  				    <a href='/users/confirmation/new' class="emailsend">이메일 재인증</a>
  					</div>
					</div>
					--!>
				</div>
          </br>
          <div class="actions" style="text-align: center;">
            <%= f.submit "로그인", class:"login-button" %>
          </div>
        <% end %>
        <div class="row" style="text-align: center;">
          <button class="button" onclick="location.href='/users/sign_up'";>회원가입</button>
          <button class="button" onclick="location.href='/users/password/new'";>비밀번호찾기</button>
        </div>
      </div>
    </div>
  </div>
</div>
