<!DOCTYPE html>
<html>
  <head>
    <style>
      html, body {
        width: 100vw;
        height: 100vh;
      }
    </style>
  </head>
  <body>
    </br></br></br>
    <div style="width: 500px; margin: auto;">
      <div class="progress">
        <div class="indeterminate"></div>
      </div>
    </div>
    </br></br>
    <div style="text-align: center;">
    <p style="font-size: 18px;">결제 진행중에 있습니다.</p>
    </div>
    </br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>

<!-- iamport -->
  <!--Import jQuery before materialize.js-->
                 <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

                 <!-- Compiled and minified JavaScript -->
                 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>

              <script type="text/javascript" src="https://service.iamport.kr/js/iamport.payment-1.1.5.js"></script>
                <script type="text/javascript">
								if ("<%= params[:type] %>" == 'phone' ){
   $(document).ready(function () {
                    var IMP = window.IMP;
                    // 가맹점 코드
                    IMP.init('imp86835130');

                     var type = "<%= params[:type] %>";
                     var name = "<%= params[:name] %>";
                     var buyer_name = "<%= params[:buyer_name] %>";
                     var phone_number = "<%= @number %>";
                     var email = "<%= params[:email] %>";
                     var address = "<%= @address %>" + "<%= @address2 %>";
                     var postcode = "<%= @postcode %>";
                     var amount = "<%= @amount %>";

IMP.request_pay({
                    pg : 'danal', // version 1.1.0부터 지원.
                    pay_method : type,
                    merchant_uid : 'merchant_' + new Date().getTime(),
                    name : name,
                    amount : amount,
                    buyer_email : email,
                    buyer_name : buyer_name,
                    buyer_tel : phone_number,
                    buyer_addr : address,
                    buyer_postcode : postcode,
                  }, function(rsp) {
    if ( rsp.success ) {
      //[1] 서버단에서 결제정보 조회를 위해 jQuery ajax로 imp_uid 전달하기
      jQuery.ajax({
        url: "/payments", //cross-domain error가 발생하지 않도록 동일한 도메인으로 전송
        type: 'POST',
        dataType: 'json',
        data: {
          authenticity_token: '<%= form_authenticity_token %>',
          imp_uid : rsp.imp_uid,
          product_name : <%= raw @product_name %>,
          delivery :"<%= params[:delivery] %>",
          postcode :"<%= @postcode %>",
          address :"<%= @address %>",
          address2 :"<%= @address2 %>",
          usepoint :"<%= params[:usepoint] %>",
          addpoint :"<%= params[:addpoint] %>",
          request :"<%= @request %>",
          phone_number :"<%= @number %>",
          //기타 필요한 데이터가 있으면 추가 전달
        }
      }).done(function (data) {
        //[2] 서버에서 REST API로 결제정보확인 및 서비스루틴이 정상적인 경우
        if ( rsp.success ) {
          var msg = '결제가 완료되었습니다.';
          msg += '\n고유ID : ' + rsp.imp_uid;
          msg += '\n상점 거래ID : ' + rsp.merchant_uid;
          msg += '\n결제 금액 : ' + rsp.paid_amount;
          msg += '카드 승인번호 : ' + rsp.apply_num;

          alert(msg);
          window.location = '/'; //완료페이지로 이동
        } else {
          //[3] 아직 제대로 결제가 되지 않았습니다.
          //[4] 결제된 금액이 요청한 금액과 달라 결제를 자동취소처리하였습니다.
        }
      }).fail(function (data) {

         window.location = '/payments/complete?id=' + rsp.imp_uid + '&usepoint=' + "<%= params[:usepoint] %>" ;

        });
    } else {
        var msg = '결제에 실패하였습니다.';
        msg += '에러내용 : ' + rsp.error_msg;

        alert(msg);
        window.history.go(-3); //실패
    }
          });
       });

}

else if('<%= params[:type] %>' == 'naverco' ){


$(document).ready(function () {
                    var IMP = window.IMP;
                    // 가맹점 코드
                    IMP.init('imp86835130');

                     var type = "<%= params[:type] %>";
                     var name = "<%= params[:name] %>";
                     var buyer_name = "<%= params[:buyer_name] %>";
                     var phone_number = "<%= @number %>";
                     var email = "<%= params[:email] %>";
                     var address = "<%= @address %>" + "<%= @address2 %>";
                     var postcode = "<%= @postcode %>";
                     var amount = "<%= @amount %>";

IMP.request_pay({
    pg : 'naverco',
    pay_method : type, //연동되지 않습니다. 네이버페이 결제창 내에서 결제수단을 구매자가 직접 선택하게 됩니다.
    merchant_uid : 'merchant_' + new Date().getTime(), //상점에서 관리하시는 고유 주문번호를 전달
    name : name,
    amount : amount,
    buyer_email : email,
    buyer_name : buyer_name,
    buyer_tel : phone_number, //누락되면 이니시스 결제창에서 오류
    buyer_addr : address,
    buyer_postcode : postcode,
    naverProducts : [
    	{
    		id : "singleProductId",
    		name : "네이버페이 상품1",
    		basePrice : 1000,
    		taxType : 'FREE', //TAX or FREE
    		quantity : 2,
    		infoUrl : "http://www.iamport.kr/product/detail",
    		imageUrl : "http://www.iamport.kr/product/detail/thumbnail",
    		shipping : {
    			groupId : "",
    			method : "DELIVERY", //DELIVERY(택배·소포·등기), QUICK_SVC(퀵 서비스), DIRECT_DELIVERY(직접 전달), VISIT_RECEIPT(방문 수령), NOTHING(배송 없음)
    			baseFee : 0,
    			feeType : "FREE", //FREE(무료), CHARGE(유료), CONDITIONAL_FREE(조건부 무료), CHARGE_BY_QUANTITY(수량별 부과)
    			feePayType : "FREE" //FREE(무료), PREPAYED(선불), CASH_ON_DELIVERY(착불)
    		}
    	},
    	{
    		id : "optionProductId",
    		name : "네이버페이 상품2",
    		basePrice : 1000,
    		taxType : 'FREE', //TAX or FREE
    		infoUrl : "http://www.iamport.kr/product/detail",
    		imageUrl : "http://www.iamport.kr/product/detail/thumbnail",
    		options : [ //네이버페이 상품2에 대해서 빨강-170mm사이즈 3개와 빨강-180mm사이즈 2개: 총 5개 구매
    			{
    				optionQuantity : 3,
    				optionPrice : 100,
    				selectionCode : "R_M",
    				selections : [
    					{
	      					code : "RED",
	  						label : "색상",
	  						value : "<%= params[:delivery] %>"
	  					},
	  					{
	  						code : "170",
	  						label : "사이즈",
	  						value : "170"
	  					}
					]
				},
    			{
    				optionQuantity : 2,
    				optionPrice : 200,
    				selectionCode : "R_L",
    				selections : [
    					{
	      					code : "RED",
	  						label : "색상",
	  						value : "빨강"
	  					},
	  					{
	  						code : "180",
	  						label : "사이즈",
	  						value : "180"
	  					}
					]
				}
			],
			shipping : {
				groupId : "",
				method : "DELIVERY", //DELIVERY(택배·소포·등기), QUICK_SVC(퀵 서비스), DIRECT_DELIVERY(직접 전달), VISIT_RECEIPT(방문 수령), NOTHING(배송 없음)
				baseFee : 0,
				feeType : "FREE", //FREE(무료), CHARGE(유료), CONDITIONAL_FREE(조건부 무료), CHARGE_BY_QUANTITY(수량별 부과)
				feePayType : "FREE" //FREE(무료), PREPAYED(선불), CASH_ON_DELIVERY(착불)
			}
		}
	]
});
}, function(rsp) {
    if ( rsp.success ) {
      //[1] 서버단에서 결제정보 조회를 위해 jQuery ajax로 imp_uid 전달하기
      jQuery.ajax({
        url: "/payments", //cross-domain error가 발생하지 않도록 동일한 도메인으로 전송
        type: 'POST',
        dataType: 'json',
        data: {
          authenticity_token: '<%= form_authenticity_token %>',
          imp_uid : rsp.imp_uid,
          product_name : <%= raw @product_name %>,
          delivery :"<%= params[:delivery] %>",
          postcode :"<%= @postcode %>",
          address :"<%= @address %>",
          address2 :"<%= @address2 %>",
          usepoint :"<%= params[:usepoint] %>",
          addpoint :"<%= params[:addpoint] %>",
          request :"<%= @request %>",
          phone_number :"<%= @number %>",
          //기타 필요한 데이터가 있으면 추가 전달
        }
 }).done(function (data) {
        //[2] 서버에서 REST API로 결제정보확인 및 서비스루틴이 정상적인 경우
        if ( rsp.success ) {
          var msg = '결제가 완료되었습니다.';
          msg += '\n고유ID : ' + rsp.imp_uid;
          msg += '\n상점 거래ID : ' + rsp.merchant_uid;
          msg += '\n결제 금액 : ' + rsp.paid_amount;
          msg += '카드 승인번호 : ' + rsp.apply_num;

          alert(msg);
          window.location = '/'; //완료페이지로 이동
        } else {
          //[3] 아직 제대로 결제가 되지 않았습니다.
          //[4] 결제된 금액이 요청한 금액과 달라 결제를 자동취소처리하였습니다.
        }
      }).fail(function (data) {

         window.location = '/payments/complete?id=' + rsp.imp_uid + '&usepoint=' + "<%= params[:usepoint] %>" ;

        });
    } else {
        var msg = '결제에 실패하였습니다.';
        msg += '에러내용 : ' + rsp.error_msg;

        alert(msg);
        window.history.go(-3); //실패
    }
          });
							}else {
$(document).ready(function () {
                    var IMP = window.IMP;
                    // 가맹점 코드
                    IMP.init('imp86835130');

                     var type = "<%= params[:type] %>";
                     var name = "<%= params[:name] %>";
                     var buyer_name = "<%= params[:buyer_name] %>";
                     var phone_number = "<%= @number %>";
                     var email = "<%= params[:email] %>";
                     var address = "<%= @address %>" + "<%= @address2 %>";
                     var postcode = "<%= @postcode %>";
                     var amount = "<%= @amount %>";


                    IMP.request_pay({
                    pg : 'danal_tpay', // version 1.1.0부터 지원.
                    pay_method : type,
                    merchant_uid : 'merchant_' + new Date().getTime(),
                    name : name,
                    amount : amount,
                    buyer_email : email,
                    buyer_name : buyer_name,
                    buyer_tel : phone_number,
                    buyer_addr : address,
                    buyer_postcode : postcode,
                    digital : 'true',
                    biz_num : '3744100369',
                    app_scheme : "www.g-onl.net:3000/payments/new"
                  }, function(rsp) {
    if ( rsp.success ) {
      //[1] 서버단에서 결제정보 조회를 위해 jQuery ajax로 imp_uid 전달하기
      jQuery.ajax({
        url: "/payments", //cross-domain error가 발생하지 않도록 동일한 도메인으로 전송
        type: 'POST',
        dataType: 'json',
        data: {
          authenticity_token: '<%= form_authenticity_token %>',
          imp_uid : rsp.imp_uid,
          product_name : <%= raw @product_name %>,
          delivery :"<%= params[:delivery] %>",
          postcode :"<%= @postcode %>",
          address :"<%= @address %>",
          address2 :"<%= @address2 %>",
          usepoint :"<%= params[:usepoint] %>",
          addpoint :"<%= params[:addpoint] %>",
          request :"<%= @request %>",
          phone_number :"<%= @number %>",
          //기타 필요한 데이터가 있으면 추가 전달
        }
 }).done(function (data) {
        //[2] 서버에서 REST API로 결제정보확인 및 서비스루틴이 정상적인 경우
        if ( rsp.success ) {
          var msg = '결제가 완료되었습니다.';
          msg += '\n고유ID : ' + rsp.imp_uid;
          msg += '\n상점 거래ID : ' + rsp.merchant_uid;
          msg += '\n결제 금액 : ' + rsp.paid_amount;
          msg += '카드 승인번호 : ' + rsp.apply_num;

          alert(msg);
          window.location = '/'; //완료페이지로 이동
        } else {
          //[3] 아직 제대로 결제가 되지 않았습니다.
          //[4] 결제된 금액이 요청한 금액과 달라 결제를 자동취소처리하였습니다.
        }
      }).fail(function (data) {

         window.location = '/payments/complete?id=' + rsp.imp_uid + '&usepoint=' + "<%= params[:usepoint] %>" ;

        });
    } else {
        var msg = '결제에 실패하였습니다.';
        msg += '에러내용 : ' + rsp.error_msg;

        alert(msg);
        window.history.go(-3); //실패
    }
          });
       });


								}
                </script>
  </body>
</html>
