<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'service.scss', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="login_box">
        <div class="servicebox">
            <h4>회사소개</h4>
            <img src="<%= image_path('garage.jpg') %>">
            <p>
              
              <span style="font-size: 23px;">"페버릭닷컴"</span></br>
              </br>
              페버릭이란?</br>
              FAVERICK은 FAVE(좋아하는 사람)와 MAVERICK(개성강한 사람)의 합성어입니다.</br>
              </br>
              페버릭은 남성바지 전문 쇼핑몰입니다.</br>
              </br>              
              근육이란 찾아볼 수 없는 어깨와 팔..</br>
              얇다못해 짧기까지한 다리..</br>
              똥배만 볼록튀어나온 ET형 체형을 가졌습니다..(안습ㅜㅜ)</br>
              제게 딱 맞는 바지를 찾았을 때, 그 기쁨을 아십니까?!</br>
              그 기쁨을 함께 나누고자 하는 마음으로 페버릭이 태어났습니다!</br>
              개성강하지만, 누구나 좋아할만한 그 바지만 찾아내겠습니다!</br>
              </br>              
              스타일 좋고, 품질도 좋은 제품을 정직한 가격으로 판매하겠습니다.</br>
              항상 고객의 마음으로 노력하는 페버릭이 되겠습니다. 감사합니다:D</br>
            </p>
        </div>
    </div>
  </body>
</html>

