<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'service.scss', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="login_box">
    	 <div class="servicebox">
						<h4>이용안내</h4>
            <p>
            [회원가입]</br>
            1.페버릭은 기본적으로 회원제로 운영하고 있습니다.</br>
            2.필수사항(이름, 이메일, 비밀번호)을 입력하시면 30초만에 회원가입이 가능합니다.</br>
            3.회원가입시 기본적으로 2,000원의 포인트가 지급됩니다.</br>
            </br>
            </br>
            [문의전화]</br>
            전화 : 070 - 7622 - 0401</br>
            평일은 오전 11시부터 오후 6시까지</br>
            </br>
            <span style="color: red;">토요일, 일요일, 공휴일은 쉬어요.</span></br>
            </br>
            </br>
            [배송 및 포인트]</br>
            1.기본배송료는 2,500원입니다. 주문 시 장바구니 상품 합계 금액이 30,000원 이상은 무료배송입니다.</br>
            2.페버릭에서 구매하신 상품은 CJ대한통운을 통해 안전하게 고객님께 배송됩니다.</br>
            3.택배는 주중 오후 6시에 출고되며, 주말 및 공휴일은 출고되지 않습니다.</br>
            4.배송 준비기간은 결제 확인 시점으로부터 평균 3일 이내입니다. 단, 재고 소진으로 인해 재입고가 될 경우 며칠 더 소요될 수 있습니다.</br>
            5.거래처 사정에 의해 5일 이상 걸리는 제품은 해당 고객님께 따로 연락드립니다.</br>
            6.구매 시 모든 상품의 적립 포인트는 2%으로 동일합니다.</br>
            7.신규회원가입시 2,000 포인트가 지급됩니다.</br>
            </br>
            </br>
            [교환 및 환불]</br>
            1. 상품 수령일로부터 7일 이내에는 반품 및 환불이 가능합니다. (단, 주말 및 공휴일을 제외하고 수령일로부터 7일 이내에 페버릭 상품이 회수되어야 가능)</br>
            2. 아래의 사유는 환불이 불가능합니다.</br>
              - 처음 출고된 상태와 달라진 경우 (세탁, 착용, 수선 등)</br>
              - 일부 구성품이 훼손 또는 제거 된 경우 (택, 단추, 패키지 등)</br>
              - 일부 품목 (속옷류 및 일부 악세서리 제품 등)</br>
            3. 상품이 불량일 경우는 동일 상품으로 교환(배송비 페버릭 부담) 또는 배송비를 포함한 전액 환불이 가능합니다. 단, 단숨 변심 및 제품의 실밥, 주름 등 허용 범위 내의 제품 특성으로 인한 교환 및 환불의 경우 왕복 배송비를 차감한 금액이 환불됩니다.</br>
              - 반품하실 때, 이용하시는 택배사의 택배비를 직접 지불하시면 2,500원만 차감한 금액이 환불됩니다.</br>
            4. 동일 상품 사이즈 교환의 경우 사유가 고객 변심의 범주인 관계로, 편도 배송비(2,500원)를 부담해주셔야 합니다.</br>
              - 이용하시는 택배사의 택배비를 직접 지불하실 경우 편도 배송비(2,500원), 그게 아닐 경우 왕복 배송비(2,500원)을 부담해주셔야 합니다.</br>
            5. 이미 상품이 출도된 이후에는 상품을 다시 회수받은 뒤에 환불 처리가 가능합니다.</br>
            </br>
            고객센터에 글을 남겨주시거나 전화주시면 친절히 설명드리겠습니다.</br>
            (사전 교환통지 없이 회수된 제품들은 처리가 곤란하오니 꼭 미리 연락주세요!)</br>
            </br>
            </br>
            [상품문의]</br>
            1.구매한 상품의 취소 / 반품은 마이페이지 구매내역에서 가능합니다.</br>
            2.상품문의 및 상품후기를 통해 취소, 반품, 환불 등은 처리되지 않습니다.</br>
            3.가격, 취소, 교환, 반품, 환불 및 배송 등 해당 상품 자체와 관련 없는 문의는 마이페이지 문의를 이용해주세요.</br>
            4.게시물을 공개한 상태로 이메일, 전화번호 등 고객님의 개인정보는 절대 남기지 말아주세요.</br>
            </br>
            </p>
				</div>
    </div>
  </body>
</html>
