<%= form_for(select) do |f| %>
  <% if select.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(select.errors.count, "error") %> prohibited this select from being saved:</h2>

      <ul>
      <% select.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
