<p id="notice"><%= notice %></p>

<h1>Selects</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @selects.each do |select| %>
      <tr>
        <td><%= link_to 'Show', select %></td>
        <td><%= link_to 'Edit', edit_select_path(select) %></td>
        <td><%= link_to 'Destroy', select, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Select', new_select_path %>
