// Place all the styles related to the Admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// 박스는 _sidemenu에서 쓰는 것 큰 박스, 작은 박스
.span {
	text-align: center;
}

.menu {
	text-align: center;
}

.big_box {
	border: 1px solid black;
	padding: 3px;
	margin: 5px;
}

.big_box .small_box {
	border: 1px solid black;
	background-color: white;
	padding: 10px 20px 25px 20px;
	margin: 5px;
}

.left {
	padding: 20px 30px;
	margin: 5px;
	text-align: left;
}

.product_upload_big_box {
	border: 1px solid black;
	background-color: #EBEDED;
	padding: 5px;
	margin: 5px;
}

.product_upload_big_box .small_box {
	padding: 5px;
	margin: 5px;
}

.submit-button {
    width: 100%;
    padding: 10px;
    background-color: #bdbdbd;
    border: 0px solid #bdbdbd;
    border-radius: 0px;
    color: white;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.1s ease;
}

.submit-button:hover {
    background-color: #e0e0e0;
    color: white;
}

#admininline {
	display: inline-block;
}

.charge-button {
	width: 100%;
    padding: 10px;
    background-color: #bdbdbd;
    border: 0px solid #bdbdbd;
    border-radius: 0px;
    color: white;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.1s ease;
}

.charge-button:hover {
    background-color: #e0e0e0;
    color: white;
}
