/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 /*
 *= require 'materialize'
 *= require_tree .
 *= require_self
*/

body {
	font-family: 'Verdana', 'Arial', sans-serif;
	width: 100%;
	height: 100%;
}

/* 레이아웃 페이지 선택자*/
nav {
    box-shadow: none !important;
    background-color: white;
}

.icon-darkgray {
    color: #4E4E49;
}

.nav-content {
    text-align: center;
    height: 45px;
    color: #4E4E49;
}

.content1 {
    font-size: 14px; 
    color: #4E4E49; 
    font-weight: 600;
    margin: 0 25px;
}

.content1:hover {
    font-size: 14px; 
    color: #1e88e5; 
    font-weight: 600;
    margin: 0 25px;
    transition: 0.1s
}

.indeximg {
    padding-left: 5%;
    padding-right: 5%;
}

.footerimg {
    margin-top: 30px;
    text-align: center;
}

.newyork {
    margin-bottom: 20%;
    text-align: center;
}

.adminimg {
    display: block;
    width /***/: auto; /* only IE8 */
    height: auto;
    vertical-align: middle;
    text-align: center;
    margin: auto;
}

.page-footer {
    margin-top: 50px;
    padding-left: 5%;
    padding-right: 5%;
    background: #fafafa;
    color: #616161;
    font-size: 0.8rem;
    display: block;
}

.footer-copyright {
    background: white;
    color: #616161;
    margin-left: 1%;
    margin-right: 1%;
}

.footer_bar {
    background-color: #e0e0e0;
    height: 3px;
}

.btn-flat {
    box-shadow: none !important;
    background-color: #f5f5f5;
    color: #9e9e9e;
    height: 30px;
    line-height: 30px;
    border-radius: 0px;
    font-size: 0.8rem;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: -4px;
}

.btn {
    box-shadow: none !important;
    background-color: #bdbdbd;
    height: 25px;
    line-height: 25px;
    margin-left: -1px;
    margin-right: 1px;
    margin-bottom: 2px;
}

.btn:hover {
    background-color: #bdbdbd;
}

.category_box {
    width: 1220px;
    flex-wrap: wrap;
    display: flex;
    margin: auto;
    justify-content: center;
}

.bgimg {
    text-align: center;
    margin: 0px 10px 20px 10px;
}

#image_id {
    height: 200px; 
    width: 284px;
    border: 1px solid #e0e0e0;
}

.bgimg-center {
    color: black;
    position: relative;
    top: 5px;
}

.bgimg-center2 {
    color: black;
    position: relative;
    top: 1px;
}

.welcome {
	 width: 100%;
	 margin: auto;
}


/* 세션 페이지 선택자 */
.login_container {
    margin: 0px auto;
}

.login_box {
    margin: 0px auto;
    border-top: 1px solid #f5f5f5;
}

.out_box {
    width: 620px;
    margin: 0px auto;
    padding: 10px;
}

.inner_box{
    width: 600px;
    margin: 0px auto;
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #bdbdbd;
}

.button {
    width: 276px;
    min-width: 135px; 
    margin: 0px auto;
    padding: 10px;
    background-color: #bdbdbd;
    border: 0px solid #bdbdbd;
    color: white;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.1s ease;
}

.button:hover {
    background-color: #e0e0e0;
    color: white;
}

.login-button {
    width: 557px;
    min-width: 275px;
    margin: 0px auto;
    margin-bottom: 4px;
    padding: 10px;
    background-color: #bdbdbd;
    border: 0px solid #bdbdbd;
    border-radius: 0px;
    color: white;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.1s ease;
}
  
.login-button:hover {
    background-color: #e0e0e0;
    color: white;
}

.browser-default {
    width: 82px;
    height: 35px;
    line-height: 35px;
    font-size: 13px;
}

.juso {
    width: 257px;
    height: 38px;
    margin: 0px auto;
    background-color: #bdbdbd;
    border: 0px solid #bdbdbd;
    border-radius: 0px;
    color: white;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.1s ease;
}

.juso:hover {
    background-color: #e0e0e0;
    color: white;
}

.postbutton {
    width: 240px;
    height: 38px;
    margin: 0px auto;
    background-color: #bdbdbd;
    border: 0px solid #bdbdbd;
    border-radius: 0px;
    color: white;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.1s ease;
}

.postbutton:hover {
    background-color: #e0e0e0;
    color: white;
}

.linkbutton {
    margin: 0px auto;
    padding: 10px 120px 12px 120px;
    background-color: #bdbdbd;
    border: 0px solid #bdbdbd;
    color: white;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.1s ease;
}

.linkbutton:hover {
    background-color: #e0e0e0;
    color: white;
}

.popup1 {
    position: absolute; 
    top: 150px; 
    left: 15%; 
    border: 2px solid #424242; 
    background: rgba(0,0,0,1);
}

.wrapper {
  width: 95%;
  margin: 0 auto;
}

header {
  background: white;
  color: #4E4E49;
  position: relative;
  padding: 10px 0px 0px 0px;
}

header:after {
  content: "";
  clear: both;
  display: block;
}

.logo1 {
  float: left;
  margin: 0;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 600;
  color: #4E4E49;
}

.logo2 {
  float: left;
  margin: 25 0 0 0px;
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 600;
  color: #4E4E49;
}

.nino {
    width: auto;
}

@media screen and (max-width:640px) {
    .nino {
        width: 100%;
    }

    .out_box {
        width: auto;
    }
    
    .inner_box {
        width: auto;
    }
    
    .button {
        width: auto;
    }
    
    .login-button {
        width: auto;
    }
    
    .row {
        width: auto;
    }
    
    .linkbutton {
        padding-left: 52px;
        padding-right: 52px;
    }
    
    .wooro {
        text-align: right;
    }
    
    .category_box {
        width: 100%;
    }
    
    #image_id {
        width: 180px;
        height: 130px;
    }
    
    .bgimg {
        text-align: center;
        margin: 0px 2px 0px 2px;
    }
    
    .popup1 {
        position: absolute; 
        top: 150px; 
        left: 5%;
    }
    header {
      background: white;
      color: #4E4E49;
      position: relative;
      padding: 20px;
    }
    
    .logo2 {
      float: left;
      margin: 25 0 0 0px;
      font-size: 28px;
      text-transform: uppercase;
      font-weight: 600;
      color: #4E4E49;
      display: none;
    }
}

.button4 {
    background-color: white;
    color: #757575;
    border: 2px solid white;
}

img.resize{
   width: 400px;
   height: 400px;
}

/* Back to Top Roket meluncur */
#scrolltop {
    display: none;
}

#rocketmeluncur {
    position: fixed;
    bottom: 50px;
    z-index: 7;
    display: none;
    visibility: hidden;
    width: 26px;
    height: 48px;
    right: 25px;
    background: url(http://3.bp.blogspot.com/-GZOBULN1Q4s/VbNxQrf37EI/AAAAAAAAAPk/rak337seJ70/s1600/Ask.png) 50% 0 no-repeat;opacity:0;
    -webkit-transition: visibility .6s cubic-bezier(.6,.04,.98,.335),opacity .6s cubic-bezier(.6,.04,.98,.335),-webkit-transform .6s cubic-bezier(.6,.04,.98,.335);
    -moz-transition: visibility .6s cubic-bezier(.6,.04,.98,.335),opacity .6s cubic-bezier(.6,.04,.98,.335),-moz-transform .6s cubic-bezier(.6,.04,.98,.335);
    transition: visibility .6s cubic-bezier(.6,.04,.98,.335),opacity .6s cubic-bezier(.6,.04,.98,.335),transform .6s cubic-bezier(.6,.04,.98,.335);
}

#rocketmeluncur i {
    display: block;
    margin-top: 48px;
    height: 14px;
    background: url(http://3.bp.blogspot.com/-GZOBULN1Q4s/VbNxQrf37EI/AAAAAAAAAPk/rak337seJ70/s1600/Ask.png) 50% -48px no-repeat;
    opacity:.5;
    -webkit-transition: -webkit-transform .2s;
    -moz-transition: -moz-transform .2s;
    transition: transform .2s;
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    transform-origin: 50% 0;
}

#rocketmeluncur:hover {
    background-position: 50% -62px;
}

#rocketmeluncur:hover i {
    background-position:50% 100%;
    -webkit-animation:flaming .7s infinite;
    -moz-animation:flaming .7s infinite;
    animation: flaming .7s infinite;
}

#rocketmeluncur.showrocket {
    visibility: visible;
    opacity: 1;
}

#rocketmeluncur.launchrocket {
    background-position: 50% -62px;
    opacity: 0;
    -webkit-transform: translateY(-800px);
    -moz-transform: translateY(-800px);
    -ms-transform: translateY(-800px);
    transform: translateY(-800px);
    pointer-events: none;
}
#rocketmeluncur.launchrocket i {
    background-position: 50% 100%;
    -webkit-transform: scale(1.4,3.2);
    -moz-transform: scale(1.4,3.2);
    transform: scale(1.4,3.2);
}

ul.tab {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

ul.tab li {
  background: none;
  color: #222 !important;
  display: inline-block;
  padding: 3px 5px;
  cursor: pointer;
}

ul.tab li.current {
  font-size: 16px;
  font-weight: 600;
  border-radius: 3px;
  color: #222 !important;
}

.tabcontent {
  display: none;
  background: white;
  padding: 5px;
}

.tabcontent.current {
  display: inherit;
}

#useallbutton {
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 2px;
} 

.checkbox-color[type="checkbox"].filled-in:checked + label:after{
     border: 2px solid #757575;
     background-color: #757575;
}

@media screen and (min-width:640px) {
    iframe {
        display: flex; 
        justify-content: center; 
        align-items: center;
        width: 700px !important;
        height: 500px !important;
        text-align: center;
        margin: auto;
    }
}

a.disabled {
   pointer-events: none;
   cursor: default;
}

.point {
    text-align: center;
}

.emailsend {
    font-size: 14px; 
    color: #9e9e9e; 
    border: 1px solid #bdbdbd; 
    margin-right: -22px; 
    padding: 4px 7px;
}

.service {
    color: black;
}

.service:hover {
    text-decoration: underline;
}

.slider .indicators .indicator-item {
  background: rgba(224, 224, 224, .4);
  width: 25px;
  height: 6px;
  margin: 0px 10px;
  border-radius: 0px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.slider .indicators .indicator-item.active {
  background: rgba(111, 188, 239, 1);
  border-radius: 0px;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(71, 172, 239, 1);
  -moz-box-shadow: 0px 0px 0px 0px rgba(71, 172, 239, 1);
  box-shadow: 0px 0px 0px 0px rgba(71, 172, 239, 1);
}

.slider .indicators {
  bottom: 50px;
  z-index: 10;
  /* text-align: left; */
}

.bgbtn {
    background: transparent;
}

.list_boxboxbox {
 background: white;
 margin-top: -20px;
}

.main-nav {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  background: white;
  height: 0;
  overflow: hidden;
}

.main-nav-open {
  height: auto;
}

.main-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav li:last-child {
  border-bottom: none;
} 


.main-nav a {
  color: #4E4E49;
  display: block;
  padding: 0em 1em;
  text-decoration: none;
  text-transform: uppercase;
}

.main-nav a:hover,
.main-nav a:focus{
  background: white;
  color: #1e88e5;
}

.menu-toggle {
  padding: 12px;
  position: absolute;
  top: 20px;
  right: 0.2em;
  cursor: pointer;
}

.hamburger,
.hamburger::before,
.hamburger::after{
  content: "";
  display: block;
  background: #4E4E49;
  height: 3px;
  width: 1.75em;
  transition: all ease-in-out 500ms;
}

.hamburger:before {
  transform: translateY(-6px);
}

.hamburger:after {
  transform: translateY(3px);
}

.open .hamburger {
  transform: rotate(45deg) ;
}

.open .hamburger:before {
  opacity: 0;
}

.open .hamburger:after {
  transform: rotate(90deg) translateY(3px);
}

@media only screen and (min-width: 640px){
  .menu-toggle {
    display: none;
  }
  
  .main-nav {
    height: auto;
    position: relative;
    background: transparent;
    float: right;
  }
  
  .main-nav li {
    display: inline-block;
    border: none;
  }
  
  .main-nav a {
    padding: 0;
    margin-left: 2em;
  }
  
  .main-nav a:hover,.main-nav a:focus {
    background: transparent;
  }
  
  .logo1 {
      float: left;
      margin: 0;
      font-size: 25px;
      text-transform: uppercase;
      font-weight: 600;
      color: #4E4E49;
      display: none;
    }
}
