// Place all the styles related to the carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cart-box {
    background: white;
    border-top: 1px solid #f5f5f5;
    padding-top: 50px;
}

.cart-boxbox {
    width: 900px;
    margin: auto;
}

.cart {
    width: 890px;
    margin: auto;
    padding: 1%;
    padding-top: 50px;
    padding-bottom: 50px;
    border: 1px solid #e0e0e0;
    
    a:hover {
    text-decoration: underline;
}
}

.pricebox {
    margin: auto;
    margin-top: 50px;
    width: 100%;
    border: 5px solid #bdbdbd;
    text-align: center;
    vertical-align: middle;
    border-radius: 1px;
    padding: 5%;
}

.borderboxbox {
    border: 2px solid #42a5f5;
    height: 30px;
    background-color: #fff;
    border-radius: 1.5px;
    color: #42a5f5;
    padding: 4px 30px 4px 30px;
    font-size: 13px;
}

.borderboxbox:hover {
    border: 2px solid #42a5f5;
    background: #42a5f5;
    border-radius: 1.5px;
    color: white;
    padding: 4px 30px 4px 30px;
    font-size: 13px;
}

.grid {
  border: 1px solid #757575;
  margin-bottom: 30px;
}

.cell {
  display: table-cell;
  flex: 1;
  flex-direction: column;
  position: relative;    
}

@supports(display: flex) {
  .cell {
    display: block;
  }
  .cell-valign-middle {
    display: flex;
    padding-top: 20px;
    padding-left: 10px;
  }
}

.cell {
  background: white;
  
  &.cell-1-5 {
    flex: none;
    width: 18%;
  }

  &.cell-nowrap {
    overflow: hidden;
    white-space: nowrap;
  }

  &.cell-100px {
    flex: none;
    padding-left: 50px;
    padding-top: 20px;
    width: 200px;
    max-width: 200px;
  }
  
  &.cell-center {
    margin-left: 40px;
    padding-top: 20px;
  }
}

.refine {
  height: 30px;
  border: 1.5px solid #b0bec5;
  color: #b0bec5;
  border-radius: 2px;
  background: white;
  font-size: 0.9rem;
  padding: 4px 7px 4px 7px;
  margin-bottom: 17px;
}

.refine:hover {
  height: 30px;
  color: white;
  border-radius: 2px;
  background: #b0bec5;
  font-size: 0.9rem;
  padding: 4px 7px 4px 7px;
  margin-bottom: 17px;
}

@media screen and (max-width:640px) {
    .cart-boxbox {
        width: auto;
    }
    
    .cart{
        width: auto;
        margin-left: 1%;
        margin-right: 1%;
    }
    
    .cell {
        background: white;
        
        &.cell-1-5 {
          flex: none;
          width: 18%;
        }
      
        &.cell-nowrap {
          overflow: hidden;
          white-space: nowrap;
        }
      
        &.cell-100px {
          flex: none;
          padding-left: 20px;
          padding-top: 20px;
          width: 150px;
          max-width: 150px;
          height: auto;
        }
        
        &.cell-center {
          margin-left: 20px;
          padding-top: 20px;
        }
    }
}
