// Place all the styles related to the Faqs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$brand-default: #B0BEC5;
$brand-primary: #2196F3;
$brand-secondary: #323a45;
$brand-success: #7EC855;
$brand-warning: #FFD600;
$brand-info: #29B6F6;
$brand-danger: #ef1c1c;
$bg-light-gray: #f5f5f5;
$heading-color: #333;
$text-color: #444;
body{
  background: white;
}
a,
button{
  transition:all 0.4s ease;
  -webkit-transition:all 0.4s ease;
  -moz-transition:all 0.4s ease;
}

.pdt-80{
  padding-top:80px;
}

.uimax-block-section-26{
  .product-list{
    display:block;
    position:relative;
    &:before{
      display:table;
      content:"";
    }
    &:after{
      content:"";
      display:table;
      clear:both;
    }
    .item{
      position:relative;
      width: 260px;
      margin: 1.1em;
      margin-bottom: 2.5em;
      float:left;
    }
    .product-item{
      position:relative;
      background:#FFF;
      overflow:hidden;
      -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.15);
      -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.15);
      box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.15);
      .pic-wrapper{
        position:relative;
        display:block;
        overflow:hidden;
        width:100%;
        &:before{
          content:"";
          display:block;
          padding-top:100%;
        }
        .inner{
          display:block;
          position:absolute;
          top:0;
          right:0;
          bottom:0;
          left:0;
          transition:all 0.6s ease;
          -webkit-transition:all 0.6s ease;
          -moz-transition:all 0.6s ease;
          .pic{
            position:absolute;
            top:0;
            left:50%;
            height:100%;
            width:auto;
            transform:translate(-50%,0);
            -webkit-transform:translate(-50%,0);
            -moz-transform:translate(-50%,0);
          }
        }
        .pic-color{
            position:absolute;
            bottom:0;
            right:0;
            width:100%;
            text-align:right;
            padding:15px;
            z-index:5;
            line-height:0;
          .pick{
            display:inline-block;
            width:15px;
            height:15px;
            transition:all 0.4s ease;
            -webkit-transition:all 0.4s ease;
            -moz-transition:all 0.4s ease;
            border:1px solid #ececec;
            &:hover{
              transform:scale(1.1);
              -webkit-transform:scale(1.1);
              -moz-transform:scale(1.1);
            }
            &.active{
              transform:scale(1.2);
              -webkit-transform:scale(1.2);
              -moz-transform:scale(1.2);
            }
          }
          }
      }
      .product-desc{
        padding: 0px 15px 20px 15px;
        text-align:center;
        .name{
          font-size:14px;
          margin-bottom:10px;
          line-height:1.5;
          font-weight:500;
          color:$brand-secondary;
          font-family: 'Roboto Slab', serif;
          a{
              color:$brand-secondary;
            &:hover{
              color:$brand-primary;
            }
          }
        }
        .price{
          display:inline-block;
          font-weight:700;
          color:$brand-danger;
          margin-right:10px;
        }
        .old-price{
          display:inline-block;
          color:lighten($brand-secondary,10%);
          text-decoration:line-through;
        }
      }
      .sale{
        background:$brand-danger;
        display:inline-block;
        padding:5px 10px;
        color:#FFF;
        text-transform:uppercase;
        font-size:10px;
        line-height:1;
        border-radius:2px 0 0 2px;
        position:absolute;
        top:15px;
        left:15px;
        &:after{
          content:"";
          position:absolute;
          left:100%;
          top:0;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 10px 0 10px 6px;
          border-color: transparent transparent transparent $brand-danger;
        }
      }
      &:hover{
        .pic-wrapper{
          .inner{
            transform:scale(1.05);
            -webkit-transform:scale(1.05);
            transform:scale(1.05);
          }
        }
      }
    }
  }
}

@media screen and (max-width:640px) {
  .uimax-block-section-26{
  .product-list{
    .item {
      position:relative;
      width: 46%;
      margin: 0.5em;
      margin-bottom: 2.5em;
      float:left;
    }
  }
  }
}

.compare-wrap {
  opacity: 0;
  transition: opacity 0.2s;
  padding-top: 15px;
}

.compare-wrap .btn {
  cursor: pointer;
  border: 1px solid #42a5f5;
  color: #42a5f5;
  font-size: 14px;
  height: 27px;
  background: white;
  
  &:hover {
    background: #42a5f5;
    border: 1px solid #42a5f5;
    color: white;
    font-size: 14px;
    height: 27px;
    transition: transform 300ms ease;
  }
}

.item:hover .compare-wrap {
  opacity: 1;
}
