// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.list_box {
 background: white;
 border-top: 1px solid #f5f5f5;
 padding-top: 50px;
 margin-top: 50px;
}

.card_box {
 max-width: 1180px;
 margin: auto;
}

.card {
 width: 260px;
 height: 400px auto;
 box-shadow: none !important;
 display: inline-block;
 vertical-align: center;
 margin: 1em;
 margin-bottom: 2.5em;
 
 img {
   max-width: 100%;
   height: 350px auto;
   border: 0;
   vertical-align: middle;
   box-sizing: border-box;
 }
}

.bgimg2 {
    text-align: center;
    margin: 0px 5px 5px 0px;
}


.brand-logo2 {
    width: 200px;
    height: 51px;
    margin: 50px 25px 50px 25px;
}

.bgimg3 {
      height: 160px;
      width: 195px;
      padding: 40px;
      border: 1px solid #e0e0e0;
}

@media screen and (max-width:640px) {
    .card {
     width: auto;
    }

    .card_box {
     width: auto;
    }
    
    .brand-logo2 {
     width: 200px;
     height: 51px;
     margin: 50px 25px 50px 10px;
    }
    
    .bgimg3 {
     height: 150px;
     width: 180px;
     padding: 40px;
     border: 1px solid #e0e0e0;
    }
}

.card {
  transition: transform .5s;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 2s cubic-bezier(.165, .84, .44, 1);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .15);
    content: '';
    opacity: 0;
    z-index: -1;
  }

  &:hover,
  &:focus {
    transform: scale3d(1.006, 1.006, 1);

    &::after {
      opacity: 1;
    }
  }
}

.cardfont {
 color: black;
}

.left-content {
 width: 67%;
 float: left;
 font-size: 15px;
 margin-top: 15px;
 margin-bottom: 10px;
 vertical-align: middle;
 padding-left: 1px;
}

.right-content {
 width: 33%;
 float: left;
 text-align: right;
 font-size: 15px;
 margin-top: 15px;
 margin-bottom: 10px;
 vertical-align: middle;
 padding-right: 1px;
}

.summary-content {
 font-size: 15px;
 width: 100%;
 float: left;
 padding-top: 10px;
 margin-bottom: 10px;
 vertical-align: middle;
 padding-left: 1px;
 border-top: 5px solid rgb(224, 224, 224);
}

.list_boxbox {
 background: white;
 padding-top: 50px;
 margin-top: 50px;
}

.listline {
 height: 34px;
 border-bottom: 1px solid #eeeeee;
}

.listfont {
 text-decoration: none;
 color: #424242;
 font-size: 27px;
}

.listfont2 {
 text-decoration: none;
 color: #757575;
 font-size: 17px;
}
