// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.wrap_box {
     width: 980px;
     margin: auto;
     text-align: left;
     margin-top: 90px;
     margin-bottom: 0px;
}

.et-hero-tabs,
.et-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: auto;
    height: auto;
    position: relative;
    background: rgb(254,254,254);
	  text-align: center;
	  padding: 0 2em;
}

.et-hero-tabs-container {
    display: flex;
    flex-direction: row;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 50px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background: #fff;
    z-index: 10;
    &--top {
        position: fixed;
        top: 0;
    }
}

.et-hero-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #000;
    letter-spacing: 0.1rem;
		transition: all 0.5s ease;
		font-size: 0.8rem;
	  &:hover {
			color:white;
      background: rgba(102,177,241,0.8);
			transition: all 0.5s ease;
    }
}

.et-hero-tab-slider {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 3px;
    background: #66B1F1;
    transition: left 0.3s ease;
}

@media (min-width: 640px) {
	.et-hero-tabs,
	.et-slide {
    h1 {
        font-size: 3rem;
    }
    h3 {
        font-size: 1rem;
    }
	}
	.et-hero-tab {
		font-size: 1rem;
	}
}

.info_box {
    background: white;
    border-top: 1px solid #f5f5f5;
    padding-bottom: 60px;
}

.container {
   text-align: left;
   margin-top: 90px;
   margin-bottom: 0px;
}

.bluebox {
    width: 20px;
    height: 20px;
    background-color: #0288d1;
    box-shadow: 0px 0px 1px #01579b;
    border-radius: 4px;
    vertical-align: center;
}

.productbutton {
    width: 120px;
    height: 48px;
    margin: 0px auto;
    padding: 13px;
    background-color: #bdbdbd;
    border: 0px solid #bdbdbd;
    border-radius: 0px;
    color: white;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.1s ease;
}

.productbutton:hover {
    background-color: #e0e0e0;
    color: white;
}

.productbutton2 {
    width: 180px;
    height: 48px;
    margin: 0px auto;
    padding: 13px;
    background-color: #bdbdbd;
    border: 0px solid #bdbdbd;
    border-radius: 0px;
    color: white;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.1s ease;
}

.buy-button {
    width: 270px;
    height: 48px;
    margin: 0px auto;
    padding: 13px;
    background-color: #bdbdbd;
    border: 0px solid #bdbdbd;
    color: white;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.1s ease;
}

.buy-button:hover {
    background-color: #e0e0e0;
    color: white;
}

.buy-button2 {
    width: 270px;
    height: 48px;
    margin: 0px auto;
    padding: 13px;
    background-color: #bdbdbd;
    border: 0px solid #bdbdbd;
    color: white;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.1s ease;
}

.buy-button2:hover {
    background-color: #e0e0e0;
    color: white;
}

.buy-button3 {
    width: 395px;
    height: 48px;
    margin: 10px auto;
    padding: 13px;
    background-color: #bdbdbd;
    border: 0px solid #bdbdbd;
    color: white;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.1s ease;
}

.buy-button3:hover {
    background-color: #e0e0e0;
    color: white;
}

.info-button {
    width: 160px;
    margin: 0px auto;
    padding: 10px;
    background-color: #bdbdbd;
    border: 0px solid #bdbdbd;
    border-radius: 0px;
    color: white;
    font-size: 0.9em;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.1s ease;
    float: right;
}

.info-button:hover {
    background-color: #e0e0e0;
    color: white;
}

.collapsible {
    margin: 10px;
    box-shadow: none !important;
    border-left: 0px;
    border-right: 0px;
}

.borderbox {
    border: 1px solid #42a5f5;
    background: #fff;
    height: 27px;
    border-radius: 2px;
    color: #42a5f5;
    padding: 4px 30px 4px 30px;
    font-size: 13px;
    font-weight: bolder;
}

table {
  width: 100%;
  > thead,
  > tbody,
  > tfoot {
    border-bottom: 0px;
    > tr {
      transition: all .3s ease;
      > th,
      > td {
        text-align: left;
        padding: 0.8rem;
        vertical-align: top;
        transition: all .3s ease;
      }
    }
  }
}

.table-responsive-vertical {
  @media screen and (max-width: 640px) {
    > .table {
      > thead,
      > tfoot {
        display: none;
      }
      > tbody {
        display: block;
        > tr {
          display: block;
          border: 1px solid #e0e0e0;
          border-radius: 2px;
          margin-bottom: 0.8rem;
          > td {
            display: block;
            vertical-align: middle;
            text-align: right;
          }
          > td[data-title]:before {
            content: attr(data-title);
            float: left;
            font-size: inherit;
            color: #757575;
          }
        }
      }
    }
  }
}

.lefttable {
  width: 260px;
  display: inline;
	img {
		width: 150px;
		height: 190px;
	}
}

.righttable {
  width: auto;
  margin-left: 1%;
  margin-right: 1%;
}

@media screen and (max-width:640px) {
    .productbutton {
      width: 100px;
    }
    
    .buy-button {
      width: 63%;
    }
    
    .buy-button2 {
      width: 195%;
      border-radius: 0px;
    }
    
    .buy-button3 {
      width: 99.5%;
    }
    .info-button {
      width: 120px;
    }
    
    .wrap_box {
      width: 100%;
    }
    
    .lefttable {
      img {
        width: 243px;
        height: 300px;
      }
    }

		.productbutton2 {
    width: 155px;
    height: 48px;
    margin: 0px auto;
    padding: 13px;
    background-color: #bdbdbd;
    border: 0px solid #bdbdbd;
    border-radius: 0px;
    color: white;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
	  transition: all 0.1s ease;
	}

}

* {
  box-sizing: border-box;
}

.radio-tile-group {
  display: flex;

  .input-container {
    position: relative;
    height: 40px;
    min-width: 40px;
    margin: 7px 7px 5px 0px;

    .radio-button {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      margin: 0;
      cursor: pointer;
    }

    .radio-tile {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      border: 1px solid grey;
      border-radius: 5px;
      padding: 3px 7px 3px 7px;
      transition: transform 300ms ease;
      font-weight: 600;
    }
    
    .radio-tile-label {
      text-align: center;
      font-size: 0.75rem;
      font-weight: 600;
      letter-spacing: 1px;
      color: grey;
    }

    .radio-button:checked + .radio-tile {
      background-color: #079ad9;
      border: 2px solid #079ad9;
      color: white;
      transform: scale(1.1, 1.1);
      
      .radio-tile-label {
        color: white;
        background-color: #079ad9;
      }
    }
  }
}

.radio-tile-group2 {
  display: flex;

  .input-container2 {
    position: relative;
    height: 30px;
    width: auto;

    .radio-button {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      cursor: pointer;
    }

    .radio-tile {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      border: 1px solid grey;
      border-radius: 5px;
      padding: 3px 7px 3px 7px;
      transition: transform 300ms ease;
    }
    
    .radio-tile-label {
      text-align: center;
      font-size: 0.7rem;
      font-weight: 600;
      letter-spacing: 1px;
      color: grey;
    }

    .radio-button:checked + .radio-tile {
      background-color: #757575;
      border: 2px solid #757575;
      color: white;
      transform: scale(1.1, 1.1);
      
      .radio-tile-label {
        color: white;
        background-color: #757575;
      }
    }
  }
}

.carousel-item {
  background-position: center; 
  background-size: cover;
}

.listfixed {
  position: fixed;
  bottom: 40px;
  left: 25px;
  z-index: 11;
}

