// Place all the styles related to the service controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
 *= require 'materialize'
 *= require_tree .
 *= require_self
*/

.login_box {
    margin: 0px auto;
    border-top: 1px solid #f5f5f5;
    padding-top: 50px;
    padding-left: 5%;
    padding-right: 5%;
}

.servicebox {
    border: 1px solid #f5f5f5;
    padding: 2%;
}
