<div style="background: #fafafa; display: block; min-width: 320px; padding: 30px">
        <h5><span style="font-size: 28px; background: black; color: white; border-bottom: 4px solid black; font-weight: 550;">FAVE</span><span style="font-size: 28px; border-bottom: 4px solid black; font-weight: 550; color: black;">RICK</span></h5>
    <div style="background: #fff; font-size: 14px; margin: 30px auto; padding: 30px 40px; width: 240px">
        <div style="display: block; height: 32px; margin: 0 auto 30px; width: auto; text-align: center;">
            <span style="font-size: 18px; font-weight: 600px; color: #212121;">이메일인증하기</span>
        </div>
        <div style="color: #141823; margin-bottom: 20px">
            <span>안녕하세요 <%= @resource.name %>님!</span><br>
            <span>이메일 인증/재인증을 요청하셨나요?</span><br>
            <span>이메일을 인증하기 원하신다면 아래 버튼을 클릭해주세요.</span>
        </div>
        <div align="center" style="margin-bottom: 30px; text-align: center">
            <%= link_to '이메일 인증하기', confirmation_url(@resource, confirmation_token: @token), style: "background: #2196f3; border-radius: 3px; border: 1px solid #2196f3; color: #fff; display: inline-block; padding: 10px 16px; text-align: center; text-decoration: none;" %>
        </div>
        <div style="border-top-color: #d8d8d8; border-top-style: solid; border-top-width: 1px; line-height: 1px; margin-bottom: 30px">
        </div>
        <div style="color: #9b9b9b; font-size: 12px">
            <span>만약 인증을 원치 않으신다면 그냥 무시해 주시면 됩니다.</span>
            <span>위의 인증하기를 하지 않는 이상 페버릭 서비스를 이용하는데 제약사항이 있을 수 있습니다.</span>
        </div>
    </div>
</div>

