<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <style>
        a:hover {
            text-decoration: underline;
        }
        
        .btn-group button {
            background-color: #f5f5f5; /* Green background */
            border: 2px solid #f5f5f5; /* Green border */
            color: #757575; /* White text */
            padding: 1%; /* Some padding */
            cursor: pointer; /* Pointer/hand icon */
            float: left; /* Float the buttons side by side */
            font-size: 0.9rem;
        }
        
        .btn-group button:not(:last-child) {
            border-right: none; /* Prevent double borders */
        }
        
        /* Clear floats (clearfix hack) */
        .btn-group:after {
            content: "";
            clear: both;
            display: table;
        }
        
        /* Add a background color on hover */
        .btn-group button:hover {
            color: #66B1F1;
            border: 2px solid #66B1F1;
            border-radius: 1px;
        }
    </style>
  </head>

  <body>
	   <% count_start = 0 %>
     <% count_ing = 0 %>
		 <% count_end = 0 %>
	  <%  current_user.payments.each do |payment| %>
                        <% if payment.tran %>
                          <% tran = payment.tran %>
                            <% if tran.status == '배송출발' || tran.status == '집화출발' || tran.status == '집화처리' || !tran.status %>
                             <% count_start += 1 %>
                            <% elsif tran.status == '배달완료' %>
                             <% count_end += 1 %>
														<% else %>
														 <% count_ing += 1 %>
                            <% end %>
												<% end %>		
											<% end %>	

    <div class="cart-box">
     <div class="cart-boxbox">
           <span style="font-size: 24px; font-weight: 600; padding-left: 15px;"><%= current_user.name %>님, 반갑습니다.</span>
           <div class="grid" style="margin: 5px; border: 1px solid #bdbdbd;">
               <table class="table">
                 <tr>
                  <th style="width: 25%;">
                      이메일
                  </th>
                  <th style="width: 75%;">
                      <%= current_user.email %> 
                  </th>
                 </tr>
                <tr>
                  <th style="width: 25%;">
                      포인트
                  </th>
                  <th style="width: 75%;">
                    <a href='/mypage/point/details' style="color: black;"><%= number_to_currency(current_user.point, precision: 0, unit: "", format: "%n %u")  %></a>원
								</th>
                 </tr>
                 <tr>
                  <th style="width: 25%;">
                      주문정보
                  </th>
                  <th style="width: 75%;">
                      구매 : <% if current_user.payments.count > 0 %><%= current_user.payments.count %><%else%>0<%end%>건</br></br>
                      반품 : <% if current_user.refunds.count > 0 %><%= current_user.refunds.count %><% else %>0<%end%>건 </br></br>
                      배송중 : <%= count_ing %>건</br></br>
                  </th>
                 </tr>
               </table>
           </div>
     </div>
    </div>
    </br></br>
    <div class="btn-group" style="width:100%">
        <button style="width:20%" onclick="location.href='/mypage/purchase_statement'">구매목록</button>
        <button style="width:20%" onclick="location.href='/mypage/exchange_return'">교환/반품</button>
        <button style="width:20%" onclick="location.href='/mypage/my_activity'">나의활동</button>
        <button style="width:20%" onclick="location.href='/mypage/user_information'">회원정보</button>
        <button style="width:20%" onclick="location.href='/mypage/FAQ'">고객센터</button>
    </div>
  </body>
</html>
