 <div class="login_container">
       <div class="login_box">
           <div class="out_box">
               <h4>일대일문의수정</h4>
               <div class="inner_box">
<%= form_for(@inquiry) do |f| %>
 
    <div>
    <p><%= flash[:review] %></p>
      </br>
     <div class="field">
        <%= f.label :title, "제목 *" %>
        <%= f.text_field :title, autofocus: true %>
     </div>

	   <div class="field">
         <%= f.label :content, "내용 *" %>
         <%= f.text_field :content, autofocus: true %>
     </div>

		 <div class="actions">
     		<%= f.submit "수정하기", class: "login-button" %>
   	 </div>
 <% end %>
</div>
 </div>
 </div>
 </div>
