<div class="cart-box">
	<div class="cart-boxbox" style="border: 0px; padding: 0px 5px 0px 5px;">
    <h4><strong>&nbsp;장바구니</strong></h4>
        <div class="cart" style="padding: 40px;">
            <p style="text-align: center; vertical-align: middle;">
                처음으로 방문하셨군요!</br></br>
                좋은 상품들을 담아보세요 :D
            </p>
        </div>
        </br>
        </br>
				</br>
        <button class="submit-button" onclick="location.href='/'" style="height: 50px;">둘러보기</button>
				</br>
				</br>
				</br>
				</br>
				</br>
    </div> 
</div>
