<!DOCTYPE html>
<html>

  <body>

<%= render "menu" %>

<div class="cart-box">
  <div class="cart-boxbox" style="border: 0px;">
    <h4><strong>&nbsp;교환</strong></h4>

    <% if @user.exchanges.count > 0 %>
		<% e_count = 0 %>
     <% @exchange.each do |exchange| %>
       <% exchange.selects.each do |select| %>
         <% e_count += 1 %>
         <% end %>
         <% end %>
      <% @exchange.each do |exchange| %>
        <% selects = exchange.selects %>
    <div class="cart" style="border: 1px solid #bdbdbd; margin-bottom: 30px; padding: 0px;">
      <div class="row" style="border-bottom: 1px solid #bdbdbd; padding: 12px 8px 12px 8px;">
        <div class="col l8 s8">
          <h5>교환신청일<span style="font-size: 15px;">&nbsp;(<%= exchange.created_at.strftime("%Y. %m. %d") %>)</span></h5>
        </div>
        <div class="col l4 s4" style="text-align: right;">
          <a href="/mypage/purchase_statement/<%=exchange.payment.id%>"><h5>주문정보</h5></a>
        </div>
      </div>
       <% selects.each do |select| %>
			 <% product = select.product %>
      <div class="row" style="height: auto; margin: 2px 15px 18px 15px; border: 1px solid #bdbdbd; padding: 0px 8px 0px 8px;">
        <div class="col l1 s1" style="text-align: center; padding: 30px 0px 30px 0px;">
          </br></br></br></br>
          <span style="border: 1px solid #bdbdbd; padding: 2px 5px 2px 5px;">
					<%= e_count %>
					<% e_count -= 1 %>
					</span>
        </div>
        <div class="col l8 s7" style="vertical-align: middle; padding: 30px 0px 30px 0px;">
          <div class="row">
            <div class="col l4 s12" style="text-align: center;">
               </br>
                 <a href="/products/<%= product.p_category %>/<%= product.id %>">
							  <img src="<%= product.m_image.url %>" style="width: 130px; height: 160px;" />
								</a>
        </div>
        <div class="col l8 s12" style="padding-left: 30px;">
            </br>
               <a href="/products/<%= product.p_category %>/<%= product.id %>"  style="color: black; font-weight: 600;">
						<%= product.p_title %>
						  </a></br>
							 색상 : <%= select.selected_colorname %></br>
               치수 : <%= select.selected_size.upcase %>&nbsp;&nbsp;/&nbsp;&nbsp;수량 : <%= select.product_quantity %>개</br>
               금액 : <%= number_to_currency(product.p_price.to_i, precision: 0, unit: "원", format: "%n %u") %> </br>
        </div>
       </div>
        </div>

 <div class="col l3 s4" style="padding: 30px 0px 30px 0px; text-align: center; vertical-align: middle;">
          </br>
          <% if select.exchange_status == "exchange_complete" %>
            <span style="font-size: 20px; color: #43a047;">교환완료</span>
						</br></br>
						<span style="font-size: 14px;"><a href="/mypage/purchase_statement/<%= select.payment.id%>"><%= exchange.merchant_uid.last(13) %></a></span>
          <% else %>
            <span style="font-size: 20px; color: #43a047;">교환중</span>
						</br></br>
						<span style="font-size: 14px;"><a href="/mypage/purchase_statement/<%= select.payment.id%>"><%= exchange.merchant_uid.last(13) %></a></span>
          <% end %>
 </br></br>
        </div>
      </div>
			<% end %>
    </div>
    <% end %>

    <% else %>
      <div class="cart" style="border: 1px solid #bdbdbd; margin-bottom: 30px; padding: 0px;">
        <div class="row">
          <p style="padding: 35px 30px 20px 30px; text-align: center; font-weight: 400;">교환을 하신 상품이 없습니다.</p>
        </div>
      </div>
    <% end %>

  </div>
</div>

</br>

<div class="cart-box" style="border: 0px;">
  <div class="cart-boxbox" style="border: 0px;">
    <h4><strong>&nbsp;반품/환불</strong></h4>

    <% if @user.refunds.count > 0 %>
    <% r_count = 0 %>
     <% @refund.each do |refund| %>
       <% refund.selects.each do |select| %>
         <% r_count += 1 %>
         <% end %>
         <% end %>
      <% @refund.each do |refund| %>
        <% selects = refund.selects %>
    <div class="cart" style="border: 1px solid #bdbdbd; margin-bottom: 30px; padding: 0px;">
      <div class="row" style="border-bottom: 1px solid #bdbdbd; padding: 12px 8px 12px 8px;">
        <div class="col l8 s8">
          <h5>반품신청일<span style="font-size: 15px;">&nbsp;(<%= refund.created_at.strftime("%Y. %m. %d") %>)</span></h5>
				</div>
        <div class="col l4 s4" style="text-align: right;">
          <a href="/mypage/purchase_statement/<%= refund.payment.id%>"><h5>주문정보</h5></a>
        </div>
      </div>
       <% selects.each do |select| %>
			 <% product = select.product %>
      <div class="row" style="height: auto; margin: 2px 15px 18px 15px; border: 1px solid #bdbdbd; padding: 0px 8px 0px 8px;">
        <div class="col l1 s1" style="text-align: center; padding: 30px 0px 30px 0px;">
          </br></br></br></br>
          <span style="border: 1px solid #bdbdbd; padding: 2px 5px 2px 5px;">
          <%= r_count %>
					<% r_count -= 1 %>
					</span>
        </div>
        <div class="col l8 s7" style="vertical-align: middle; padding: 30px 0px 30px 0px;">
          <div class="row">
            <div class="col l4 s12" style="text-align: center;">
               </br>
              <a href="/products/<%= product.p_category %>/<%= product.id %>">
            <img src="<%= product.m_image.url %>" style="width: 130px; height: 160px;" />
						</a>
        </div>
        <div class="col l8 s12" style="padding-left: 30px;">
            </br>
              <a href="/products/<%= product.p_category %>/<%= product.id %>"  style="color: black; font-weight: 600;">
						<%= product.p_title %>
						</a></br>
               치수 : <%= select.selected_size.upcase %>&nbsp;&nbsp;/&nbsp;&nbsp;수량 : <%= select.product_quantity %>개</br>
               금액 : <%= number_to_currency(product.p_price.to_i, precision: 0, unit: "원", format: "%n %u") %> </br>
        </div>
       </div>
        </div>

 <div class="col l3 s4" style="padding: 30px 0px 30px 0px; text-align: center; vertical-align: middle;">
          </br>
          <% if select.refund_status == "refund_complete" %>
            <span style="font-size: 20px; color: #43a047;">반품/환불완료</span>
						</br></br>
						<span style="font-size: 14px;"><a href="/mypage/purchase_statement/<%= select.payment.id%>"><%= refund.merchant_uid.last(13) %></a></span>
          <% else %>
            <span style="font-size: 20px; color: #43a047;">반품/환불중</span>
						</br></br>
						<span style="font-size: 14px;"><a href="/mypage/purchase_statement/<%= select.payment.id%>"><%= refund.merchant_uid.last(13) %></a></span>
          <% end %>
 </br></br>
        </div>
      </div>
      <% end %>
    </div>
    <% end %>
    <% else %>
      <div class="cart" style="border: 1px solid #bdbdbd; margin-bottom: 30px; padding: 0px;">
        <div class="row">
          <p style="padding: 35px 30px 20px 30px; text-align: center; font-weight: 400;">반품/환불 상품이 없습니다.</p>
        </div>
      </div>
    <% end %>
  </div>
</div>

</br>
</br>

</body>
</html>
