<!DOCTYPE html>
<html>
	<head>
	</head>
    <body>
		<%= render "menu" %>
		
		<div class="cart-box" >
			<div class="cart-boxbox">
		        <h4><strong>&nbsp;고객센터</strong></h4>
				<div class="cart" style="padding-top: 10px;">
					<p style="font-size: 20px; font-weight: 500;"> 자주묻는 질문</p>
					<div class="row" style="margin: 0px -11px 0px -11px;">
					    <div class="col s12">
					      <ul class="tabs">
					        <li class="tab col s2"><a class="active black-text" href="#test1" style="text-decoration: none">전체</a></li>				        <li class="tab col s2"><a class="black-text"href="#test2" style="text-decoration: none">상품</a></li>
						    <li class="tab col s2"><a class="black-text"href="#test3" style="text-decoration: none">주문</a></li>
					        <li class="tab col s2"><a class="black-text"href="#test4" style="text-decoration: none">배송</a></li>
					        <li class="tab col s2"><a class="black-text"href="#test5" style="text-decoration: none">교환</a></li>
					        <li class="tab col s2"><a class="black-text"href="#test6" style="text-decoration: none">기타</a></li>
					        <div class="indicator blue" style="z-index:1"></div>
					      </ul>
						</div>
					    <div id="test1" class="col s12">
					    	</br></br>
								<ul class="collapsible" data-collapsible="accordion">
								<% faq_counter = @faq.count + 1 %>
								<% @faq.each do |faq| %>
								<% faq_counter -= 1 %>
							    <li>
							      <div class="collapsible-header">
							      	&emsp;<%= faq_counter %>&emsp;&emsp;&emsp;&emsp;<%= faq.category %>&emsp;&emsp;&emsp;&emsp;<%= faq.title %>
							      </div>
							      <div class="collapsible-body">
							      	<span><%= simple_format(faq.content) %></span>
							      </div>
							    </li>
							<%end%>
							</ul>
					    </div>
					    <div id="test2" class="col s12">
					    	</br></br>
								<ul class="collapsible" data-collapsible="accordion">
								<% faq2 = 1 %>
								<% @faq.each do |faq| %>
								<% if faq.category =='상품' %>
								<% faq2 += 1 %>
								<% end %>
								<% end %>
								<% @faq.each do |faq| %>
								<% if faq.category == '상품' %>
								<% faq2 -= 1 %>
							    <li>
							      <div class="collapsible-header">
							      	&emsp;<%= faq2 %>&emsp;&emsp;&emsp;&emsp;<%= faq.category %>&emsp;&emsp;&emsp;&emsp;<%= faq.title %>
							      </div>
							      <div class="collapsible-body">
							      	<span><%= simple_format(faq.content) %></span>
							      </div>
							    </li>
							<% end %>
						<% end%>
						</ul>
						</div>
					    <div id="test3" class="col s12">
					    	</br></br>
							  <ul class="collapsible" data-collapsible="accordion">
							  <% faq3 = 1 %>
								<% @faq.each do |faq| %>
								<% if faq.category == '주문' %>
								<% faq3 += 1 %>
								<% end %>
								<% end %>
		            <% @faq.each do |faq| %>
		            <% if faq.category == '주문' %>
		            <% faq3 -= 1 %>	
							    <li>
							      <div class="collapsible-header">
							      	&emsp;<%= faq3 %>&emsp;&emsp;&emsp;&emsp;<%= faq.category %>&emsp;&emsp;&emsp;&emsp;<%= faq.title%>
							      </div>
							      <div class="collapsible-body">
							      	<span><%= simple_format(faq.content) %></span>
							      </div>
							    </li>
							<% end %>
						<% end %>
							</ul>
					    </div>
					    <div id="test4" class="col s12">
					    	</br></br>
							  <ul class="collapsible" data-collapsible="accordion">
								<% faq4 = 1 %>
								<% @faq.each do |faq| %>
								<% if faq.category == '배송' %>
								<% faq4 += 1 %>
								<% end %>
								<% end %>
		            <% @faq.each do |faq| %>
		            <% if faq.category == '배송' %>
		            <% faq4 -= 1 %>
							    <li>
							      <div class="collapsible-header">
							      	&emsp;<%= faq4 %>&emsp;&emsp;&emsp;&emsp;<%= faq.category %>&emsp;&emsp;&emsp;&emsp;<%= faq.title %>
							      </div>
							      <div class="collapsible-body">
							      	<span><%= simple_format(faq.content)%></span>
							      </div>
						    	</li>
							<% end %>
						<% end %>
						</ul>
						</div>
					    <div id="test5" class="col s12">
					    	</br></br>
								<ul class="collapsible" data-collapsible="accordion">
								<% faq5 = 1 %>
		            <% @faq.each do |faq| %>
		            <% if faq.category == '교환' %>
		            <% faq5 += 1 %>
								<% end %>
								<% end %>
								<% @faq.each do |faq| %>
								<% if faq.category == '교환' %>
								<% faq5 -= 1 %>
							    <li>
							      <div class="collapsible-header">
							      	&emsp;<%= faq5 %>&emsp;&emsp;&emsp;&emsp;<%= faq.category %>&emsp;&emsp;&emsp;&emsp;<%= faq.title %>
							      </div>
							      <div class="collapsible-body">
							      	<span><%= simple_format(faq.content)%></span>
							      </div>
							    </li>
							<% end %>
		        <% end %>
						 </ul>
					    </div>
					    <div id="test6" class="col s12">
					    	</br></br>
								<ul class="collapsible" data-collapsible="accordion">
							  <% faq6 = 1 %>
		            <% @faq.each do |faq| %>
		            <% if faq.category == '기타' %>
		            <% faq6 += 1 %>
								<% end %>
								<% end %>
								<% @faq.each do |faq| %>
								<% if faq.category == '기타' %>
								<% faq6 -= 1 %>
							    <li>
							      <div class="collapsible-header">
							      	&emsp;<%= faq6 %>&emsp;&emsp;&emsp;&emsp;<%= faq.category %>&emsp;&emsp;&emsp;&emsp;<%= faq.title %>
							      </div>
							      <div class="collapsible-body">
							      	<span><%= simple_format(faq.content) %></span>
							      </div>
							    </li>
							<% end %>
		        <% end %>
								</ul>
					    </div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="cart-box" style="border-top: 0px;">
		  <div class="cart-boxbox">
		        <h4><strong>&nbsp;CONTACT</strong></h4>
		    <div class="cart" style="padding-top: 10px;">
		   <ul class="collapsible" data-collapsible="accordion">
				<% if @user.inquiries.count > 0 %>  
				     <% counter = @user.inquiries.count + 1 %>
					         <% @inquiry.each do |inquiry| %>
						       <% if inquiry.user_id == @user.id %>
						         <% user = inquiry.user %>
						         <% counter -= 1 %>
											<% inquiry_comment = inquiry.inquiry_comment %>
																<li>
		                                <div class="collapsible-header" style="font-size: 14px;">
		                                &emsp;<%= counter %>&emsp;&emsp;&emsp;<%= inquiry.created_at.strftime("%Y.%m.%d") %>&emsp;&emsp;&emsp;<% if inquiry_comment %>답변완료<% else %>답변중<% end %>&emsp;&emsp;&emsp;&nbsp;<%= inquiry.title %>&emsp;
		                                </div>
		                                <div class="collapsible-body" style="font-size: 14px;">
		                                    <span>
												<div>
		                                            <%= simple_format(inquiry.content) %>
		                                        </div>
												<div style="display: flex; justify-content: flex-end;">
		                                        </br>
		                           				<a href="/mypage/<%= inquiry.id %>" class='borderbox' style="padding-top: 3px; text-decoration: none;">수정</a>&emsp;
		                           				<%= button_to '삭제', inquiry_path(inquiry) , method: :delete, data: { confirm: '답글을 삭제하시겠습니까?' } , class: "borderbox" %>
		                                        </div>
		                                        <div>
													<% if inquiry_comment %>
		                                            </br>
		                                            &emsp;<span style="border: 1px solid black; border-radius: 2px; padding: 0px 15px 0px 15px;">답변</span></br>
		                                            &emsp;<%= inquiry_comment.title %></br></br>
		                                            &emsp;&emsp;<%= simple_format(inquiry_comment.content) %>
		                                            <div style="text-align: right;">
		                                            </br>
		                                            </div>
		                                            <% end %>
                                                </div>
                                        </span>
                                   </div>
                                </li>
							 <%	end %>
							 <% end %>
		<% else %>
		 <p style="padding: 35px 30px 20px 30px; text-align: center; font-weight: 400;">작성된 1:1문의가 없습니다.</p>
		<% end %>
		 </ul>
    </div>
  </div>
</div>
	<div class="cart-boxbox">
        <h4><strong>&nbsp;</strong></h4>
		<div class="cart" style="padding-top: 10px;">
			<p style="font-size: 20px; font-weight: 500;"> 1:1 문의하기</p>
			<form action="/mypage/FAQ", method="POST">
			제목<input type="text" name="title"><br>
			내용<input type="text" name="content"><br>
			<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
			<div>
			<input type="submit" value="문의하기" class="submit-button">
			</div>
			</form>
		</div>
	</div>

			<!--Import jQuery before materialize.js-->
       		 <!-- Compiled and minified JavaScript -->
       		 <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
			<script type="text/javascript" src="js/materialize.min.js"></script>
        	<!-- Compiled and minified JavaScript -->
        	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>

       		<script>
        	(function($) 
			$(document).ready(function(){
            			$('.collapsible').collapsible();
       		 	});
			}) (jQuery);
       		</script>	
       		
       		<script>
       			$(document).ready(function(){
				    $('ul.tabs').tabs();
				});
       		</script>
	</body>
</html>

