<!DOCTYPE html>
<html>

  <body>

<%= render "menu" %>

<div class="cart-box">
  <div class="cart-boxbox" style="border: 0px;">
    <h4><strong>&nbsp;상품후기</strong></h4>

    <% if @user.reviews.count > 0 %>
      <% review_counters = @user.reviews.count %>
      <% review_counter = review_counters + 1 %>
      <% @review.each do |review| %>
      <% if review.user_id == @user.id %>
        <% product = review.product %>
        <% user = review.user %>
				<% select = review.select %>
				<% payment = select.payment %>
        <% review_comment = review.review_comment %>
        <% review_counter -= 1 %>
    <div class="cart" style="border: 1px solid #bdbdbd; margin-bottom: 30px; padding: 0px;">
      <div class="row" style="border-bottom: 1px solid #bdbdbd; padding: 12px 8px 12px 8px;">
        <div class="col l8 s8">
          <h5>후기작성일<span style="font-size: 15px;">&nbsp;(<%= review.created_at.strftime("%Y. %m. %d") %>)</span></h5>
        </div>
        <div class="col l4 s4" style="text-align: right;">
          <a href="/mypage/purchase_statement/<%= payment.id%>"><h5>주문정보</h5></a>
        </div>
      </div>

      <div class="row" style="height: auto; margin: 2px 15px 18px 15px; border: 1px solid #bdbdbd; padding: 0px 8px 0px 8px;">
        <div class="col l1 s1" style="text-align: center; padding: 30px 0px 30px 0px;">
          </br></br></br></br>
          <span style="border: 1px solid #bdbdbd; padding: 2px 5px 2px 5px;">
          <%= review_counter %>
          </span>
        </div>
        <div class="col l8 s7" style="vertical-align: middle; padding: 30px 0px 30px 0px;">
          <div class="row">
            <div class="col l4 s12" style="text-align: center;">
               </br>
                 <a href="/products/<%= product.p_category %>/<%= product.id %>">
               <img src="<%= review.product.m_image.url %>" style="width: 130px; height: 160px;" />
               </a>
        </div>
        <div class="col l8 s12" style="padding-left: 30px;">
            </br>
               <a href="/products/<%= product.p_category %>/<%= product.id %>" style="color: black; font-weight: 600;">
               <%= product.p_title %></br>
               </a>
               <%= review.comment %>
        </div>
       </div>
        </div>
        <div class="col l3 s4" style="padding: 30px 0px 30px 0px; text-align: center; vertical-align: middle;">
          </br>
          <% if review_comment %>
            <span style="font-size: 20px; color: #43a047;">답변완료</span>
          <% else %>
            <span style="font-size: 20px; color: #43a047;">답변중</span>
          <% end %>
 </br></br>
            <a href='/products/pants/<%= review.product.id%>#tab-flexbox' class= "borderboxbox" style= "text-decoration: none; border: 1px solid #42a5f5;">보기</a></br></br>
            <%= link_to '수정', edit_review_path(review), class: "borderboxbox", style: "text-decoration: none; border: 1px solid #42a5f5;" %></br></br>
            <%= button_to '삭제', review, method: :delete, class: "borderboxbox", style: "text-decoration: none; border: 1px solid #42a5f5; height: 26px;", data: { confirm: '삭제하시겠습니까?' } %></br>
        </div>
      </div>

    </div>
    <% end %>
    <% end %>

    <% else %>
      <div class="cart" style="border: 1px solid #bdbdbd; margin-bottom: 30px; padding: 0px;">
        <div class="row">
          <p style="padding: 35px 30px 20px 30px; text-align: center; font-weight: 400;">작성된 상품후기가 없습니다.</p>
        </div>
      </div>
    <% end %>

  </div>
</div>

</br>

<div class="cart-box" style="border: 0px;">
  <div class="cart-boxbox" style="border: 0px;">
    <h4><strong>&nbsp;상품문의</strong></h4>

    <% if @user.questions.count > 0 %>
      <% question_counter = @user.questions.count + 1 %>
      <% @question.each do |question| %>
      <% if question.user_id == @user.id %>
        <% product = question.product %>
        <% user = question.user %>
        <% question_counter -= 1 %>
        <% question_comment = question.question_comment %>
    <div class="cart" style="border: 1px solid #bdbdbd; margin-bottom: 30px; padding: 0px;">
      <div class="row" style="border-bottom: 1px solid #bdbdbd; padding: 12px 8px 12px 8px;">
        <div class="col l8 s8">
          <h5>문의날짜<span style="font-size: 15px;">&nbsp;(<%= question.created_at.strftime("%Y. %m. %d") %>)</span></h5>
        </div>
        <div class="col l4 s4" style="text-align: right;">
          <a href='/products/pants/<%= question.product.id%>#tab-react'><h5>문의내용</h5></a>
        </div>
      </div>

      <div class="row" style="margin: 2px 15px 18px 15px; border: 1px solid #bdbdbd; padding: 0px 8px 0px 8px;">
        <div class="col l1 s1" style="text-align: center; padding: 30px 0px 30px 0px;">
          </br></br></br></br>
          <span style="border: 1px solid #bdbdbd; padding: 2px 5px 2px 5px;">
          <%= question_counter %>
          </span>
        </div>
        <div class="col l8 s7" style="vertical-align: middle; padding: 30px 0px 30px 0px;">
          <div class="row">
            <div class="col l4 s12" style="text-align: center;">
              </br>
               <a href="/products/<%= product.p_category %>/<%= product.id %>">
              <img src="<%= product.m_image.url %>" style="width: 130px; height: 160px;" />
							</a>
            </div>
            <div class="col l8 s12" style="font-weight: 500;">
              </br>
 &emsp;&nbsp;<a href="/products/<%= product.p_category %>/<%= product.id %>" style="color: black; font-weight: 600;"><%= product.p_title %></a></br>
              &emsp;&nbsp;<%= question.q_title %>
            </div>
          </div>
        </div>
        <div class="col l3 s4" style="padding: 30px 0px 30px 0px; text-align: center; vertical-align: middle;">
          </br>
          <% if question_comment %>
            <span style="font-size: 20px; color: #43a047;">답변완료</span>
          <% else %>
            <span style="font-size: 20px; color: #43a047;">답변중</span>
          <% end %>
            </br></br>
            <a href='/products/pants/<%= question.product.id%>#tab-react' class= "borderboxbox" style= "text-decoration: none; border: 1px solid #43a5f5;">보기</a></br></br>
            <%= link_to '수정', edit_question_path(question), class: "borderboxbox", style: "text-decoration: none; border: 1px solid #42a5f5;" %></br></br>
            <%= button_to '삭제', question, method: :delete, class: "borderboxbox", style: "text-decoration: none; border: 1px solid #42a5f5; height: 26px;", data: { confirm: '삭제하시겠습니까?' } %></br>
        </div>
      </div>

    </div>
    <% end %>
    <% end %>

    <% else %>
      <div class="cart" style="border: 1px solid #bdbdbd; margin-bottom: 30px; padding: 0px;">
        <div class="row">
          <p style="padding: 35px 30px 20px 30px; text-align: center; font-weight: 400;">작성된 상품문의가 없습니다.</p>
        </div>
      </div>
    <% end %>
  </div>
</div>

</br>
</br>

</body>
</html>
