<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>

<div class="cart-box">
  <div class="cart-boxbox" style="border: 0px;">

<div class="login_container">
  <div class="login_box">
    <div class="out_box">
		<h4>비회원 주문조회</h4>
<div class="inner_box">
<%= form_tag(nonmember_path, method: :post) do %>
  <%= text_field_tag :merchant_uid, params[:merchant_uid], placeholder: "주문번호" %>
	<%= text_field_tag :buyer_tel, params[:buyer_tel], placeholder: "핸드폰번호( - 필수)" %>
	<%= text_field_tag :buyer_name, params[:buyer_name], placeholder: "주문자명" %>
	 <% if flash[:payment] %>
</br>
<div style="text-align: center;">
<span style="color: red;"><%= flash[:payment] %></span>
</div></br>
<% end %>
 
		<div class="actions" style="text-align: center;">
  <%= submit_tag '검색', name: nil, class:"login-button" %>
		</div>
<% end %>
</div></div></div></div>
<% if @payment != nil %>

		<div class="cart-box">
     <div class="cart-boxbox">
        <h4><strong>&nbsp;주문내역</strong><span style="font-size: 18px;">(주문번호: <%= @payment.merchant_uid.last(13) %>)</span></h4>
             <div class="cart">

<h6 style="font-size: 24px; font-weight: 500; margin-bottom: 20px;">상품정보</h6>
          <div class="grid">
           <table class="table">
            <% @payment.selects.each do |item| %>
            <tr>
                <th style="width: 30%;">
                    <%= item.product.p_title %>
                </th>
                <td style="width: 70%;">
                    <div class="row">
                        <div class="col l2">
                        <img src="<%= item.product.m_image.url %>" style="width: 70px; height:75px;"/>
                        </div>
                        <div class="col l10">
												색상 : <%= item.selected_colorname %></br>
                        치수 : <%= item.selected_size.upcase %></br>
                        수량 : <%= item.product_quantity %></br>
                               <% item.s_price = item.product.p_price.to_i * item.product_quantity %>
                        금액 : <%= number_to_currency(item.s_price, precision: 0, unit: "원", format: "%n %u") %>
                        </div>
                    </div>
                </td>
            </tr>
           <input type="hidden" name="product_name[]" value="<%= item.id %>">
          <% end %>
           </table>
          </div>
					<% product_price=0 %>
  					<% @payment.selects.each do |item| %>
         <% product_price += item.product.p_price.to_i * item.product_quantity %>
           <% end %>
          </br>
          
            <h6 style="font-size: 24px; font-weight: 500; margin-bottom: 20px;">결제정보</h6>
           <div class="grid">
            <table class="table">
            <tr>
          <th style="width: 30%;">
           결제방법
          </th>
          <td style="width: 70%;">
            <div class="charge-type">
						
            <label>
                <span style="color: black; font-size: 15px;"><% if @payment.pay_method == 'card' %>신용카드<% elsif @payment.pay_method == 'trans'%>실시간계좌이체<% elsif @payment.pay_method == 'vbank'%>가상계좌<%  elsif @payment.pay_method == 'phone'%>휴대폰소액결제 <% end %><% if @payment.usepoint.to_i != 0 %> + 포인트<% end %></span>
            </label> 
           </div>
          </td>
         </tr>
				 <% if @payment.pay_method == 'vbank' && @payment.status == 'ready' %>
					<tr>
          <th style="width: 30%;">
           은행명
          </th>
          <td style="width: 70%;">
            <div class="charge-type">

            <label>
                <span style="color: black; font-size: 15px;"><%= @payment.vbank_name %></span>
            </label>
           </div>
          </td>
         </tr>
					<tr>
          <th style="width: 30%;">
           입금 계좌번호
          </th>
          <td style="width: 70%;">
            <div class="charge-type">

            <label>
                <span style="color: black; font-size: 15px;"><%= @payment.vbank_num %></span>
            </label>
           </div>
          </td>
         </tr>
					<tr>
          <th style="width: 30%;">
           입금 기한
          </th>
          <td style="width: 70%;">
            <div class="charge-type">
            <label>
                <span style="color: black; font-size: 15px;"><%= Time.at(@payment.vbank_date).to_datetime.strftime("%Y년 %m월 %d일 %H시까지")  %></span>
            </label>
           </div>
          </td>
         </tr>
						<% end %>
         <tr>
           <tr>
             <th style="width: 30%;">배송비</th>
             <td style="width: 70%;"><% if product_price.to_i < 30000 && product_price.to_i > 0  %>2,500 원<% else %>무료 <%end %> &emsp;</td>
           </tr>
           <tr>
             <th style="width: 30%;">최종결제금액</th>
             <td style="width: 70%;">
              <%= number_to_currency(@payment.amount.to_i, precision: 0, unit: "원", format: "%n %u") %>
             </td>
           </tr>
           <tr>
             <th style="width: 30%;"></th>
             <td style="width: 70%;">
                <a title="" href="#:" onClick="window.open('<%= @payment.receipt_url %>','1','status=yes,scrollbars=yes,width=500,height=850')" style="cursor:pointer; font-size: 14px;">
                    <button style="background: white; color: #42a5f5; border: 1px solid #42a5f5; border-radius: 2px; padding: 1px 20px 1px 20px; margin-bottom: 5px; ">영수증보기</button>
                </a>
             </td>
           </tr>
          </table>
          </div>
          </br>

<h6 style="font-size: 24px; font-weight: 500; margin-bottom: 20px;">배송정보</h6>
       <div class="grid">
        <table class="table">
         
             <th style="width: 30%;">이름</th>
             <td style="width: 70%;"><%= @payment.buyer_name %></td>
           </tr>
           <tr>
             <th style="width: 30%;">연락처</th>
             <td style="width: 70%;"><%= @payment.buyer_tel %></td>
           </tr>
              <tr>
             <th style="width: 30%;">배송주소</th>
             <td style="width: 70%;">
              <%= @payment.buyer_postcode %></br>
              <%= @payment.buyer_addr %></br>
           </tr>
           <tr>
             <th style="width: 30%;">요청사항</th>
             <td style="width: 70%;"><%= @payment.request %></td>
           </tr>
        </table>
       </div>
        </br>
       <a href="/"><button class="charge-button">상품보기</button></a>
       <a href="/nonmember/refund/<%= @payment.id %>"><button class="charge-button">반품/교환</button></a> 
</div>
</div>
</div>
	  <% else %>

<div class="login_container">
  <div class="login_box">
    <div class="out_box">
		 <%= image_tag('welcome.png',class:"welcome") %>
	</div>
	 </div>
	  </div>
		<% end %>

  </div>
</div>
  </br>
  </body>
	   <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
                <!-- Compiled and minified JavaScript -->
                  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>

                 <script>
                 (function($)
                         $(document).ready(function(){
                                 $('.collapsible').collapsible();
                      });
                 }) (jQuery);
                 </script>

	<script>
	function trans(){
alert ("상품 준비중 입니다");
	}
	</script>
	<script>
	function exchange(){
alert ("결제가 취소 혹은 결제가 대기중인 상품입니다.");
	}
	</script>
</html>
