<!DOCTYPE html>
<html>
    <head></head>
    <body>

<%= render 'menu' %>

 <div class="cart-box">
  <div class="cart-boxbox" style="border: 0px;">
    <h4><strong>&nbsp;구매내역</strong><span style="font-size: 20px;"> <a href="/mypage/purchase_statement/<%= @payment.id%>"><%= @payment.merchant_uid.last(13) %></a></span></h4>

 <div class="cart" style="border: 1px solid #bdbdbd; margin-bottom: 30px; padding: 0px;">
      <div class="row" style="border-bottom: 1px solid #bdbdbd; padding: 12px 8px 12px 8px;">
        <div class="col l8 s8">
          <h5>구매일<span style="font-size: 15px;">&nbsp;(<%= @payment.created_at.strftime("%Y. %m. %d") %>)</span></h5>
        </div>
        <div class="col l4 s4" style="text-align: right;">
          <a href="/mypage/purchase_statement"><h5>구매목록</h5></a>
        </div>
      </div>
         <% count = @payment.selects.count %>   
         <% @payment.selects.each do |select| %>
				 <% tran = @payment.tran %>
        <% product = select.product %>
      <div class="row" style="height: auto; margin: 2px 15px 18px 15px; border: 1px solid #bdbdbd; padding: 0px 8px 0px 8px;">
			 <div class="col l1 s1" style="text-align: center; padding: 30px 0px 30px 0px;">
			 </br></br></br></br>
			  <span style="border: 1px solid #bdbdbd; padding: 2px 5px 2px 5px;">
            <%= count %>
            <% count -= 1 %>
          </span>
        </div>
        <div class="col l8 s7" style="vertical-align: middle; padding: 30px 0px 30px 0px;">
          <div class="row">
            <div class="col l4 s12" style="text-align: center;">
            </br>
               <a href="/products/<%= product.p_category %>/<%= product.id %>">
              <img src="<%= product.m_image.url %>" style="width: 130px; height: 160px;" />
							</a>
            </div>
            <div class="col l8 s12" style="padding-left: 30px;">
              </br>
		           <a href="/products/<%= product.p_category %>/<%= product.id %>" style="color: black; font-weight: 600;">
               <%= product.p_title %>
							 </a></br>
							 색상 : <%= select.selected_colorname %></br>
               치수 : <%= select.selected_size.upcase %>&nbsp;&nbsp;/&nbsp;&nbsp;수량 : <%= select.product_quantity %>개</br>
               금액 : <%= number_to_currency(product.p_price.to_i, precision: 0, unit: "원", format: "%n %u") %> </br>
            </div>
          </div>
        </div>
        <div class="col l3 s4" style="padding: 30px 0px 30px 0px; text-align: center; vertical-align: middle; padding-top: 34px;">

       <% if tran %>
           <% if tran.status == '배송출발' || tran.status == '집화출발' || tran.status == '집화처리' || !tran.status %>
             <span onClick="window.open('http://nplus.doortodoor.co.kr/web/detail.jsp?slipno=<%= tran.transnum %>','1','status=yes,scrollbars=yes,width=650,height=850')" style="font-size: 20px; color: #43a047;">배송출발</span>
            <% elsif tran.status == '배달완료' %>
             <span onClick="window.open('http://nplus.doortodoor.co.kr/web/detail.jsp?slipno=<%= tran.transnum %>','1','status=yes,scrollbars=yes,width=650,height=850')" style="font-size: 20px; color: #43a047;">배송완료</span>
            <% else %>
             <span onClick="window.open('http://nplus.doortodoor.co.kr/web/detail.jsp?slipno=<%= tran.transnum %>','1','status=yes,scrollbars=yes,width=650,height=850')" style="font-size: 20px; color: #43a047;">배송중</span>
           <% end %>
          <% else %>
          <% if @payment.cancelrq == "request" %>
            <span style="font-size: 20px; color: #43a047;">취소신청</span>
          <% else %>
           <% if @payment.status == "paid" %>
           <span style="font-size: 20px; color: #43a047;">상품준비</span>
           <% elsif @payment.status == "ready" %>
            <span style="font-size: 20px; color: #43a047;">결제대기</span>
           <% elsif @payment.status == "cancelled" %>
             <span style="font-size: 20px; color: #43a047;">결제취소</span>
             <% end %>
            <% end %>
          <% end %>
           </br></br>
          <% if @payment.tran %>
 <a onClick="window.open('http://nplus.doortodoor.co.kr/web/detail.jsp?slipno=<%= tran.transnum %>','1','status=yes,scrollbars=yes,width=650,height=850')" class= "borderboxbox" style= "text-decoration: none; border: 1px solid #42a5f5; padding: 4px 25px 4px 25px;">배송조회</a>
          <% else %>
          <a class= "borderboxbox" style= "text-decoration: none; border: 1px solid #42a5f5; padding: 4px 25px 4px 25px;" onclick="trans()";>배송조회</a>
          <% end %>
          </br></br>

               <% if @payment.status == "cancelled" %>
                     <a class="borderboxbox disabled" style="text-decoration: none; border: 1px solid #bdbdbd; padding: 4px 25px 4px 25px; color: #bdbdbd;" >취소완료</a>
                 <% else %>
                   <% if @payment.cancelrq == "request" %>
                     <a class="borderboxbox disabled" style="text-decoration: none; border: 1px solid #bdbdbd; padding: 4px 25px 4px 25px; color: #bdbdbd;">신청완료</a>
                   <% else %>
                    <% if @payment.created_at + 7.days > Time.now %>
                      <% if @payment.tran %>
                       <a class="borderboxbox disabled" style="text-decoration: none; border: 1px solid #bdbdbd; padding: 4px 25px 4px 25px; color: #bdbdbd;">주문취소</a>
                      <% else %>
                      <a href='/mypage/purchase_statement/<%= @payment.id %>' class= "borderboxbox" style= "text-decoration: none; border: 1px solid #42a5f5; padding: 4px 25px 4px 25px;" >주문취소</a>
                      <% end %>
                    <% else %>
                      <a class="borderboxbox disabled" style="text-decoration: none; border: 1px solid #bdbdbd; padding: 4px 25px 4px 25px; color: #bdbdbd;" >구매완료</a>
                    <% end %>
                  <% end %>
                <% end %>

                </br></br>

 <% if @payment.status == "paid" %>
           <% if @payment.cancelrq == "request" %>
             <a class="borderboxbox disabled" style="text-decoration: none; border: 1px solid #bdbdbd; padding: 4px 25px 4px 25px; color: #bdbdbd;">교환반품</a>
           <% else %>
            <% if select.exchange_status == "exchange_request" %>
              <a class="borderboxbox disabled" style="text-decoration: none; border: 1px solid #bdbdbd; padding: 4px 25px 4px 25px; color: #bdbdbd;">교환처리</a>
            <% elsif select.refund_status == "refund_request"  %>
              <a class="borderboxbox disabled" style="text-decoration: none; border: 1px solid #bdbdbd; padding: 4px 25px 4px 25px; color: #bdbdbd;">반품처리</a>
            <% elsif select.refund_status == "refund_complete"%>
              <a class="borderboxbox disabled" style="text-decoration: none; border: 1px solid #bdbdbd; padding: 4px 25px 4px 25px; color: #bdbdbd;">반품완료</a>
            <% else %>
              <a href='/mypage/exchange_question/<%= @payment.id %>' class= "borderboxbox" style= "text-decoration: none; border: 1px solid #42a5f5; padding: 4px 25px 4px 25px;">교환반품</a>
            <%end%>
           <% end %>
          <% else %>
             <a class="borderboxbox" style="text-decoration: none; border: 1px solid #bdbdbd; padding: 4px 25px 4px 25px; color: #bdbdbd;" onclick="exchange()";>교환반품</a>
          <% end %>
            </br></br>
            <a href='/products/<%=product.p_category %>/<%= product.id%>#tab-flexbox' class= "borderboxbox" style= "text-decoration: none; border: 1px solid #42a5f5; padding: 4px 25px 4px 25px; margin-left: -5px;">후기작성</a></br> 
				
				
				
				</div>
      </div>
    <% end %>
    </div>
    </br>
       <h6 style="font-size: 22px; font-weight: 500; margin-bottom: 20px;">&nbsp;&nbsp;배송정보<% if @payment.tran %>  <span onClick="window.open('http://nplus.doortodoor.co.kr/web/detail.jsp?slipno=<%= @payment.tran.transnum %>','1','status=yes,scrollbars=yes,width=650,height=850')" style="font-size: 20px; color: #43a047;">&nbsp;(운송장 번호: <%= @payment.tran.transnum %>)</span>  <%end%></h6>
           <div class="grid" style="margin: 0px 5px 0px 5px;">
            <table class="table">
            <tr>
             <th style="width: 30%;">수령인</th>
             <td style="width: 70%;"><%= current_user.name %></td>
           </tr>
           <tr>
             <th style="width: 30%;">연락처</th>
             <td style="width: 70%;"><%= current_user.phone_number %></td>
           </tr>
              <tr>
             <th style="width: 30%;">배송주소</th>
             <td style="width: 70%;">
              (<%= @payment.buyer_postcode %>)<%= @payment.buyer_addr %>
           </tr>
           <tr>
             <th style="width: 30%;">요청사항</th>
             <td style="width: 70%;"><%= @payment.request %></td>
           </tr>
					 </table>
					 </div>
            </br>

<h6 style="font-size: 22px; font-weight: 500; margin-bottom: 20px;">&nbsp;&nbsp;결제정보</h6>
           <div class="grid" style="margin: 0px 5px 10px 5px;">
            <table class="table">
            <tr>
             <th style="width: 30%;">결제수단</th>

             <td style="width: 70%;"><% if @payment.pay_method == 'card' %>신용카드<% elsif @payment.pay_method == 'trans'%>실시간계좌이체<% elsif @payment.pay_method == 'vbank'%>가상계좌<%  elsif @payment.pay_method == 'phone'%>휴대폰소액결제 <% end %>
</td>
           </tr>
					 <% if @payment.pay_method == 'vbank' %>
					  <tr>
             <th style="width: 30%;">은행명</th>
             <td style="width: 70%;"><%= @payment.vbank_name %></td>
           </tr>
 					 <tr>
             <th style="width: 30%;">입금 계좌번호</th>
             <td style="width: 70%;"><%= @payment.vbank_num %></td>
           </tr>
					  <tr>
             <th style="width: 30%;">입금 기한</th>
             <td style="width: 70%;"><%=  Time.at(@payment.vbank_date).to_datetime.strftime("%Y년 %m월 %d일 %H시까지") %></td>
           </tr>
					<% end %>
           <tr>
             <th style="width: 30%;">결제금액</th>
             <td style="width: 70%;"><%= number_to_currency(@payment.amount, precision: 0, unit: "원", format: "%n %u") %></td>
           </tr>

              <tr>
             <th style="width: 30%;">영수증</th>
             <td style="width: 70%;">
			<a title="" href="#:" onClick="window.open('<%= @payment.receipt_url %>','1','status=yes,scrollbars=yes,width=500,height=850')" style="cursor:pointer; font-size: 14px;">
                    <button style="background: white; color: #42a5f5; border: 1px solid #42a5f5; border-radius: 2px; padding: 1px 20px 1px 20px; margin-bottom: 5px; ">영수증보기</button>
                </a>
           </tr>
          </table>
          </div>
					</br>
					
<% if @payment.pay_method == 'vbank' %>
 <% if @payment.refund_num && @payment.refund_name && @payment.refund_bank %>
  <h6 style="font-size: 22px; font-weight: 500; margin-bottom: 20px;">&nbsp;&nbsp;환불정보(가상계좌)</h6>
           <div class="grid" style="margin: 0px 5px 10px 5px;">
            <table class="table">
            <tr>
             <th style="width: 30%;">계좌번호</th>

             <td style="width: 70%;"><%= @payment.refund_num %></td>
           </tr>
           <tr>
             <th style="width: 30%;">은행명</th>
             <td style="width: 70%;"><%= @payment.refund_bank %></td>
           </tr>
              <tr>
             <th style="width: 30%;">예금주</th>
             <td style="width: 70%;"><%= @payment.refund_name %></td>
             </tr>
          </table>
          </div>
          </br></br>
    <div class="row">
          <div class="col l6 s6" style="text-align: right;">
                    <%= button_to('뒤로가기', :back, method: "get", class:"charge-button", style:"width: 145px; height: 60px;") %>
                </div>
                <div class="col l6 s6" style="text-align: left;">
                 <% if @payment.status == "cancelled" %>
                     <button class= "charge-button" style= "width: 145px; height: 60px;" onclick="acomplete()" >취소완료</button>
                 <% else %>
                   <% if @payment.cancelrq == "request" %>
                     <button  class= "charge-button" style= "width: 145px; height: 60px;" onclick="request()">신청완료</button>
                   <% else %>
                    <% if @payment.created_at + 14.days > Time.now %>
                      <% if @payment.tran %>
                       <button  class= "charge-button" style= "width: 145px; height: 60px;" onclick="cancel()">주문취소</button>
                      <% else %>
                      <a href='/mypage/cancel/<%= @payment.imp_uid %>'><button  class= "charge-button" style= "width: 145px; height: 60px;">주문취소</button></a>
                      <% end %>
                    <% else %>
                      <button class= "charge-button" style= "width: 145px; height: 60px;" onclick="complete()" >구매완료</button>
                    <% end %>
                  <% end %>
                <% end %>
                </br></br>
                </div>
            </div>
  </div>
</div>
</br>



 <% else %>
<form action="/mypage/refund_vbank" method="post">
<h6 style="font-size: 22px; font-weight: 500; margin-bottom: 20px;">&nbsp;&nbsp;환불정보(가상계좌)</h6>
           <div class="grid" style="margin: 0px 5px 10px 5px;">
            <table class="table">
            <tr>
             <th style="width: 30%;">계좌번호</th>
             <td style="width: 70%;"><input type="text" name="refund_num" placeholder="-없이 숫자만 입력해주세요"></td>
           </tr>
           <tr>
             <th style="width: 30%;">은행명</th>
             <td style="width: 70%;"><input type="text" name="refund_bank" placeholder="ex)농협은행, SC은행"></td>
           </tr>
           <tr>
             <th style="width: 30%;">예금주</th>
             <td style="width: 70%;"><input type="text" name="refund_name"></td>
					 </tr>
          </table>
          </div>
          </br></br>
					<input type="hidden" name="id" value=<%= @payment.merchant_uid %>>
    			  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
		<div class="row">
          <div class="col l6 s6" style="text-align: right;">
                    <%= button_to('뒤로가기', :back, method: "get", class:"charge-button", style:"width: 145px; height: 60px;") %>
                </div>
                <div class="col l6 s6" style="text-align: left;">
                 <% if @payment.status == "cancelled" %>
                     <button class= "charge-button" style= "width: 145px; height: 60px;" onclick="acomplete()" >취소완료</button>
                 <% else %>
                   <% if @payment.cancelrq == "request" %>
                     <button  class= "charge-button" style= "width: 145px; height: 60px;" onclick="request()">신청완료</button>
                   <% else %>
                    <% if @payment.created_at + 14.days > Time.now %>
                      <% if @payment.tran %>
                       <button  class= "charge-button" style= "width: 145px; height: 60px;" onclick="cancel()">주문취소</button>
                      <% else %>
											 <input class= "charge-button" style= "width: 145px; height: 60px;" type="submit" value="주문취소">
                      <% end %>
                    <% else %>
                      <button class= "charge-button" style= "width: 145px; height: 60px;" onclick="complete()" >구매완료</button>
                    <% end %>
                  <% end %>
                <% end %>
                </br></br>
                </div>
            </div>
  </div>
</div>
</br>

</form>
<% end %>
<% else %>
</br>

    <div class="row">
          <div class="col l6 s6" style="text-align: right;">
                    <%= button_to('뒤로가기', :back, method: "get", class:"charge-button", style:"width: 145px; height: 60px;") %>
                </div>
                <div class="col l6 s6" style="text-align: left;">
                 <% if @payment.status == "cancelled" %>
                     <button class= "charge-button" style= "width: 145px; height: 60px;" onclick="acomplete()" >취소완료</button>
                 <% else %>
                   <% if @payment.cancelrq == "request" %>
                     <button  class= "charge-button" style= "width: 145px; height: 60px;" onclick="request()">신청완료</button>
                   <% else %>
                    <% if @payment.created_at + 14.days > Time.now %>
                      <% if @payment.tran %>
                       <button  class= "charge-button" style= "width: 145px; height: 60px;" onclick="cancel()">주문취소</button>
                      <% else %>
                      <a href='/mypage/cancel/<%= @payment.imp_uid %>'><button  class= "charge-button" style= "width: 145px; height: 60px;">주문취소</button></a>
                      <% end %>
                    <% else %>
                      <button class= "charge-button" style= "width: 145px; height: 60px;" onclick="complete()" >구매완료</button>
                    <% end %>
                  <% end %>
                <% end %>
                </br></br>
                </div>
            </div>
  </div>
</div>
</br>

<% end %>
			
        
    </body>
  <script>
    function request(){
alert ("주문 취소 신청이 완료되었습니다.");
    }
    </script>
		<script>
		function cancel(){
alert ("배송이 진행 중 입니다.");
		}
		</script>
		<script>
		function complete(){
alert ("구매가 완료되었습니다.");
		}
		</script>
    <script>
    function acomplete(){
alert ("취소가 완료되었습니다.");
    }
    </script>
		 <script>
  function trans(){
alert ("상품 준비중 입니다");
  }
  </script>
  <script>
  function exchange(){
alert ("결제가 취소된 상품입니다.");
  }
  </script>
</html>
