<!DOCTYPE html>
<html>
  <body>
  <%= render "menu" %>

  <div class="cart-box">
    <div class="cart-boxbox" style="border: 0px;">
      <h4><strong>&nbsp;포인트 사용내역</strong></h4></br>
     		<div class="cart" style="border: 1px solid #bdbdbd; margin-bottom: 30px; padding: 0px;">
  
  			  <table>
                    <thead style="border-bottom: 1px solid #bdbdbd;">
                      <tr>
                        <th class="point">날짜</th>
                        <th class="point">내용</th>
                        <th class="point">내역</th>
                      </tr>
                    </thead>
  
                    <tbody>
  
                    <% @point.each do |point| %>
  									<% if point.payment_id %>
  									<% payment = point.payment  %>
  
  									<tr>
                      <td class="point"><%= point.created_at.strftime("%Y.%m.%d") %></td>
                      <% if payment.merchant_uid %>
                      <td class="point"><%= point.name %></br> <a href="/mypage/purchase_statement/<%= payment.id%>"><%= payment.merchant_uid.last(13) %></a><% else %><span></span><% end%></td>
  											<% if point.method == 'add' %>
                        <span><td class="point">+<%= number_to_currency(point.amount.to_i, precision: 0, unit: "원", format: "%n %u")  %></td></span>
  											<% else %>
  										<td class="point"><span style="color: red;">-<%= number_to_currency(point.amount.to_i, precision: 0, unit: "원", format: "%n %u")  %></span></td>
  											<% end %>
                    </tr>
  
  									<% else %>
  
  									  <tr>
                          <td class="point"><%= point.created_at.strftime("%Y.%m.%d") %></td>
                          <td class="point"><%= point.name %></td>
                          <% if point.method == 'add' %>
                          <span><td class="point">+<%= number_to_currency(point.amount.to_i, precision: 0, unit: "원", format: "%n %u")  %></td></span>
                          <% else %>
                          <td class="point"><span style="color: red;">-<%= number_to_currency(point.amount.to_i, precision: 0, unit: "원", format: "%n %u")  %></span></td>
                          <% end %>
                        </tr>
                      <% end %>
  									<% end %>
  									
  									  <tr style="border-top: 1px solid #bdbdbd;">
  									    <td></td><td></td>
  									    <td class="point" style="font-weight: 600;">잔여 포인트 : <%= current_user.point %> 원&nbsp;&nbsp;&nbsp;&nbsp;</td>
  									  </tr>
                    </tbody>
                  </table>
  	 		</div>
    </div>
  </div>
  </br></br>
	</body>
</html>

