<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
  <%= render "menu" %>

<div class="cart-box">
  <div class="cart-boxbox" style="border: 0px;">
    <h4><strong>&nbsp;구매목록</strong></h4>



    <% if @user.payments.count > 0 %>
    <% count = 0 %>
     <% @payment.each do |payment| %>
       <% payment.selects.each do |select| %>
         <% count += 1 %>
         <% end %>
         <% end %>
      <% @payment.each do |payment| %>
			<% tran = payment.tran %>
 <div class="cart" style="border: 1px solid #bdbdbd; margin-bottom: 30px; padding: 0px;">
      <div class="row" style="border-bottom: 1px solid #bdbdbd; padding: 12px 8px 12px 8px;">
        <div class="col l8 s8">
          <h5>구매일<span style="font-size: 15px;">&nbsp;(<%= payment.created_at.strftime("%Y. %m. %d") %>)</span></h5>
        </div>
        <div class="col l4 s4" style="text-align: right;">
          <a href='/mypage/purchase_statement/<%= payment.id %>' style="text-decoration: none;"><h5>주문정보</h5></a>
        </div>
      </div>

         <% payment.selects.each do |select| %>
        <% product = select.product %>
      <div class="row" style="height: auto; margin: 2px 15px 18px 15px; border: 1px solid #bdbdbd; padding: 0px 8px 0px 8px;">
        <div class="col l1 s1" style="text-align: center; padding: 30px 0px 30px 0px;">
          </br></br></br></br>
          <span style="border: 1px solid #bdbdbd; padding: 2px 5px 2px 5px;">
          <%= count %>
          <% count -= 1 %>
          </span>
        </div>
        <div class="col l8 s7" style="vertical-align: middle; padding: 30px 0px 30px 0px;">
          <div class="row">
            <div class="col l4 s12" style="text-align: center;">
            </br>
               <a href="/products/<%= product.p_category %>/<%= product.id %>">
              <img src="<%= product.m_image.url %>" style="width: 130px; height: 160px;" />
							 </a>
            </div>
            <div class="col l8 s12" style="padding-left: 30px;">
              </br>   
							 <a href="/products/<%= product.p_category %>/<%= product.id %>"  style="color: black; font-weight: 600;">
								 <%= product.p_title %>
							 </a>
 							</br>
							 색상 : <%= select.selected_colorname %></br>
               치수 : <%= select.selected_size.upcase %>&nbsp;&nbsp;/&nbsp;&nbsp;수량 : <%= select.product_quantity %>개</br>
               금액 : <%= number_to_currency(product.p_price.to_i, precision: 0, unit: "원", format: "%n %u") %> </br>
							 <a href="/mypage/purchase_statement/<%= payment.id%>"><%= payment.merchant_uid.last(13) %></a></br>
            </div>
          </div>
        </div>
        <div class="col l3 s4" style="padding: 30px 0px 30px 0px; text-align: center; vertical-align: middle; padding-top: 34px;">
					<% if tran %>

					 <% if tran.status == '배송출발' || tran.status == '집화출발' || tran.status == '집화처리' || !tran.status %> 
					   <span onClick="window.open('http://nplus.doortodoor.co.kr/web/detail.jsp?slipno=<%= tran.transnum %>','1','status=yes,scrollbars=yes,width=650,height=850')" style="font-size: 20px; color: #43a047;">배송출발</span>
					  <% elsif tran.status == '배달완료' %>
						 <span onClick="window.open('http://nplus.doortodoor.co.kr/web/detail.jsp?slipno=<%= tran.transnum %>','1','status=yes,scrollbars=yes,width=650,height=850')" style="font-size: 20px; color: #43a047;">배송완료</span>
						<% else %> 
						 <span onClick="window.open('http://nplus.doortodoor.co.kr/web/detail.jsp?slipno=<%= tran.transnum %>','1','status=yes,scrollbars=yes,width=650,height=850')" style="font-size: 20px; color: #43a047;">배송중</span>
					 <% end %>
					<% else %>

					<% if payment.cancelrq == "request" %>
					  <span style="font-size: 20px; color: #43a047;">취소신청</span>
					<% else %>	

					 <% if payment.status == "paid" %>
           <span style="font-size: 20px; color: #43a047;">상품준비</span>
					 <% elsif payment.status == "ready" %>
					  <span style="font-size: 20px; color: #43a047;">결제대기</span>
					 <% elsif payment.status == "cancelled" && payment.cancelrq == "complete" %>
					   <span style="font-size: 20px; color: #43a047;">결제취소</span>
					 <% elsif payment.status == "cancelled" && select.refund_status == "refund_complete" %>	
					   <span style="font-size: 20px; color: #43a047;">결제취소</span>
						<% elsif payment.status == "cancelled" && select.refund_status == "not" %>
						 <span style="font-size: 20px; color: #43a047;">상품준비</span>
						 <% end %>
						<% end %>
					<% end %>
           </br></br>
					<% if payment.tran %> 
					<a onClick="window.open('http://nplus.doortodoor.co.kr/web/detail.jsp?slipno=<%= tran.transnum %>','1','status=yes,scrollbars=yes,width=650,height=850')" class= "borderboxbox" style= "text-decoration: none; border: 1px solid #42a5f5; padding: 4px 25px 4px 25px;">배송조회</a>
					<% else %>
					<a class= "borderboxbox" style= "text-decoration: none; border: 1px solid #42a5f5; padding: 4px 25px 4px 25px;" onclick="trans()";>배송조회</a>
					<% end %>
					</br></br>

  <% if payment.status == "cancelled" && select.refund_status =="refund_complete" ||  payment.status == "cancelled" && payment.cancelrq == "complete"%>
                     <a class="borderboxbox disabled" style="text-decoration: none; border: 1px solid #bdbdbd; padding: 4px 25px 4px 25px; color: #bdbdbd;" >취소완료</a>
                 <% else %>
                   <% if payment.cancelrq == "request" %>
                     <a class="borderboxbox disabled" style="text-decoration: none; border: 1px solid #bdbdbd; padding: 4px 25px 4px 25px; color: #bdbdbd;">신청완료</a>
                   <% else %>
                    <% if payment.created_at + 14.days > Time.now %>
                      <% if payment.tran %>
                       <a class="borderboxbox disabled" style="text-decoration: none; border: 1px solid #bdbdbd; padding: 4px 25px 4px 25px; color: #bdbdbd;">주문취소</a>
                      <% else %>
                      <a href='/mypage/purchase_statement/<%= payment.id %>' class= "borderboxbox" style= "text-decoration: none; border: 1px solid #42a5f5; padding: 4px 25px 4px 25px;" >주문취소</a>
                      <% end %>
                    <% else %>
                      <a class="borderboxbox disabled" style="text-decoration: none; border: 1px solid #bdbdbd; padding: 4px 25px 4px 25px; color: #bdbdbd;" >구매완료</a>
                    <% end %>
                  <% end %>
                <% end %>
								</br></br>




					<% if payment.status == "paid" %>
						<% if payment.tran %>
						 <% if tran.status != "배달완료" %>
						  <a class="borderboxbox disabled" style="text-decoration: none; border: 1px solid #bdbdbd; padding: 4px 25px 4px 25px; color: #bdbdbd;">교환반품</a>
						 <% else %>
					 <% if payment.cancelrq == "request" %>
					   <a class="borderboxbox disabled" style="text-decoration: none; border: 1px solid #bdbdbd; padding: 4px 25px 4px 25px; color: #bdbdbd;">교환반품</a>
					 <% else %>
            <% if select.exchange_status == "exchange_request" %>
              <a class="borderboxbox disabled" style="text-decoration: none; border: 1px solid #bdbdbd; padding: 4px 25px 4px 25px; color: #bdbdbd;">교환처리</a>
						<% elsif select.refund_status == "refund_request"  %>
						  <a class="borderboxbox disabled" style="text-decoration: none; border: 1px solid #bdbdbd; padding: 4px 25px 4px 25px; color: #bdbdbd;">반품처리</a>
            <% elsif select.refund_status == "refund_complete"%>
              <a class="borderboxbox disabled" style="text-decoration: none; border: 1px solid #bdbdbd; padding: 4px 25px 4px 25px; color: #bdbdbd;">반품완료</a>
            <% else %>
              <a href='/mypage/exchange_question/<%= payment.id %>' class= "borderboxbox" style= "text-decoration: none; border: 1px solid #42a5f5; padding: 4px 25px 4px 25px;">교환반품</a>
						<% end %>
					 <% end %>	
					 <% end %>
             <% else %>
                <a class="borderboxbox disabled" style="text-decoration: none; border: 1px solid #bdbdbd; padding: 4px 25px 4px 25px; color: #bdbdbd;">교환반품</a>
						 <% end %>

         <% elsif payment.status == "cancelled" && select.refund_status == 'not' %>
				     <% if payment.cancelrq == "request" || payment.cancelrq =="complete" %>
             <a class="borderboxbox disabled" style="text-decoration: none; border: 1px solid #bdbdbd; padding: 4px 25px 4px 25px; color: #bdbdbd;">교환반품</a>
           <% else %>
            <% if select.exchange_status == "exchange_request" %>
              <a class="borderboxbox disabled" style="text-decoration: none; border: 1px solid #bdbdbd; padding: 4px 25px 4px 25px; color: #bdbdbd;">교환처리</a>
            <% elsif select.refund_status == "refund_request"  %>
              <a class="borderboxbox disabled" style="text-decoration: none; border: 1px solid #bdbdbd; padding: 4px 25px 4px 25px; color: #bdbdbd;">반품처리</a>
            <% elsif select.refund_status == "refund_complete"%>
              <a class="borderboxbox disabled" style="text-decoration: none; border: 1px solid #bdbdbd; padding: 4px 25px 4px 25px; color: #bdbdbd;">반품완료</a>			
            <% else %>
              <a href='/mypage/exchange_question/<%= payment.id %>' class= "borderboxbox" style= "text-decoration: none; border: 1px solid #42a5f5; padding: 4px 25px 4px 25px;">교환반품</a>
            <%end%>
           <% end %>
 
					<% else %>
					   <a class="borderboxbox" style="text-decoration: none; border: 1px solid #bdbdbd; padding: 4px 25px 4px 25px; color: #bdbdbd;" onclick="exchange()";>교환반품</a>
					<% end %>
						</br></br>
            <a href='/products/<%=product.p_category %>/<%= product.id%>#tab-flexbox' class= "borderboxbox" style= "text-decoration: none; border: 1px solid #42a5f5; padding: 4px 25px 4px 25px; margin-left: -5px;">후기작성</a></br>
        </div>
      </div>
    <% end %>
    </div>
    </br>
    <% end %>
    
    
    <% else %>
      <div class="cart" style="border: 1px solid #bdbdbd; margin-bottom: 30px; padding: 0px;">
        <div class="row">
          <p style="padding: 35px 30px 20px 30px; text-align: center; font-weight: 400;">구매한 물품이 없습니다.</p>
        </div>
      </div>
    <% end %>

  </div>
</div>
  </br>
  </body>
	<script>
	function trans(){
alert ("상품 준비중 입니다");
	}
	</script>
	<script>
	function exchange(){
alert ("결제가 취소 혹은 결제가 대기중인 상품입니다.");
	}
	</script>
</html>
