<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
<div class="cart-box">
  <div class="cart-boxbox" style="border: 0px;">
    <h4><strong>&nbsp;교환/반품 신청</strong></h4>
<form name="input" action="/nonmember/refund/<%= @payment.id %>" method='post'>
 <div class="cart" style="border: 1px solid #bdbdbd; margin-bottom: 30px; padding: 0px;">
      <div class="row" style="border-bottom: 1px solid #bdbdbd; padding: 12px 8px 12px 8px;">
        <div class="col l8 s8">
          <h5>구매일<span style="font-size: 15px;">&nbsp;(<%= @payment.created_at.strftime("%Y. %m. %d") %>)</span></h5>
        </div>
        <div class="col l4 s4" style="text-align: right;">
        </div>
      </div>

         <% @payment.selects.each do |select| %>
        <% product = select.product %>
      <div class="row" style="height: auto; margin: 2px 15px 18px 15px; border: 1px solid #bdbdbd; padding: 0px 8px 0px 8px;">
       <div class="col l1 s1" style="text-align: right; padding: 30px 0px 30px 0px;">
           </br></br></br></br>
			  <% if select.exchange_status == "exchange_request" %><input type="checkbox" id="filled-in-box[<%= select.id%>]" checked="checked" disabled="disabled" />
				<% elsif select.refund_status == "refund_request" %><input type="checkbox" id="filled-in-box[<%= select.id%>]" checked="checked" disabled="disabled" />
				<% elsif select.refund_status == "refund_complete" %><input type="checkbox" id="filled-in-box[<%= select.id%>]" checked="checked" disabled="disabled" />
				<% else %> <input type="checkbox" class="filled-in checkbox-color" name="check[]" id="filled-in-box[<%=select.id%>]" value="<%=select.id%>"/>
				<% end%>
                  <label for="filled-in-box[<%= select.id %>]" style="color: black;">
                  </label>
      </div>
        <div class="col l8 s7" style="vertical-align: middle; padding: 30px 0px 30px 0px;">
          <div class="row">
            <div class="col l4 s12" style="text-align: center;">
            </br>
						<a href="/products/<%= product.p_category %>/<%= product.id %>">
              <img src="<%= product.m_image.url %>" style="width: 130px; height: 160px;" />
							</a>
            </div>
            <div class="col l8 s12" style="padding-left: 30px;">
              </br>
							<a href="/products/<%= product.p_category %>/<%= product.id %>" style="color: black; font-weight: 600;">
               <%= product.p_title %></a></br>
							 색상 : <%= select.selected_colorname %></br>
               치수 : <%= select.selected_size.upcase %>&nbsp;&nbsp;/&nbsp;&nbsp;수량 : <%= select.product_quantity %>개</br>
               금액 : <%= number_to_currency(product.p_price.to_i, precision: 0, unit: "원", format: "%n %u") %> </br>
            </div>
          </div>
        </div>
         <div class="col l3 s4" style="padding: 30px 0px 30px 0px; text-align: center; vertical-align: middle; padding-top: 34px;">
        </div>
      </div>
    <% end %>
    </div>
    <p style="text-align: center; font-size: 14px;"><%= flash[:alert] %></p>
    </br>
    <h6 style="font-size: 20px; font-weight: 500; margin-bottom: 20px;">&nbsp;&nbsp;교환/반품 문의</h6>
           <div class="grid" style="margin: 0px 5px 0px 5px;">
            <table class="table">
           <tr>
             <th style="width: 30%;">주문번호</th>
             <td style="width: 70%;"> <span><%= @payment.merchant_uid.last(13) %></span></td>
           </tr>
            <tr>
              <th style="width: 30%;">카테고리</th>
              <td style="width: 70%;">
               <div class="category">
                  <input class="with-gap" name="category" type="radio" id="exchange" value="exchange" />
                  <label for="exchange">교환</label>
                  <input class="with-gap" name="category" type="radio" id="refund" value="refund" />
              <label for="refund">반품/환불</label>
               </div>
        </td>
            </tr>
            <tr>
             <th style="width: 30%;">문의내용</th>
             <td style="width: 70%;"><input style="width: 100%; height:150px;" type='textarea' name="reason" id="reason"/></td>
           </tr>
           <tr>
             <th style="width: 30%;">연락처</th>
             <td style="width: 70%;"><%= @payment.buyer_tel %></td>
           </tr>
           </table>
           </div>
            </br>
            </br>
 <div class="row">
          <div class="col l6 s6" style="text-align: right;">
                    <%= button_to('돌아가기', :back, method: "get", class:"charge-button", style:"width: 145px; height: 60px;") %>
                </div>
                <div class="col l6 s6" style="text-align: left;">
								    <input type="hidden" name="payment_id" value="<%= @payment.id %>">
                    <input type="hidden" name="merchant_uid" value="<%= @payment.merchant_uid %>">
                    <input type="hidden" name="phone_number" value="<%= @payment.buyer_tel %>">
                     <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                    <input type="submit" value="문의하기" class="charge-button" style="width: 145px; height: 60px;">
                    </form>
                </div>
            </div>
        </div>
    </div>
    </br>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
                 <!-- Compiled and minified JavaScript -->
                 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
	</body>
</html>
