<%= render "menu" %>
<div class="login_container">
   <div class="login_box">
     <div class="out_box">
       <h4>회원정보확인</h4>
       <p style="font-size: 13px; font-weight: 600;">회원님의 정보를 안전하게 보호하기 위해 비밀번호를 다시 한번 확인해 주세요.</p>
       <div class="inner_box">
         </br>
			<%= form_tag mypage_user_information_edit_path  do %>
            <div class="field">
                <table class="table">
                    <tr>
                        <th style="width: 27%; text-align: center; vertical-align: middle;">비밀번호</th>
                        <td style="width: 73%;"><input type="password" name="password"></td>
                    </tr>
                </table>
            </div>
            <div class="row" style="text-align: center; font-size: 13px;">
				<%= flash[:alert] %>
            </div>
            <div class="row" style="padding: 0px 10px 0px 10px; margin-bottom: 35px;">
                <div class="actions" style="text-align: center;">
                    <input type="submit" value="Sign in" class="submit-button">
                </div>
            </div>
            <% end %>
       </div>
     </div>
   </div>
 </div>

