<div class="menu">
 <table class="highlight centered">
        <thead>
          <tr>
              <th>상  품</th>
              <th>주  문</th>
              <th>관  리</th>
              <th>기  능</th>
              <th>데이터</th>
              <th>통  계</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td><a href="/admin/product_upload">업로드</a></td>
            <td><a href="/admin/payments">결제</a></td>
            <td><a href="/admin/operation_review">리뷰</a></td>
            <td><a href="/admin/operation_alram">알림</a></td>
            <td><a href="/admin/customer_db">고객DB</a></td>
            <td><a href="/admin/sale">매출</a></td>
          </tr>
          <tr>
            <td><a href="/admin/product_management">관리</a></td>
            <td><a href="/admin/order_delivery">배송</a></td>
            <td><a href="/admin/operation_question">문의</a></td>
            <td><a href="/admin/point">포인트</a></td>
          </tr>
          <tr>
            <td> </td>
            <td><a href="/admin/exchange_question">교환문의</a></td>
            <td><a href="/admin/operation_faq">FAQ</a></td>
            <td><a href="/admin/point_info">포인트내역</a></td>
          </tr>
          <tr>
            <td> </td>
            <td><a href="/admin/refund_question">반품/환불</a></td>
            <td><a href="/admin/operation_inquiry">일대일문의</a></td>
            <td><a href="/admin/popup">팝업</a></td>
          </tr>
        </tbody>
      </table>
</div>
