<div class="big_box">
  <div class="small_box">
      <%= form_for(product) do |f| %>
      <% if product.errors.any? %>
        <div id="error_explanation">
          <p style="color: red;">상품을 등록하는데&nbsp;&nbsp;<%= pluralize(product.errors.count, "") %>개의 문제가 발생했습니다.</p>
    
          <ul>
          <% product.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    
      <div class="field">
        <%= f.label :p_title, "상품명" %>
        <%= f.text_field :p_title, autofocus: true %>
      </div>
    
      <div class="field">
        <%= f.label :p_price, "가격 ex) 200000, 10000" %>
        <%= f.text_field :p_price %>
      </div>
    
      <div class="field">
        <%= f.label :p_comment, "한줄평" %>
        <%= f.text_area :p_comment %>
      </div></br>
      
      <div class="field">
        <%= f.label :m_image, "대표 사진" %></br>
        <%= f.file_field :m_image %>
      </div></br>
      
      <p style="color: #9e9e9e; font-size: 12px;">카테고리</p>
      <div class="category">

      <div class="field" id="admininline">
        <%= f.radio_button :p_category, "denims" %>
        <%= f.label :p_category_denims, "데님" %>
      </div> 	

			 <div class="field" id="admininline">
        &emsp;
      </div>
      <div class="field" id="admininline">
        <%= f.radio_button :p_category, "pants" %>
        <%= f.label :p_category_pants, "면바지" %>
      </div>

      <div class="field" id="admininline">
        &emsp;
      </div>
      <div class="field" id="admininline">
        <%= f.radio_button :p_category, "slacks" %>
        <%= f.label :p_category_slacks, "슬렉스" %>
      </div>

      <div class="field" id="admininline">
        &emsp;
      </div>
      <div class="field" id="admininline">
        <%= f.radio_button :p_category, "shorts" %>
        <%= f.label :p_category_shorts, "반바지" %>
      </div></br>
      
      <p style="color: #9e9e9e; font-size: 12px;">사이즈</p>
      <div class="field" id="admininline">
        <%= f.radio_button :size_SS, "1" %>
        <%= f.label :size_SS_1, "SS" %>
      </div>
      
      <div class="field" id="admininline">
        &emsp;
      </div>      
      <div class="field" id="admininline">
        <%= f.radio_button :size_S, "1" %>
        <%= f.label :size_S_1, "S" %>
      </div>

      <div class="field" id="admininline">
        &emsp;
      </div>
      <div class="field" id="admininline">
        <%= f.radio_button :size_M, "1" %>
        <%= f.label :size_M_1, "M" %>
      </div>

      <div class="field" id="admininline">
        &emsp;
      </div>
      <div class="field" id="admininline">
        <%= f.radio_button :size_L, "1" %>
        <%= f.label :size_L_1, "L" %>
      </div>

      <div class="field" id="admininline">
        &emsp;
      </div>
      <div class="field" id="admininline">
        <%= f.radio_button :size_XL, "1" %>
        <%= f.label :size_XL_1, "XL" %>
      </div>

      <div class="field" id="admininline">
        &emsp;
      </div>
      <div class="field" id="admininline">
        <%= f.radio_button :size_XXL, "1" %>
        <%= f.label :size_XXL_1, "XXL" %>
      </div></br></br>

  
      <div class="field" id= "admininline">
        <%= f.label :colorname1, "색상1_이름" %>
        <%= f.text_field :colorname1, autofocus: true %>
      </div>
			<div class="field" id= "admininline">
        <%= f.label :color1, "색상1" %>
        <%= f.text_field :color1, autofocus: true %>
      </div></br>

			 <div class="field" id= "admininline">
        <%= f.label :colorname2, "색상2_이름" %>
        <%= f.text_field :colorname2, autofocus: true %>
      </div>
      <div class="field" id= "admininline">
        <%= f.label :color2, "색상2" %>
        <%= f.text_field :color2, autofocus: true %>
      </div></br>


			 <div class="field" id= "admininline">
        <%= f.label :colorname3, "색상3_이름" %>
        <%= f.text_field :colorname3, autofocus: true %>
      </div>
      <div class="field" id= "admininline">
        <%= f.label :color3, "색상3" %>
        <%= f.text_field :color3, autofocus: true %>
      </div></br>


			 <div class="field" id= "admininline">
        <%= f.label :colorname4, "색상4_이름" %>
        <%= f.text_field :colorname4, autofocus: true %>
      </div>
      <div class="field" id= "admininline">
        <%= f.label :color4, "색상4" %>
        <%= f.text_field :color4, autofocus: true %>
      </div></br>


			 <div class="field" id= "admininline">
        <%= f.label :colorname5, "색상5_이름" %>
        <%= f.text_field :colorname5, autofocus: true %>
      </div>
      <div class="field" id= "admininline">
        <%= f.label :color5, "색상5" %>
        <%= f.text_field :color5, autofocus: true %>
      </div></br></br>

 
      <div class="field">
        <%= f.label :product_images_files, "상세 사진" %></br>
        <%= f.attachment_field :product_images_files, multiple: true, presigned: true, direct: true %>
      </div></br></br>

		  <div class="field">
   			<%= f.label :image1, "중간 사진1" %></br>
   			<%= f.file_field :image1 %></br>
   			<%= f.label :image2, "중간 사진2" %></br>
   			<%= f.file_field :image2 %></br>
   			<%= f.label :image3, "중간 사진3" %></br>
   			<%= f.file_field :image3 %></br>
   			<%= f.label :image4, "중간 사진4" %></br>
   			<%= f.file_field :image4 %></br>
   			<%= f.label :image5, "중간 사진5" %></br>
   			<%= f.file_field :image5 %>
      </div></br></br>	

      <div class="actions">
        <%= f.submit "상품등록", class:"submit-button", data: {confirm: '상품을 등록하시겠습니까?'} %>
      </div>
			 <% end %>
    	</div>
  </div>
</div>
