    <%= attachment_image_tag(@product.product_images.first, :file, :fill, 400, 400, format: "jpg") %>
    
    <!-- 상품문의 -->
    <section class="et-slide" id="tab-react">
		<div class="wrap_box" style="border-top: 1px solid #f5f5f5;">
		</br>
		<span style="font-size: 24px;"><strong>상품문의</strong></span>
		<button class="info-button" onclick="location.href='/questions/new/<%= @product.id %>'";>상품문의하기</button>
    		<div class="row">
    		    <div class="col l12 s12">
    		        <p>
    		            ① 구매한 상품의 취소 / 반품은 마이페이지 구매내역에서 가능합니다.</br>
    		            ② 상품문의 및 상품후기를 통해 취소, 반품, 환불 등은 처리되지 않습니다.</br>
    		            ③ 가격, 취소, 교환, 반품, 환불 및 배송 등 해당 상품 자체와 관련 없는 문의는 마이페이지 문의를 이용해주세요.</br>
    		            ④ 게시물을 공개한 상태로 이메일, 전화번호 등 고객님의 개인정보는 절대 남기지 말아주세요.</br>
    		        </p>
    		    </div>
    		</div>

		    <ul class="collapsible" data-collapsible="accordion">
                <li>
                  <div class="collapsible-header">First</div>
                  <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
            </ul>
            </br>
            
			<div class="big_box">
                <div class="small_box">
                    <table>
                        <thead>
                            <tr>
                                <th>문의 번호</th>
                                <th>제목</th>
                                <th>고객 성명</th>
                                <th>답변 상태</th>
                                <th colspan="5"></th>
                            </tr>
                        </thead>

						<tbody>
                            <% @question.each do |question| %>
				 			<div>
                                <% if question.product_id == @product.id %>
                                    <% product = question.product %>
                                    <% user = question.user %>
									<% question_comment = question.question_comment %>
									<% if unless user_signed_in? %>
									
									    <!-- 로그인 안 했을 때 -->
										<% if question.secret == 1 %>
											<a href="/products/<%= product.p_category %>/<%= product.id %>">
                                            <tr>
                                                <td><%= question.id %></td>
                                                <td><%= question.q_title %></td>
                                                <td><%= user.name %></td>
                                            </tr>
                                            </a>
                                            <% if question_comment %>
                                                <% admin = question_comment.user %>
                                                <tr>
                                                    <td><%= question.id %></td>
                                                    <td><%= question_comment.qc_title %></td>
                                                    <td><%= admin.name %></td>
                                                    <td></td>
                                                </tr>
											<% end %>
										<% else %>
											<a href="/questions/<%= question.id %>">
											<tr>
                                                <td><%= question.id %></td>
                                                <td><%= question.q_title %></td>
                                                <td><%= user.name %></td>
												<td><%= link_to '보기', question %></td>
                                            </tr>
                                            </a>
                                            <% if question_comment %>
                                                <% admin = question_comment.user %>
                                                <tr>
                                                    <td><%= question.id %></td>
                                                    <td><%= question_comment.qc_title %></td>
                                                    <td><%= admin.name %></td>
                                                    <td></td>
													<td><%= link_to '보기', question_comment %></td>
                                                </tr>
											<% end %>
                                        <% end %>

									<!-- 로그인 했을 때 -->
									<% else %>
									    <!-- 관리자 및 글쓴이 일때 -->
										<% if current_user == user || current_user.admin_checked == true %>
											<% if question.secret == 1 %>
                                                <tr>
    											    <a href="/questions/<%= question.id %>">
                                                    <td><%= question.id %></td>
                                                    <td><%= question.q_title %></td>
                                                    <td><%= user.name %></td>
    								    		    </a>
                                                    <td><%= link_to '보기', question %></td>
                            	                    <td><%= link_to '수정', edit_question_path(question) %></td>
                            	                    <td><%= link_to '삭제', question, method: :delete, data: { confirm: '삭제하시겠습니까?' } %></td>
                                                </tr>
												<% if question_comment %>
                            	                <% admin = question_comment.user %>
                                                    <tr>
                                                        <td><%= question.id %></td>
                                	                    <td><%= question_comment.qc_title %></td>
                                	                    <td><%= admin.name %></td>
                                	                    <td></td>
                                	                    <td><%= link_to '보기', question_comment %></td>
    												</tr>
												<% end %>
											<% else %>
                                                <a href="/questions/<%= question.id %>">
    												<tr>
                                                        <td><%= question.id %></td>
                                                        <td><%= question.q_title %></td>
                                                        <td><%= user.name %></td>
      													<td><%= link_to '보기', question %></td>
                                                        <td><%= link_to '수정', edit_question_path(question) %></td>
                                                        <td><%= link_to '삭제', question, method: :delete, data: { confirm: '삭제하시겠습니까?' } %></td>
                                                    </tr>
                                                </a>
    											<% if question_comment %>		
                            	                    <% admin = question_comment.user %>
                                              	    <tr>
                                                    	<td><%= question.id %></td>
                                                    	<td><%= question_comment.qc_title %></td>
                                                    	<td><%= admin.name %></td>
                                                    	<td></td>
														<td><%= link_to '보기', question_comment %></td>
													</tr>
												<% end %>
											<% end %>
                                                    
                                        <!-- 관리자 및 글쓴이가 아닐 때 -->
										<% else %>
                                            <% if question.secret == 1 %>
                                                <tr>
                    								<a href="/products/<%= product.p_category %>/<%= product.id %>">
                                                    <td><%= question.id %></td>
                                                    <td><%= question.q_title %></td>
                                                    <td><%= user.name %></td>
                                                    </a>
                                                </tr>
                                                <% if question_comment %>
                                                <% admin = question_comment.user %>
                                                    <tr>
                                                        <td><%= question.id %></td>
                                                        <td><%= question_comment.qc_title %></td>
                                                        <td><%= admin.name %></td>
                                                        <td></td>
                                                    </tr>
                                                <% end %>
                                            <% else %>
												<a href="/questions/<%= question.id %>">
													<tr>
                                                        <td><%= question.id %></td>
                                                        <td><%= question.q_title %></td>
                                                        <td><%= user.name %></td>
                                                        <td><%= link_to '보기', question %></td>
                                                    </tr>
                                                </a>
                                                <% if question_comment %>
                                                    <% admin = question_comment.user %>
                                                        <tr>
                                                            <td><%= question.id %></td>
                                                            <td><%= question_comment.qc_title %></td>
                                                            <td><%= admin.name %></td>
                                                            <td></td>
                                                            <td><%= link_to '보기', question_comment %></td>
                                                        </tr>
                                                    <% end %>
                                                <% end %>
										    <% end %>
									    <% end %>
                                    <% end %>
							    <% end %>
							</div>
                            <% end %>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</section>
