<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div class="container">
 <%= render(:partial => "/admin/sidemenu",:controller => "/admin")%>
            <h5>수정하기</h5>
            <%= render 'form', product: @product %>
</div>

