<div class="login_box">
    <div class="row">
        <div class="col s3">
            <%= render "admin_sidemenu" %>
        </div>
        <div class="col s9">
          <h5>상품목록</h5>
          <div class="big_box">
            <div class="small_box">
              <table>
                <thead>
                  <tr>
              		  <th>번호</th>
              		  <th>카테고리</th>
                    <th>상품명</th>
                    <th>가격</th>
                    <th>대표사진</th>
                    <th>SS</th>
                    <th>S</th>
                    <th>M</th>
                    <th>L</th>
                    <th>XL</th>
                    <th>XXL</th>
                    <th colspan="5"></th>
                  </tr>
                </thead>
    
                <tbody>
                  <% @products.each do |product| %>
                    <tr>
              			  <td><%= product.id %></td>
              			  <td><%= product.p_category %></td>
                      <td><%= product.p_title %></td>
              				<td><%= product.p_price %></td>
              				<td><img src="<%= product.m_image.url %>" style="width: 80px; height:auto;"></td>
                      <td><%= product.size_SS %></td>
                      <td><%= product.size_S %></td>
                      <td><%= product.size_M %></td>
                      <td><%= product.size_L %></td>
                      <td><%= product.size_XL %></td>
                      <td><%= product.size_XXL %></td>
                      <td><%= link_to '보기', product %></td>
                      <td><%= link_to '수정', edit_product_path(product) %></td>
                      <td><%= link_to '삭제', product, method: :delete, data: { confirm: '삭제하시겠습니까?' } %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
    </div>
</div>
