<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div class="info_box">
          <section class="et-hero-tabs">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12" style="margin-bottom: 30px;">
		          <div class="slider" style="max-width: 400px; width: auto;">
                            <ul class="slides">
                              <li>
                                <img src="<%= @product.image1.url %>">
                              </li>
                              <li>
                                <img src="<%= @product.image2.url %>">
                              </li>
                              <li>
                                <img src="<%= @product.image3.url %>">
                              </li>
                              <li>
                                <img src="<%= @product.image4.url %>">
                              </li>
                              <li>
                                <img src="<%= @product.image5.url %>">
                              </li>
                            </ul>
                          </div></br></br>
			        <div class="col s12 center" style="margin-top: -30px; text-align: center;">
               		 <button class="prev z-depth-0 btn btn-flat center" style="border-radius: 1px; background: #eeeeee;">prev</button>
               		 <button class="next z-depth-0 btn btn-flat center" style="border-radius: 1px; background: #eeeeee;">next</button>
                    </div>
		        </div>
                    
                    <div class="col l6 s12">
                        <div class="row">
                            <h5><span style="color: #424242; font-weight: 550;">&nbsp;<%= @product.p_title %></span></h5>
                        </div>
                        <div class="row">
                            <div class="col s3">
                                <span style="color: #424242; font-weight: 600;">짧은설명</span>
                            </div>
                            <div class="col s9">
                                <span><%= @product.p_comment %></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s3">
                                <span style="color: #424242; font-weight: 600;">판매가격</span>
														</div>
                            <div class="col s9">
        						<% p_point1 = 0, p_point2 = 0, p_point3 = 0, p_point = 0 %>
        					    <% p_point  = @product.p_price.to_i * 0.02 %>
        						<% p_point1  = p_point + 5 %>
        						<% p_point2  = p_point1.to_i / 10 %>
        					    <% p_point3  = p_point2 * 10 %>
											           <% if @product.status == true %>
                                <span><%= number_to_currency(@product.p_price, precision: 0, unit: "원", format: "%n %u") %></span>&nbsp;<span style="font-size: 13px">(적립 포인트 : <%= p_point3.to_i %>점)</span>
																 <% else %>
																 <span>품절</span>
																 <% end %>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s3">
                                <span style="color: #424242; font-weight: 600;">배송비</span>
                            </div>
                            <div class="col s9">
        						<% if @product.p_price.to_i >= 30000 %>
        							<span>무료</span>
        						<% else %>
                				    <span>기본 2,500 원</span>&nbsp;<span style="font-size: 13px">(30,000원 이상 무료)</span>
        						<% end %>
                            </div>
                        </div>
												 <form method= "post">
                        <div class="row">
                            <div class="col s3">
                                <span style="color: #424242; font-weight: 600;">색상</span>
                            </div>
														 <div class="col s9" style="width: auto;">
                                <div class="radio-tile-group">
											<% if @product.color1 && @product.color1 != ""  %>
											          <div class="input-container">
                                     <input id="selected_color1" class="radio-button" type="radio" name="colorname" value=<%= @product.colorname1 %> onclick="Check();">
                                   <div class="radio-tile">
                                     <label for="selected_color1" class="radio-tile-label"><%= @product.colorname1 %></label>
                                   </div>
                                </div>
										  <% end %>
										   <% if @product.color2 &&  @product.color2 != "" %>
                     				<div class="input-container">
                                     <input id="selected_color2" class="radio-button" type="radio" name="colorname" value=<%= @product.colorname2 %>  onclick="Check();">
                                   <div class="radio-tile">
                                     <label for="selected_color2" class="radio-tile-label"><%= @product.colorname2 %></label>
                                   </div>
                                </div>
										  <% end %>
											 <% if @product.color3 &&  @product.color3 != "" %>
                      <div class="input-container">
                                     <input id="selected_color3" class="radio-button" type="radio" name="colorname" value=<%= @product.colorname3 %>  onclick="Check();">
                                   <div class="radio-tile">
                                     <label for="selected_color3" class="radio-tile-label"><%= @product.colorname3 %></label>
                                   </div>
                                </div>
											<% end %>
											 <% if @product.color4 &&  @product.color4 != "" %>
                      <div class="input-container">
                                     <input id="selected_color4" class="radio-button" type="radio" name="colorname" value=<%= @product.colorname4 %>  onclick="Check();">
                                   <div class="radio-tile">
                                     <label for="selected_color4" class="radio-tile-label"><%= @product.colorname4 %></label>
                                   </div>
                                </div>
											<% end %>
											 <% if @product.color5 &&  @product.color5 != "" %>
                      <div class="input-container">
                                     <input id="selected_color5" class="radio-button" type="radio" name="colorname" value=<%= @product.colorname5 %>  onclick="Check();">
                                   <div class="radio-tile">
                                     <label for="selected_color5" class="radio-tile-label"><%= @product.colorname5%></label>
                                   </div>
                                </div>
											<% end %>
												 	</div>
												 </div>
                        </div>
                        <div class="row">
                            <div class="col s3">
                                <span style="color: #424242; font-weight: 600;">사이즈</span>
                            </div>
                            <div class="col s9" style="width: auto;">
                                <div class="radio-tile-group">
        							<% if @product.size_SS %>
                                    <div class="input-container">
                                        <input id="selected_size_ss" class="radio-button" type="radio" name="size" value="ss" onclick="Check();"/>
                                        <div class="radio-tile">
                                            <label for="selected_size_ss" class="radio-tile-label">SS</label>
                                        </div>
                                    </div>
        							<% end %>
                                
        							<% if @product.size_S %>
                                    <div class="input-container">
                                        <input id="selected_size_s" class="radio-button" type="radio" name="size" value="s" onclick="Check();"/>
                                        <div class="radio-tile">
                                            <label for="selected_size_s" class="radio-tile-label">S</label>
                                        </div>
                                    </div>
        							<% end %>
                                
        							<% if @product.size_M %>
                                    <div class="input-container">
                                        <input id="selected_size_m" class="radio-button" type="radio" name="size" value="m" onclick="Check();"/>
                                        <div class="radio-tile">
                                            <label for="selected_size_m" class="radio-tile-label">M</label>
                                        </div>
                                    </div>
        							<% end %>
        
                                    <% if @product.size_L %>
                                    <div class="input-container">
                                        <input id="selected_size_l" class="radio-button" type="radio" name="size" value="l" onclick="Check();"/>
                                        <div class="radio-tile">
                                            <label for="selected_size_l" class="radio-tile-label">L</label>
                                        </div>
                                    </div>
                                    <% end %>    
        
        							<% if @product.size_XL %>
                                    <div class="input-container">
                                        <input id="selected_size_xl" class="radio-button" type="radio" name="size" value="xl" onclick="Check();"/>
                                        <div class="radio-tile">
                                            <label for="selected_size_xl" class="radio-tile-label">XL</label>
                                        </div>
                                    </div>
        							<% end %>
                                    
        							<% if @product.size_XXL %>		
                                    <div class="input-container">
                                        <input id="selected_size_xxl" class="radio-button" type="radio" name="size" value="xxl" onclick="Check();"/>
                                        <div class="radio-tile">
                                            <label for="selected_size_xxl" class="radio-tile-label">XXL</label>
                                        </div>
                                    </div>
        							<% end %>
                                </div>
        				                
        				            <input type="hidden" value="<%= @product.id %>" name="product_id" />
        							<% if flash[:size] %> 
        							<p>	
        							    <%= flash[:size] %> 
        							</p>
        							<% else %>
        							</br></br>
        							<% end %>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12" style="background: #f5f5f5; border-top: 1px solid #fafafa;">
								<div id="pick" class="pick" name="pick" style="display:none;">
								    <div style="width:25%; display: inline-block; text-align: center;">
    								    <span id="color" style="font-weight: 600;"></span>  / 
    								        <input type="hidden" id="acolorb" name="selected_colorname[]" value=0>
    								    <span id="size" style="text-transform: uppercase; font-weight: 600;"></span>
    								        <input type="hidden" id="asizeb" name="selected_size[]" value=0>
								    </div>
								    <div style="width:65%; display: inline-block; text-align: center;">
								        수량 : 
								        <input type="text" name="product_quantity[]" value= 1 style="width:50px; text-align: center;">
								    </div>
    								    <input type="button" value="X" onclick="remove_item(this)" style="padding: 0 4px; background: white; border-radius: 3px; border: 1px solid black; color: black; font-size: 12px;">
								</div>
								<div id="field"></div>
							</div>
						</div>
        				<% if user_signed_in? %>
                        			<div class="row" style="margin-top: 30px;">
                						<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">	
														<% if @product.status == true %>
                						<button type="submit" class="productbutton" formaction="/selects" value="1" name="check">CART</button>
                						<button type="submit" class="buy-button" formaction="/selects" value="0" name="check">BUY NOW</button>
														<% else %>
														<button class="productbutton" disabled >CART</button>
														<button class="buy-button" disabled >BUY NOW</button>
														<% end %>
                				    </div>
            					</div>
        					</div>
        					</form>
        				<% else %>
								 <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
								  <button type="submit" class="buy-button" formaction="/selects" value="3" name="check">비회원 구매</button>
								 <button type="submit" class="productbutton" formaction="/selects" value="2" name="check">CART</button>
								 </form>
                                    <button class="buy-button3" onclick="location.href='/users/sign_in'";>BUY NOW</button>
																</div>
									</div>
									</div>
        				<% end %>
                </div>
            </div>
        </div>
        
            <div class="et-hero-tabs-container">
                <a class="et-hero-tab" href="#tab-es6">상세정보</a>
                <a class="et-hero-tab" href="#tab-flexbox">상품후기<% if @product.reviews.count > 0 %>(<%= @product.reviews.count %>)<% else %>(0)<% end %></a>
                <a class="et-hero-tab" href="#tab-react">상품문의<% if @product.questions.count > 0 %>(<%= @product.questions.count %>)<% else %>(0)<% end %></a>
                <a class="et-hero-tab" href="#tab-angular">확인사항</a>
                <span class="et-hero-tab-slider"></span>
            </div>
          </section>
        
          <!-- Main -->
          <main class="et-main">
            <section class="et-slide" id="tab-es6">
                <% @product.product_images.each do |i| %>
                    <div>
                        <%= attachment_image_tag(i, :file, :fill, 800, 5000, class: 'nino',format: "jpg") %>
                    </div>
                <% end %>
            </section>
            
        		<!-- 상품 후기 -->
        	<section class="et-slide" id="tab-flexbox">
         		<div class="wrap_box" style="border-top: 1px solid #f5f5f5;">
                </br>
                <span style="font-size: 24px;"><strong>상품후기</strong></span>
             <% if @check %><button class="info-button" onclick="location.href='/reviews/new/<%= @product.id %>'";>상품후기작성</button><% else %><button class="info-button" onclick="myFunction()">상품후기작성</button><% end %></br></br>
        			<ul class="collapsible" data-collapsible="accordion">
        			<% if @product.reviews.count > 0 %>
        			<% review_counters = @product.reviews.count %>
        			<% review_counter = review_counters + 1 %>
        				<% @review.each do |review| %>
        				<% if review.product_id == @product.id %>
        				<% product = review.product %>
        				<% user = review.user %>
        				<% review_comment = review.review_comment %>
        				<% review_counter -= 1 %>
        				
        				    <!-- 로그인 안했을 때 -->
        				    <% if unless user_signed_in? %> 
        					    <li>
        					    <div class="collapsible-header" style="font-size: 14px;">
        					        &emsp;<%= review_counter %>&emsp;&emsp;&emsp;<%= review.created_at.strftime("%Y.%m.%d") %>&emsp;&emsp;&emsp;<%= user.name[0..1] %>*&emsp;&emsp;&emsp;&nbsp;<%= review.comment %>&emsp;
        						</div>
        						<div class="collapsible-body" style="font-size: 14px;">
        						    <span>
                                        <div class="table-responsive-vertical">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>키</th>
                                                        <th>몸무게</th>
                                                        <th>핏감</th>
                                                        <th>스판감</th>
                                                        <th>기장감</th>
                                                        <th>평소사이즈</th>
                                                        <th>구매사이즈</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td data-title="키"><%= review.height %>cm</td>
                                                        <td data-title="몸무게"><%= review.weight %>kg</td>
                                                        <td data-title="핏감"><% if review.fit == 'slim' %>슬림<% elsif review.fit == 'loose' %>루즈<% else %>적당<%end%></td>
                                                        <td data-title="스판감"><% if review.span == 'no' %>없음<% elsif review.span == 'yes' %>좋음<% else %>적당<%end%></td>
                                                        <td data-title="기장감"><% if review.length == 'small' %>짧음<% elsif review.length == 'big' %>남음<% else %>적당<%end%></td>
                                                        <td data-title="평소사이즈"><%= review.user_size.upcase %></td>
                                                        <td data-title="구매사이즈"><%= review.buy_size.upcase %></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            </br>
                                            <div class="row">
            								    <% if review.image.url %>
                                                    <div class="col l4 s12" style="text-align: center;">
                                                        <img src="<%= review.image.url %>" style="width: 150px; height:190px;"/>
                                                    </div>
                                                    </br>
            								    <% end %>
                                                <div class="col l8 s12">
                                                    <%= simple_format(review.add_comment) %>
                                                </div>
                                            </div>
                                        </div>
        								<% if review_comment %>
                                        <% admin = review_comment.user %>
                                    <div>
                                    </br>
                                        &emsp;<span style="border: 1px solid black; border-radius: 2px; padding: 0px 15px 0px 15px;">답변</span></br>
                                        &emsp;<%=  simple_format(review_comment.rc_comment) %>
                                    </div>
                                    <% end %>
        							</span>
        							</div>
        							</li>
        							
        						<!-- 로그인 했을 때 -->	
        					    <% else %> 
        							<% if current_user == review.user || current_user.admin_checked == true %>
            							<li>
                                        <div class="collapsible-header" style="font-size: 14px;">
                                            &emsp;<%= review_counter %>&emsp;&emsp;&emsp;<%= review.created_at.strftime("%Y.%m.%d") %>&emsp;&emsp;&emsp;<%= user.name[0..1] %>*&emsp;&emsp;&emsp;&nbsp;<%= review.comment %>&emsp;
                                        </div>
                                        <div class="collapsible-body" style="font-size: 14px;">
                                            <span>
                                                <div class="table-responsive-vertical">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>키</th>
                                                                <th>몸무게</th>
                                                                <th>핏감</th>
                                                                <th>스판감</th>
                                                                <th>기장감</th>
                                                                <th>평소사이즈</th>
                                                                <th>구매사이즈</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td data-title="키"><%= review.height %>cm</td>
                                                                <td data-title="몸무게"><%= review.weight %>kg</td>
        													    <td data-title="핏감"><% if review.fit == 'slim' %>슬림<% elsif review.fit == 'loose' %>루즈<% else %>적당<%end%></td>
          														<td data-title="스판감"><% if review.span == 'no' %>없음<% elsif review.span == 'yes' %>좋음<% else %>적당<%end%></td>
          														<td data-title="기장감"><% if review.length == 'small' %>짧음<% elsif review.length == 'big' %>남음<%else%>적당<%end%></td>
                                                                <td data-title="평소사이즈"><%= review.user_size.upcase %></td>
                                                                <td data-title="구매사이즈"><%= review.buy_size.upcase %></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    </br>
                                                    <div class="row">
            										<% if review.image.url %>
                                                        <div class="col l4 s12" style="text-align: center;">
                                                            <img src="<%= review.image.url %>" style="width: 150px; height:190px;"/>
                                                        </div>
                                                        <div class="col l8 s12">
                                                            </br>
                                                            <%=  simple_format(review.add_comment) %>
                                                        </div>
                                                    <% else %>
                                                        <div class="col l12 s12">
                                                            <%=  simple_format(review.add_comment) %>
                                                        </div>
                                                    <% end %>
                                                    </div>
                                                </div>
                    							<div style="display: flex; justify-content: flex-end;"></br></br>
                    								<%= link_to '수정', edit_review_path(review), class: "borderbox", style:"padding-top: 3px;" %>&emsp;
                    								<%= button_to '삭제', review, method: :delete, data: { confirm: '리뷰를 삭제하시겠습니까?' }, class: "borderbox" %>
                    							</div>
        
        
                                    <% if review_comment %>
                                       <% admin = review_comment.user %>
                                      <div>
                                       </br>
                                       &emsp;<span style="border: 1px solid black; border-radius: 2px; padding: 0px 15px 0px 15px;">답변</span></br>
                                       &emsp;<%=  simple_format(review_comment.rc_comment) %>
                                      </div></br>
                                          <% if current_user.admin_checked == true %>
                                                <div style="display: flex; justify-content: flex-end;"></br>
                                                 <%= link_to '수정', edit_review_comment_path(review_comment), class: "borderbox", style:"padding-top: 3px;" %>&emsp;
                                                 <%= button_to '삭제', review_comment, method: :delete, data: { confirm: '답변을 삭제하시겠습니까?'  }, class: "borderbox" %>
                                                </div>
                                         <% end %>
                                    <% end %>
                                            </span>
                                        </div>
                                        </li>
        					        <% else %>
        						        <li>
                                            <div class="collapsible-header" style="font-size: 14px;">
                                                &emsp;<%= review_counter %>&emsp;&emsp;&emsp;<%= review.created_at.strftime("%Y.%m.%d") %>&emsp;&emsp;&emsp;<%= user.name[0..1] %>*&emsp;&emsp;&emsp;&nbsp;<%= review.comment %>&emsp;
                                            </div>
                                            <div class="collapsible-body" style="font-size: 14px;">
                                                <span>
                                                    <div class="table-responsive-vertical">
                                                        <table class="table">
                                                            <thead>
                                                                <tr>
                                                                    <th>키</th>
                                                                    <th>몸무게</th>
                                                                    <th>핏감</th>
                                                                    <th>스판감</th>
                                                                    <th>기장감</th>
                                                                    <th>평소사이즈</th>
                                                                    <th>구매사이즈</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td data-title="키"><%= review.height %>cm</td>
                                                                    <td data-title="몸무게"><%= review.weight %>kg</td>
        															<td data-title="핏감"><% if review.fit == 'slim' %>슬림<% elsif review.fit == 'loose' %>루즈<% else %>적당<%end%></td>
        															<td data-title="스판감"><% if review.span == 'no' %>없음<% elsif review.span == 'yes' %>좋음<% else %>적당<%end%></td>
         									       					<td data-title="기장감"><% if review.length == 'small' %>짧음<% elsif review.length == 'big' %>남음<%else%>적당<%end%></td>
                                                                    <td data-title="평소사이즈"><%= review.user_size.upcase %></td>
                                                                    <td data-title="구매사이즈"><%= review.buy_size.upcase %></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        </br></br>
                                                        <div class="row">
            											<% if review.image.url %>
                                                            <div class="col l4 s12" style="text-align: center;">
                                                                <img src="<%= review.image.url %>" style="width: 150px; height:190px; "/> 
                                                            </div>
                                                            <div class="col l8 s12">
                                                                </br>
                                                                <%=  simple_format(review.add_comment) %>
                                                            </div>
                                                        </div>
                                                        <% else %>
                                                            <div class="col l12 s12">
                                                                <%=  simple_format(review.add_comment) %>
                                                            </div>
                                                        <% end %>
                                                      </div>
                                              <% if review_comment %>
                                                <% admin = review_comment.user %>
                                                 <div>
                                                  </br>
                                                  &emsp;<span style="border: 1px solid black; border-radius: 2px; padding: 0px 15px 0px 15px;">답변</span></br>
                                                  &emsp;<%=  simple_format(review_comment.rc_comment) %>
                                                 </div>
                                              <% end %>
        										</span>
        									</div>
                                        </li>
        							<% end %>
            					    <% end %>
            					<% end %>
            				<% end %>
            			<% end %>
            		<% else %>
            		</br></br>
            			<p style="text-align: center; font-size: 14px;">등록된 상품후기가 없습니다.</p>
            		<% end %>
            		</ul>
                    </div>
        		</section>
        
            <!-- 상품문의 -->
            <section class="et-slide" id="tab-react">
        		<div class="wrap_box" style="border-top: 1px solid #f5f5f5;">
        		</br>
        		<span style="font-size: 24px;"><strong>상품문의</strong></span>
        		<button class="info-button" onclick="location.href='/questions/new/<%= @product.id %>'";>상품문의하기</button>
            		<div class="row">
            		    <div class="col l12 s12">
            		        <p>
            		            ① 구매한 상품의 취소 / 반품은 마이페이지 구매내역에서 가능합니다.</br>
            		            ② 상품문의 및 상품후기를 통해 취소, 반품, 환불 등은 처리되지 않습니다.</br>
            		            ③ 가격, 취소, 교환, 반품, 환불 및 배송 등 해당 상품 자체와 관련 없는 문의는 마이페이지 문의를 이용해주세요.</br>
            		            ④ 게시물을 공개한 상태로 이메일, 전화번호 등 고객님의 개인정보는 절대 남기지 말아주세요.</br>
            		        </p>
            		    </div>
            		</div>
            		<ul class="collapsible" data-collapsible="accordion">
        				<% if @product.questions.count > 0 %>
        				<% question_counters = @product.questions.count %>
        				<% question_counter = question_counters + 1 %>
            				<% @question.each do |question| %>
            				<% if question.product_id == @product.id %>
            				<% product = question.product %>
            				<% user = question.user %>
            				<% question_comment = question.question_comment %>
        						<% question_counter -= 1 %>
            					
            					<!-- 로그인 안 했을 때 -->
            					<% if unless user_signed_in? %>
            					    <!-- 로그인 안했는데 질문이 비밀글일때 -->
            						<% if question.secret == 1 %> 
            							<li>
                							<div class="collapsible-header" style="font-size: 14px;">
                							    &emsp;<%= question_counter %>&emsp;&emsp;&emsp;<%= question.created_at.strftime("%Y.%m.%d") %>&emsp;&emsp;&emsp;<%= user.name[0..1] %>*&emsp;&emsp;&emsp;&nbsp;<%= question.q_title %>&emsp;<%= image_tag 'lock.png' %>&emsp;&emsp;&emsp;<span style="float: right;"><% if question_comment %>답변완료<%else%>답변중<%end%>&emsp;</span>
                							</div>
                							<div class="collapsible-body" style="font-size: 14px;">
                							    <span>
                								<div>
                									<p>이글은 비밀글<%= image_tag 'lock.png' %>입니다.</p>
                                                </div>
                								</span>
                							</div>
            							</li>
            						<!-- 로그인 안했는데 질문이 일반글일때 -->
            						<% else %> 
            							<li>
                                            <div class="collapsible-header" style="font-size: 14px;">
                                                &emsp;<%= question_counter %>&emsp;&emsp;&emsp;<%= question.created_at.strftime("%Y.%m.%d") %>&emsp;&emsp;&emsp;<%= user.name[0..1] %>*&emsp;&emsp;&emsp;&nbsp;<%= question.q_title %>&emsp;&emsp;&emsp;<span style="float: right;"><% if question_comment %>답변완료<%else%>답변중<%end%>&emsp;</span>
                                            </div>
                                            <div class="collapsible-body" style="font-size: 14px;">
                                                <span>
                                                <div>
                                                    <%=  simple_format(question.comment) %>
                                                </div>
                                                    <% if question_comment %>
                                                        <% admin = question_comment.user %>
                                                        <div>
                                                            </br>
                                                            &emsp;<span style="border: 1px solid black; border-radius: 2px; padding: 0px 15px 0px 15px;">답변</span></br>
                                                            &emsp;<%=  simple_format(question_comment.qc_comment) %>
                                                        </div>
                                                    <% end %>
                                                </span>
                                            </div>
                                        </li>
            						<% end %>             
                                          
                                <!-- 로그인 했을 때 -->
            					<% else %>
                                    <!-- 관리자 및 글쓴이 일때 -->
            						<% if current_user == user || current_user.admin_checked == true %>
            						    <!-- 로그인도 하고 글쓴이이거나 관리자인데 비밀글 일때 -->
            							<% if question.secret == 1 %> 
            								<li>
                                                <div class="collapsible-header" style="font-size: 14px;">
                                                    &emsp;<%= question_counter %>&emsp;&emsp;&emsp;<%= question.created_at.strftime("%Y.%m.%d") %>&emsp;&emsp;&emsp;<%= user.name[0..1] %>*&emsp;&emsp;&emsp;&nbsp;<%= question.q_title %>&emsp;<%= image_tag 'lock.png' %>&emsp;&emsp;&emsp;<span style="float: right;"><% if question_comment %>답변완료<%else%>답변중<%end%>&emsp;</span>
                                                </div>
                                                <div class="collapsible-body" style="font-size: 14px;">
                                                    <span>
                                                        <div>
                                                            <%=  simple_format(question.comment) %>
                                                        </div></br>
            											<div style="display: flex; justify-content: flex-end;">
                                    						</br></br>
                                     						<%= link_to '수정', edit_question_path(question), class: "borderbox", style:"padding-top: 3px;" %>&emsp;
                                     						<%= button_to '삭제', question, method: :delete, data: { confirm: '리뷰를 삭제하시겠습니까?' }, class: "borderbox" %>
                                    					</div>
                                                        <% if question_comment %>
                                                            <% admin = question_comment.user %>
                                                            <div>
                                                                </br>
                                                                &emsp;<span style="border: 1px solid black; border-radius: 2px; padding: 0px 15px 0px 15px;">답변</span></br>
                                                                &emsp;<%=  simple_format(question_comment.qc_comment) %>
                                                            </div>
             												<% if current_user.admin_checked == true %>
                                                                <div style="display: flex; justify-content: flex-end;">
                                                                    </br></br>
                                               						<%= link_to '수정', edit_question_comment_path(question_comment), class: "borderbox", style:"padding-top: 3px;" %>&emsp;
                                               						<%= button_to '삭제', question_comment, method: :delete, data: { confirm: '리뷰를 삭제하시겠습니까?'  }, class: "borderbox" %>
                                                                </div>
                                                            <% end %>
                                                        <% end %>
                                                    </span>
                                                </div>
                                            </li>
            							<!-- 로그인도 하고 글쓴이이거나 관리자인데  일반글 일때 -->
            							<% else %> 
            								<li>
                                                <div class="collapsible-header" style="font-size: 14px;">
                                                    &emsp;<%= question_counter %>&emsp;&emsp;&emsp;<%= question.created_at.strftime("%Y.%m.%d") %>&emsp;&emsp;&emsp;<%= user.name[0..1] %>*&emsp;&emsp;&emsp;&nbsp;<%= question.q_title %>&emsp;&emsp;&emsp;<span style="float: right;"><% if question_comment %>답변완료<%else%>답변중<%end%>&emsp;</span>
                                                </div>
                                                <div class="collapsible-body" style="font-size: 14px;">
                                                    <span>
                                                        <div>
                                                            <%=  simple_format(question.comment) %>
                                                        </div></br>
            											<div style="display: flex; justify-content: flex-end;">
                                							</br></br>
                                 							<%= link_to '수정', edit_question_path(question), class: "borderbox", style:"padding-top: 3px;" %>&emsp;
                                 							<%= button_to '삭제', question, method: :delete, data: { confirm: '문의를 삭제하시겠습니까?' }, class: "borderbox" %>
            											</div>
                                                        <% if question_comment %>
                                                            <% admin = question_comment.user %>                                                    
                                                            <div>
                                                                </br>
                                                                &emsp;<span style="border: 1px solid black; border-radius: 2px; padding: 0px 15px 0px 15px;">답변</span></br>
                                                                &emsp;<%=  simple_format(question_comment.qc_comment) %>
                                                            </div></br>
            												<% if current_user.admin_checked == true %>
            													<div style="display: flex; justify-content: flex-end;">
                                                                    </br></br>
                                                                    <%= link_to '수정', edit_question_comment_path(question_comment), class: "borderbox", style:"padding-top: 3px;" %>&emsp;
                                                                    <%= button_to '삭제', question_comment, method: :delete, data: { confirm: '문의를 삭제하시겠습니까?' }, class: "borderbox" %>
                                                                </div>
            												<% end %>
                                                        <% end %>
                                                    </span>
                                                </div>
                                            </li>
            						    <% end %>
                                                                
                                    <!-- 관리자 및 글쓴이가 아닐 때 -->
            						<% else %>
                                        <% if question.secret == 1 %> <!-- 로그인은 했으나 일반 사용자인데 비밀글 일때 -->
            								<li>
                                                <div class="collapsible-header" style="font-size: 14px;">
                                                    &emsp;<%= question_counter %>&emsp;&emsp;&emsp;<%= question.created_at.strftime("%Y.%m.%d") %>&emsp;&emsp;&emsp;<%= user.name[0..1] %>*&emsp;&emsp;&emsp;&nbsp;<%= question.q_title %>&emsp;<%= image_tag 'lock.png' %>&emsp;&emsp;&emsp;<span style="float: right;"><% if question_comment %>답변완료<%else%>답변중<%end%>&emsp;</span>
                                                </div>
                                                <div class="collapsible-body" style="font-size: 14px;">
                                                    <span>
                                                        <div>
                                                            <p> 이글은 비밀글<%= image_tag 'lock.png' %>입니다. </P>
                                                        </div>
                                                    </span>
                                                </div>
                                            </li>
                                        <% else %> <!-- 로그인은 했으나 일반 사용자인데 일반글 일때 -->
               							    <li>
                                                <div class="collapsible-header" style="font-size: 14px;">
                                                    &emsp;<%= question_counter %>&emsp;&emsp;&emsp;<%= question.created_at.strftime("%Y.%m.%d") %>&emsp;&emsp;&emsp;<%= user.name[0..1] %>*&emsp;&emsp;&emsp;&nbsp;<%= question.q_title %><%= image_tag 'lock.png' %>&emsp;&emsp;&emsp;<span style="float: right;"><% if question_comment %>답변완료<%else%>답변중<%end%>&emsp;</span>
                                                </div>
                                                <div class="collapsible-body" style="font-size: 14px;">
                                                    <span>
                                                        <div>
                                                            <%=  simple_format(question.comment) %>
                                                        </div>
                                                        <% if question_comment %>
                                                            <% admin = question_comment.user %>
                                                            <div>
                                                                </br>
                                                                &emsp;<span style="border: 1px solid black; border-radius: 2px; padding: 0px 15px 0px 15px;">답변</span></br>
                                                                &emsp;<%= simple_format(question_comment.qc_comment) %>
                                                            </div>
                                                        <% end %>
                                                    </span>
                                                </div>
                                            </li>
                                        <% end %>
            						<% end %>
            				   	    <% end %>
                                <% end %>
        			            <% end %>
                            <% end %>
        	          <% else %>
        		            </br></br>
        					<p style="text-align: center; font-size: 14px;">등록된 상품문의가 없습니다.</p>
        				<% end %>
        			</ul>
        		</div>
        	</section>
            
            <!-- 확인사항 -->
            <section class="et-slide" id="tab-angular">
                <div class="wrap_box" style="border-top: 1px solid #f5f5f5; border-bottom: 1px solid #f5f5f5;">
                    <div class="row">
                        <div class="col l6 s12">
                            </br>
                            <h5><strong style="margin-left: -10px;">배송 및 포인트</strong></h5>
                            <p>
                                1. 기본배송료는 2,500원입니다. 주문 시 장바구니 상품 합계 금액이 30,000원 이상은 무료배송입니다.</br>
                                </br>
                                2. 페버릭에서 구매하신 상품은 CJ대한통운을  통해 안전하게 고객님께 배송됩니다.</br>
                                </br>
                                3. 택배는 주중 오후 6시에 출고되며, 주말 및 공휴일은 출고되지 않습니다.</br>
                                </br>
                                4. 배송 준비기간은 결제 확인 시점으로부터 평균 3일 이내입니다. 단, 재고 소진으로 인해 재입고가 될 경우 며칠 더 소요될 수 있습니다.</br>
                                </br>
                                5. 거래처 사정에 의해 5일 이상 걸리는 제품은 해당 고객님께 따로 연락드립니다.</br>
                                </br>
                                6. 구매 시 모든 상품의 적립 포인트는 2%으로 동일합니다.</br>
                            </p>
                            </br>
                        </div>
                        <div class="col l6 s12">
                            </br>
                            <h5><strong style="margin-left: -10px;">교환 및 환불</strong></h5>
                            <p>
                                1. 상품 수령일로부터 7일 이내에는 반품 및 환불이 가능합니다. (단, 주말 및 공휴일을 제외하고 수령일로부터 7일 이내에 페버릭 상품이 회수되어야 가능)</br>
                                </br>
                                2. 아래의 사유는 환불이 불가능합니다.</br>
                                  - 제품 착용 흔적이 있을 경우</br>
                                  - 처음 출고된 상태와 달라진 경우 (세탁, 착용, 수선 등)</br>
                                  - 일부 구성품이 훼손 또는 제거 된 경우 (택, 단추, 패키지 등)</br>
                                3. 상품이 불량일 경우는 동일 상품으로 교환(배송비 페버릭 부담) 또는 배송비를 포함한 전액 환불이 가능합니다. 단, 단숨 변심 및 제품의 실밥, 주름 등 허용 범위 내의 제품 특성으로 인한 교환 및 환불의 경우 왕복 배송비를 차감한 금액이 환불됩니다.</br>
                                  - 반품하실 때, 이용하시는 택배사의 택배비를 직접 지불하시면 2,500원만 차감한 금액이 환불됩니다.</br>
                                4. 동일 상품 사이즈 교환의 경우 사유가 고객 변심의 범주인 관계로, 편도 배송비(2,500원)를 부담해주셔야 합니다.</br>
                                  - 이용하시는 택배사의 택배비를 직접 지불하실 경우 편도 배송비(2,500원), 그게 아닐 경우 왕복 배송비(2,500원)을 부담해주셔야 합니다.</br>
                                5. 이미 상품이 출도된 이후에는 상품을 다시 회수받은 뒤에 환불 처리가 가능합니다.</br>
                            </p>
                        </div>
                    </div>
                </div>
            </section>
	  </main>
    </div>

	<!--Import jQuery before materialize.js-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="js/materialize.min.js"></script>
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
    <script>
    function myFunction() {
        alert("상품 구매내역이 없습니다");
    }
    </script>
	<script>
            $(document).ready(function () {
                $('.slider').slider({
		            full_width: true,
		            indicators: false,
		            height: 400
		        });
            });
	</script>	
	
	<script>
	    $(document).ready(function(){
         	 $('.slider').slider('pause');
            });
	</script>

	<script>
	    $(document).ready(function(){
          $('.next').click(function() {
             $('.slider').slider('next');
          });
          $('.prev').click(function() {
             $('.slider').slider('prev');
          });
        });
	</script>
       
	<script>

function Check(){
	
	
	var size_value = ( function SizeCheck(){
          var size = document.getElementsByName("size");

          var size_check = 0;
        for(var i = 0; i<size.length; i++){
            //만약 라디오 버튼이 체크가 되어있다면 true
            if(size[i].checked==true){
                //라디오 버튼 값
                return(size[i].value);
                //라디오 버튼이 체크되면 radio_btn_check를 1로 만들어준다.
                size_check++;
            }
        }
      }
)();



	var color_value = (function ColorCheck(){
          var colorname = document.getElementsByName("colorname");

          var colorname_check = 0;
        for(var i = 0; i<colorname.length; i++){
            //만약 라디오 버튼이 체크가 되어있다면 true
            if(colorname[i].checked==true){
                //라디오 버튼 값
             		return(colorname[i].value); 
								//라디오 버튼이 체크되면 radio_btn_check를 1로 만들어준다.
                colorname_check++;
            }
       	 }
       }
			 )();



		if ( size_value != undefined && color_value != undefined) {
			
			 var div = document.createElement('div');
			  document.getElementById('color').innerHTML = color_value
				document.getElementById('acolorb').value = color_value
				document.getElementById('asizeb').value = size_value
				document.getElementById('size').innerHTML = size_value
       div.innerHTML = document.getElementById('pick').innerHTML 
       document.getElementById('field').appendChild(div);


		}
		}
	function remove_item(obj){
	        document.getElementById('field').removeChild(obj.parentNode);
	}
	
</script>
    <script>
	    (function($)
            $(document).ready(function(){
                $('.collapsible').collapsible();
            });
	    }) (jQuery);
    </script>
    </body>
</html>
