<%= form_for(review) do |f| %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div>
	 <span style="color: red; font-size: 12px;"><%= flash[:review] %></span>	  
    </br>
		<div class="field">
		  <%= f.label :height, "키 *" %>
		  <%= f.text_field :height, placeholder: "ex) 175", autofocus: true %>
		</div>
    <div class="field">
      <%= f.label :weight, "몸무게 *" %>
      <%= f.text_field :weight, placeholder: "ex) 65" %>
    </div>
		<div class="field">
      <%= f.label :fit, "핏감 *" %></br>
      <%= f.radio_button(:fit, "slim") %>
      <%= f.label(:fit_slim, "슬림") %>&emsp;
      <%= f.radio_button(:fit, "proper") %>
      <%= f.label(:fit_proper, "적당") %>&emsp;
			<%= f.radio_button(:fit, "loose") %>
			<%= f.label(:fit_loose, "루즈") %><br/>
 		</div></br>

    <div class="field">
      <%= f.label :span, "스판 *" %></br>
      <%= f.radio_button(:span, "no") %>
      <%= f.label(:span_no, "없음") %>&emsp;
      <%= f.radio_button(:span, "proper") %>
      <%= f.label(:span_proper, "적당") %>&emsp;
      <%= f.radio_button(:span, "yes") %>
      <%= f.label(:span_yes, "좋음") %><br/>
    </div></br>
	
	  <div class="field">
      <%= f.label :length, "기장감 *" %></br>
      <%= f.radio_button(:length, "small") %>
      <%= f.label(:length_small, "짧음") %>&emsp;
      <%= f.radio_button(:length, "proper") %>
      <%= f.label(:length_proper, "적당") %>&emsp;
      <%= f.radio_button(:length, "big") %>
      <%= f.label(:length_big, "남음") %><br/>
    </div></br>

	  <div class="field">
      <%= f.label :user_size, "본인 사이즈 * (평소 입으시는 사이즈!)" %></br>
      <%= f.radio_button(:user_size, "ss") %>
      <%= f.label(:user_size_ss, "SS") %>&emsp;
      <%= f.radio_button(:user_size, "s") %>
      <%= f.label(:user_size_s, "S") %>&emsp;
      <%= f.radio_button(:user_size, "m") %>
      <%= f.label(:user_size_m, "M") %>&emsp;
      <%= f.radio_button(:user_size, "l") %>
      <%= f.label(:user_size_l, "L") %>&emsp;
      <%= f.radio_button(:user_size, "xl") %>
      <%= f.label(:user_size_xl, "XL") %>&emsp;
      <%= f.radio_button(:user_size, "xxl") %>
      <%= f.label(:user_size_xxl, "XXL") %><br/>
    </div></br>

		<div class="field">
      <%= f.label :buy_size, "구매 사이즈 *" %></br>
      <%= f.radio_button(:buy_size, "ss") %>
      <%= f.label(:buy_size_ss, "SS") %>&emsp;
      <%= f.radio_button(:buy_size, "s") %>
      <%= f.label(:buy_size_s, "S") %>&emsp;
      <%= f.radio_button(:buy_size, "m") %>
      <%= f.label(:buy_size_m, "M") %>&emsp;
      <%= f.radio_button(:buy_size, "l") %>
      <%= f.label(:buy_size_l, "L") %>&emsp;
      <%= f.radio_button(:buy_size, "xl") %>
      <%= f.label(:buy_size_xl, "XL") %>&emsp;
      <%= f.radio_button(:buy_size, "xxl") %>
      <%= f.label(:buy_size_xxl, "XXL") %><br/>
    </div></br>

		<div class="field">
		  <%= f.label :comment, "한줄평 *" %>
			<%= f.text_field :comment %>
		</div>

		<div class="field">
		  <%= f.label :add_comment, "추가 코멘트" %>
			<%= f.text_area :add_comment %>
		</div></br>

		<div class="field">
		  <%= f.label :review_images_files, "사진등록" %></br>
			<%= f.file_field :image %>
		</div></br>

  <div class="actions">
    <%= f.submit "등록하기", class: "login-button" %>
  </div>
<% end %>
