<div class="login_container">
    <div class="login_box">
        <div class="out_box">
            <h4>상품후기수정</h4>
            <div class="inner_box">
                <%= render 'form', review: @review %>
            </div>
        </div>
    </div>
</div>

