<p id="notice"><%= notice %></p>

<h1>Reviews</h1>

<table>
  <thead>
    <tr>
			<th>상품명</th>
      <th>Product</th>
      <th>Fit</th>
      <th>Span</th>
      <th>Length</th>
      <th>Height</th>
      <th>Weight</th>
      <th>User size</th>
      <th>Buy size</th>
      <th>Comment</th>
      <th>Add comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
		<% @reviews.each do |review| %>
      <tr>	
        <td><%= review.product_id %></td>
        <td><%= review.fit %></td>
        <td><%= review.span %></td>
        <td><%= review.length %></td>
        <td><%= review.height %></td>
        <td><%= review.weight %></td>
        <td><%= review.user_size %></td>
        <td><%= review.buy_size %></td>
        <td><%= review.comment %></td>
        <td><%= review.add_comment %></td>
        <td><%= link_to 'Show', review %></td>
        <td><%= link_to 'Edit', edit_review_path(review) %></td>
        <td><%= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
	 <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Review', new_review_path %>
