<div class="login_container">
    <div class="login_box">
        <div class="out_box">
            <h4>상품후기등록</h4>
            <div class="inner_box">
                <% if @product.id %>
            	   <h5><%= @product.p_title %> : <%= @product.p_comment %></h5>
                <% end %>
                <%= render 'form', review: @review, product: @product, user: @user %>
            </div>
        </div>
    </div>
</div>
