<p id="notice"><%= notice %></p>


<p>
  <strong>Product:</strong>
  <%= @review.product_id %>
</p>

<p>
  <strong>Fit:</strong>
  <%= @review.fit %>
</p>

<p>
  <strong>Span:</strong>
  <%= @review.span %>
</p>

<p>
  <strong>Length:</strong>
  <%= @review.length %>
</p>

<p>
  <strong>Height:</strong>
  <%= @review.height %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @review.weight %>
</p>

<p>
  <strong>User size:</strong>
  <%= @review.user_size %>
</p>

<p>
  <strong>Buy size:</strong>
  <%= @review.buy_size %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @review.comment %>
</p>

<p>
  <strong>Add comment:</strong>
  <%= @review.add_comment %>
</p>

<div class="card-image">
<div>
<img src="<%= @review.image.url %>"/>
</div>
</div>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
