<%= form_for(popup) do |f| %>
  <% if popup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(popup.errors.count, "error") %> prohibited this popup from being saved:</h2>

      <ul>
      <% popup.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	  
  <div class="field">
        <%= f.label :image, "팝업 이미지" %></br>
        <%= f.file_field :image %></br>
  </div>

  <div class="field">
    <%= f.label :width %>
    <%= f.text_field :width %>
  </div>

  <div class="field">
    <%= f.label :height %>
    <%= f.text_field :height %>
  </div>

   <div class="actions">
        <%= f.submit "팝업등록", class:"submit-button", data: {confirm: '팝업을 등록하시겠습니까?'} %>
      </div>
   <% end %>

