<p id="notice"><%= notice %></p>

<h1>Popups</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Status</th>
      <th>Width</th>
      <th>Height</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @popups.each do |popup| %>
      <tr>
        <td><%= popup.image %></td>
        <td><%= popup.status %></td>
        <td><%= popup.width %></td>
        <td><%= popup.height %></td>
        <td><%= link_to 'Show', popup %></td>
        <td><%= link_to 'Edit', edit_popup_path(popup) %></td>
        <td><%= link_to 'Destroy', popup, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Popup', new_popup_path %>
