<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @popup.image %>
</p>

<p>
  <strong>Status:</strong>
  <%= @popup.status %>
</p>

<p>
  <strong>Width:</strong>
  <%= @popup.width %>
</p>

<p>
  <strong>Height:</strong>
  <%= @popup.height %>
</p>

<%= link_to 'Edit', edit_popup_path(@popup) %> |
<%= link_to 'Back', popups_path %>
