<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="naver-site-verification" content="4431f1d7a55dc27ac60073a46a81877fa8a602e6"/>
    <meta name="google-site-verification" content="96EYANmTAEyVxcjHn4DpwezSqLGeg-DARo4elwxFt2I" />
    <meta name="description" content="남성바지 전문 쇼핑몰, 스트릿패션, 청바지, 슬랙스, 면바지, 반바지, 남자의 바지!">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>올댓스트릿</title>
    <%= favicon_link_tag 'a.ico' %>
    <!— 반응형 헤더파일 —>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <!— 로고 Static page —>
  <header>
  <div class="wrapper">
    <a href="/"><%= image_tag('atslogo.png', class: "logo1", style: "width: 180px; height: 30px;") %></a>
    <nav class="main-nav">
      <a href="/"><%= image_tag('atslogo.png', class: "logo2", style: "width: 285px; height: 45px; margin-top: 5px;") %></a>
      <ul class="right">
        <% if user_signed_in? %>
        <li><a href="/mypage/purchase_statement"><%= current_user.name %></a></li>
        <li><a><%= button_to "로그아웃", destroy_user_session_path, :method => :delete, class: "bgbtn", style:"border: none;" %></a></li>
        <% if current_user.bucket == 0 %>
          <li><a href="/cart/empty">장바구니</a></li>
        <% else %>
          <li><a href="/carts/<%= current_user.bucket %>">장바구니</a></li>
          <li><a href="/happy">고객행복센터</a></li>
        <% end %>
        
        <% else %>
          <li><a href="/users/sign_in">로그인</a></li>
          <li><a href="/users/sign_up">회원가입</a></li>
          <li><a href="/carts/<%= session[:cart_id]%>">장바구니</a></li>
          <li><a href="/happy">고객행복센터</a></li>
        <% end %>
      </ul>
    </nav>
    
    <div class="menu-toggle">
      <div class="hamburger"></div>
    </div>
  </div>
  </header>
  
  <nav style="height: 60px; line-height: 60px;">
    <div class="nav-content" style="border-top: 1px solid #f5f5f5;">
      <a href="/category/denims" class="content1">청바지</a>
      <a href="/category/slacks" class="content1">슬랙스</a>
      <a href="/category/pants" class="content1">면바지</a>
      <a href="/category/shorts" class="content1">반바지</a>
    </div>
  </nav>
  
	    <%= yield %>
	    
	    <a href="javascript:void(0);" id="rocketmeluncur" class="showrocket" ><i></i></a>
      <script type='text/javascript'>
          //<![CDATA[
          jQuery(window).scroll(function(){jQuery(window).scrollTop()<700?jQuery("#rocketmeluncur").slideUp(500):jQuery("#rocketmeluncur").slideDown(500);
              var e=jQuery("#ft")[0]?jQuery("#ft")[0]:jQuery(document.body)[0],t=$("rocketmeluncur"),n=(parseInt(document.documentElement.clientHeight),parseInt(document.body.getBoundingClientRect().top),parseInt(e.clientWidth)),r=t.clientWidth;if(1e3>n) { 
                  var l=parseInt(fetchOffset(e).left);l=r>l?2*l-r:l,t.style.left=n+l+"px"
                  }else t.style.left="auto",t.style.right="10px"}),jQuery("#rocketmeluncur").click(function(){jQuery("html, body").animate({scrollTop:"0px",display:"none"},{duration:600,easing:"linear"});
              var e=this;this.className+=" launchrocket",setTimeout(function(){e.className="showrocket"},800)});
          //]]>
      </script>
	    
	<!— 최하단 Static page —>
	<footer class="page-footer">
      <div class="row">
        <div class="col l3 s6">
          <span class="black-text" style="font-size: 18px; font-weight: 600;">ABOUT</span></br>
          <span class="black-text"></br>
            <a href="/service/about" class="service">회사소개</a></br>
            <a href="/service/guide" class="service">이용안내</a></br>
            <a href="/service/agreement" class="service">이용약관</a></br>
            <a href="/service/private" class="service">개인정보취급방침</a>
          </span></br>
        </div>
        <div class="col l3 s6">
          <span class="black-text" style="font-size: 18px; font-weight: 600;">INFO</span></br>
          <span class="black-text"></br>
            Tel : 070-7622-0401</br>
            Kakao : allthatstreet</br>
            Mail : wallystudio@naver.com</br>
          </span></br>
        </div>
        <div class="col l3 s6">
          <span class="black-text" style="font-size: 18px; font-weight: 600;">BANK</span></br>
          <span class="black-text"></br>
            179 - 062299 - 01 - 019</br>            
            IBK 기업은행</br>
            예금주 : 김장수 (월리스튜디오)
          </span>
        </div>
        <div class="col l3 s6">
          <span class="black-text" style="font-size: 18px; font-weight: 600;">NOTICE</span></br>
          <span class="black-text"></br>
            <a class="black-text service" href="https://www.doortodoor.co.kr/parcel/pa_004.jsp" target="_blank">배송조회</a></br>
            반품주소 : 하단참조</br>
            반품요청 : CJ대한통운(1588-1255)
          </span>
        </div>
      </div>
    <div class="footer-copyright black-text" style="background: #fafafa;">
      <span class="black-text">
        상호 : 월리스튜디오&emsp;|&emsp;주소 : 경기도 팔달구 수원시 중부대로 223번길 102 우만1차아파트 105동 508호(16496)</br>
        대표 : 김장수&emsp;|&emsp;사업자등록번호 : <a class="black-text" href="http://ftc.go.kr/info/bizinfo/communicationList.jsp" style="text-decoration: underline;" target="_blank">369-41-00369</a>
        &emsp;|&emsp;통신판매업신고번호 : 2017-수원팔달-0132&emsp;|&emsp;개인정보관리자 : 김장수</br></br>
        <span style="font-weight: 600; color: #616161;">© 2017 &nbsp;<a class="black-text" href="/admin">월리스튜디오</a>&nbsp; All Rights Reserved.</span></br></br>
      </span>
    </div>
  </footer>
  </body>
</html>

