<%= form_for(direct_order) do |f| %>
  <% if direct_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(direct_order.errors.count, "error") %> prohibited this direct_order from being saved:</h2>

      <ul>
      <% direct_order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
