<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div class="cart-box">
     <div class="cart-boxbox">
        <h4><strong>&nbsp;주문확인/결제</strong></h4>
             <div class="cart">
<form action="/payments/new" method="post">
<h6 style="font-size: 24px; font-weight: 500; margin-bottom: 20px;">상품정보</h6>
 <div class="grid">
          <table class="table">
            <tr>
                <th style="width: 30%;">
                    <%= @select.product.p_title %>
                </th>
                <td style="width: 70%;">
                    <div class="row">
                        <div class="col l2">
                        <img src="<%= @select.product.m_image.url %>" style="width: 75px; height:75px;"/>
                        </div>
                        <div class="col l10">
												색상 : <%= @select.selected_colorname %></br>
                        치수 : <%= @select.selected_size.upcase %></br>
                        수량 : <%= @select.product_quantity %></br>
                               <% @select.s_price = @select.product.p_price.to_i * @select.product_quantity %>
                        금액 : <%= number_to_currency(@select.s_price, precision: 0, unit: "원", format: "%n %u") %>
                        </div>
                    </div>
                </td>
            </tr>
      		   
           </table>
           <p style="text-align: right; margin-right: 10px;">
						      <span style="font-weight:600;">배송비</span> : 
								<% if @product_price.to_i >= 30000 %>	
									<% if @product_price.to_i - @usepoint.to_i < 27500 && @product_price.to_i - @usepoint >= 0  %>2,500 원
									<% else %>무료 
									<%end %> &emsp;
							  <% else %>2,500 원
								<% end %> &emsp;
            <span style="font-weight:600;">사용포인트</span> : <%= number_to_currency(@usepoint.to_i, precision: 0, unit: "원", format: "%n %u") %>
           </p>
  </div>
 <input type="hidden" name="product_name[]" value="<%= @select.id %>">


<h6 style="font-size: 24px; font-weight: 500; margin-bottom: 20px;">주문정보</h6>
           <div class="grid">
            <table class="table">
            <tr>
             <th style="width: 30%;">이름</th>
             <td style="width: 70%;"><%= @name %></td>
           </tr>
           <tr>
             <th style="width: 30%;">연락처</th>
             <td style="width: 70%;"><%= @number %></td>
           </tr>
              <tr>
             <th style="width: 30%;">배송주소</th>
             <td style="width: 70%;">
              <%= @order.postcode %></br>
              <%= @order.address %></br>
              <%= @order.address2 %></td>
           </tr>

           <tr>
             <th style="width: 30%;">요청사항</th>
             <td style="width: 70%;"><%= @request %></td>
           </tr>
           <tr>
             <th style="width: 30%;">최종결제금액</th>
						 <% if @product_price.to_i >= 30000 %>
              	<% if @product_price.to_i - @usepoint.to_i < 27500 && @product_price.to_i- @usepoint.to_i >= 0  %>
               		<% total_price = @product_price.to_i + 2500 - @usepoint.to_i %>
              	<% else %>
               		<% total_price = @product_price.to_i - @usepoint.to_i %>
              	<%end %>
						 <% else %>	
						     <% total_price = @product_price.to_i + 2500 - @usepoint.to_i %>
						 <% end %>
             <td style="width: 70%;">
              <%= number_to_currency(total_price, precision: 0, unit: "원", format: "%n %u") %>
             </td>
           </tr>
          </table>
          </div>
          </br>
<h6 style="font-size: 24px; font-weight: 500; margin-bottom: 20px;">결제방법 선택/결제</h6>
       <div class="grid">
        <table class="table">
         <tr>
          <th style="width: 30%;">
           결제방법
          </th>
          <td style="width: 70%;">
           <div class="charge-type">
             <input class="with-gap" name="type" type="radio" id="card" value="card" />
             <label for="card">신용카드</label>
             <input class="with-gap" name="type" type="radio" id="trans" value="trans" />
             <label for="trans">계좌이체</label> 
             <input class="with-gap" name="type" type="radio" id="vbank" value="vbank" />
             <label for="vbank">가상계좌</label> 
          <input class="with-gap" name="type" type="radio" id="phone" value="phone" />
             <label for="phone">휴대폰</label>
           </div>
					</td>
         </tr>
        </table>
       </div>



<div class="row">
         <p style="text-align: center; padding: 0px 20px 0px 20px;">
          <input type="checkbox" class="filled-in" id="filled-in-box" name="ordercheck" value="1" onchange="enableForms(this.checked)" required />
          <label for="filled-in-box" style="font-size: 13px; font-weight: 600;">(필수)</label>
          <span style="font-size: 15px;">구매하실 상품의 상품정보를 확인하였으며, 구매진행에 동의합니다.</span>
         </p>
       </div>
			  <input type="hidden" id="usepoint" name="usepoint" value="<%= @usepoint %>">
        <input type="hidden" id="addpoint" name="addpoint" value="<%= @addpoint %>">
			  <input type="hidden" id="buyer_name" name="buyer_name" value="<%= @name %>">
        <input type="hidden" id="phone_number" name="phone_number" value="<%= @number %>">
        <input type="hidden" id="email" name="email" value="<%= current_user.email %>">
        <input type="hidden" id="address" name="address" value="<%= @order.address %>">
        <input type="hidden" id="name" name="name" value="<%= @select.product.p_title %>">
			  <input type="hidden" id="amount" name="amount" value="<%= total_price%>">
			  <input type="hidden" id="postcode" name="postcode" value="<%= @order.postcode %>">
				<input type="hidden" id="delivery" name="delivery" value="<%= params[:delivery] %>">
        <input type="hidden" id="address2" name="address2" value="<%= @order.address2 %>">
				 <input type="hidden" id="request" name="request" value="<%= @request %>">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
         <button id="button1" class="charge-button" onclick="aomg();">결제</button>
				 </form>
  </div>
 </div>
</div>

               <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
                 <!-- Compiled and minified JavaScript -->
                 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
                
                <script>
                (function($)
                        $(document).ready(function(){
                                $('.collapsible').collapsible();
                        });
                }) (jQuery);
                </script>
                
                <script>
                    function enableForms (checkStatus){
                      document.getElementById("button1").disabled = !checkStatus;
                    };
                </script>

</body>
</html>
