<p id="notice"><%= notice %></p>

<h1>Direct Orders</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @direct_orders.each do |direct_order| %>
      <tr>
        <td><%= link_to 'Show', direct_order %></td>
        <td><%= link_to 'Edit', edit_direct_order_path(direct_order) %></td>
        <td><%= link_to 'Destroy', direct_order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Direct Order', new_direct_order_path %>
